
.call-to-action {
  padding: 10px 25px;
  background-color: var(--green);
  color: var(--white);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  margin-left: auto;
  display: inline-block;
  font-family: var(--acuminLight);
}
