
.cart-breadcrumb {
  background-color: var(--green);
  padding: 50px 0;
  color: var(--white);

  & a, & p {
    color: var(--white);
    padding-right: 40px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    font-size: 14px;
    letter-spacing: .4px;
    white-space: nowrap;
    margin-bottom: 0;

    @media (--large-max) {
      display: block;
      margin-top: 5px;
    }

    &.active {
      color: var(--yellow);
    }

    &:last-child {
      padding-right: 0;
    }

    &:last-child:after {
      display: none;
    }

    &:after {
      content: "";
      position: absolute;
      background-image: url(/images/icons/right-arrow.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;

      @media (--large-max) {
        display: none;
      }

    }

    &.completed {

      @media (--large-max) {
        padding-left: 20px;
      }

    }

    &.completed:before {
      content: "";
      position: absolute;
      background-image: url(/images/icons/checkmark.svg);
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 15px;
      height: 15px;

      @media (--tablet-min) {
        display: none;
      }

    }

    & span {

      @media (--tablet-min) and (--tablet-max) {
        display: none;
      }

    }

  }

  & .lock {

    @media (--tablet-min) {
      display: flex;
    }

  }

  & .lock > div {

    @media (--tablet-min) {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

  }

  & h1 {
    text-transform: uppercase;

    @media (--tablet-min) {
      margin-bottom: 0;
      margin-right: 40px;
    }

  }

}
