
.cart-additions {
  display: flex;
  justify-content: space-between;

  & > div {
    width: 50%;
    position: relative;

    &:last-of-type button {
      border-left: 1px solid var(--green);
    }

  }

  & button {
    color: var(--green);
    border-bottom: 1px solid var(--green);
    border-radius: 0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--acuminCondensed);

    @media (--tablet-max) {
      padding: 5px 0;
      font-size: 14px;
    }

    @media (--desktop-min) {
      height: 40px;
      font-size: 16px;
    }

    & span {
      display: block;

      @media (--tablet-max) {
        line-height: 1em;
      }

      @media (--desktop-min) {
        transition: transform 1s;
        height: 40px;
        line-height: 40px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
      }

    }

    & span.price {

      @media (--desktop-min) {
        transform: translateY(40px);
      }

    }

    &:hover {

      @media (--desktop-min) {
        color: var(--white);
        background-color: var(--green);
        transition: background-color .8s ease-in;
      }

      & span.size {

        @media (--desktop-min) {
          transform: translateY(-40px);
        }

      }

      & span.price {

        @media (--desktop-min) {
          transform: translateY(0);
        }

      }

    }

  }

}
