
.checkout-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .icons {
    color: var(--black);
    font-size: 14px;
    padding-left: 12px;
    position: relative;

    &:after {
      content: "\f108";
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 1px;
    }

    & span {

      @media (--large-max) {
        display: none;
      }

    }

  }

  & .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div {

      @media (--large-max) {
        text-align: center;
      }

    }

    & > div input {

      @media (--large-max) {
        float: none;
      }

    }

    & > div a {
      color: var(--black);
      text-align: center;
      display: block;
      margin-bottom: 40px;
      position: relative;

      &:after {
        content: "OR";
        position: absolute;
        font-size: 12px;
        bottom: -28px;
        left: 50%;
        margin-left: -9px;
      }

    }

  }

  & .call-to-action {
    float: right;

    @media (--small-max) {
      font-size: 14px;
    }

  }

  & input[type="submit"], a {

    @media (--medium-max) {
      font-size: 14px;
    }

  }

}

.summary-checkout-actions {

  & .call-to-action {
    clear: both;
    width: 280px;
    text-align: center;
    position: relative;

    @media (--medium-min) {
      width: 320px;
    }

    &:first-of-type {
      margin-bottom: 60px;

      &:after {
        content: "OR";
        position: absolute;
        bottom: -30px;
        left: 150px;
        font-size: 12px;
        color: var(--black);
        margin-bottom: -9px;
        margin-right: -9px;
      }

    }

  }

}
