
.flex-wrapper {

  @media (--tablet-min) {
    display: flex;
    justify-content: space-between;
  }

  & .flex-headline {
    text-transform: uppercase;

    @media (--large-max) {
      margin-bottom: 40px;
    }

    @media (--tablet-min) {
      width: 300px;
    }

    & span {
      display: block;
    }

    & .acumin-medium-bold   span {

      @media (--large-max) {
        display: inline;
      }

    }

  }

  & .flex-section {

    @media (--tablet-min) {
      width: calc(100% - 300px);
      padding-left: 40px;
    }

  }

  & .flex-actions {

    @media (--large-max) {
      margin-bottom: 40px;
    }

    @media (--tablet-min) {
      width: 40%;
      order: 2;
    }

    @media (--desktop-min) {
      width: 30%;
    }

  }

  & .flex-descriptions {

    @media(--tablet-min) {
      width: 60%;
      padding-right: 40px;
      order: 1;
    }

    @media(--desktop-min) {
      width: 70%;
      padding-right: 60px;
    }

  }

}
