
.slim-stage {
  margin-bottom: 80px;
  position: relative;
  min-height: 120px;

  @media (--large-min) {
    height: 15vh;
    min-height: 150px;
  }

  @media (--tablet-min) {
    min-height: 300px;
  }

  & .image {
    background-position: center;
    background-size: cover;
    background-image: url(/images/stage/chopping.jpg);

    @media (--large-max) {
      height: 200px;
    }

    @media (--tablet-min) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

  }

  & .lock {
    height: 100%;
    display: flex;
    align-items: center;

    @media (--large-max) {
      padding: 0;
    }

  }

  & h1 {
    z-index: 9;
    color: var(--green);
    margin-bottom: 0;
    font-family: var(--parklane);
    text-transform: uppercase;
    font-size: 40px;
    font-size: calc(30px + 2vw);
    text-transform: capitalize;
    line-height: 1em;
    z-index: 9;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;

    @media (--large-max) {
      position: absolute;
      top: 50%;
      left: 0;
      padding: 20px;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, .9);
    }

    @media (--tablet-min) {
      width: 100%;
      position: relative;
    }

    &:before {

      @media (--tablet-min) {
        content: '';
        position: absolute;
        padding: 250px;
        top: 50%;
        bottom: 0;
        left: -60%;
        right: -20%;
        transform: translateY(-50%);
        background: radial-gradient(ellipse,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, .7) 40%,
          rgba(255, 255, 255, .2) 60%,
          rgba(255, 255, 255, .1) 70%,
          rgba(255, 255, 255, 0) 100%
        );
      }

      @media (--desktop-min) {
        padding: 350px;
      }

      @media (--x-large) {
        padding: 550px;
      }

    }

    & div {
      position: relative;
      display: block;
    }

    & span {
      display: block;
      line-height: 1.8em;
      font-size: calc(12px + .5vw);
      margin-top: 0;
      font-family: var(--acuminMediumItalic);
      line-height: 1em;
      padding-left: 5px;
    }

  }

}
