
.with-underline {
  font-family: var(--acuminExtraLightItalic);
  font-size: calc(18px + 1vw);
  margin-bottom: 50px;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 1px;

  & span {
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      position: absolute;
      height: 1px;
      background-color: var(--green);
      left: 0;
      left: 50%;
      transform: translateX(-50%);
      bottom: -6px;
      width: 70%;
    }

  }

}
