
* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  outline: none;
}

body {
  position: relative;
  min-width: 320px;
  background-color: var(--white);
}

section {
  position: relative;
  margin-bottom: 80px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, li {
  line-height: 1.3em;
  font-size: 16px;
  font-weight: 400;

  @media (--tablet-min) {
    font-size: 18px;
  }

}

p {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

ul, ol {
  padding-left: 30px;
}

ul li {
  list-style: disc;
}

button {
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: inherit;
}

input[type='submit'] {
  -webkit-appearance: none;
}
