
@font-face{
  font-family:"Apercu";
  src:url("/fonts/apercu_regular.woff2") format("woff2"),
}

@font-face{
  font-family:"Didot";
  src:url("/fonts/didot-regular.woff2") format("woff2"),
}

@font-face{
  font-family:"flama";
  src:url("/fonts/flama-basic.woff2") format("woff2"),
}

@font-face{
  font-family:"flama-bold";
  src:url("/fonts/flama-bold.woff2") format("woff2"),
}

:root {

  --didot:      'Didot', serif;
  --apercu:     'Apercu', sans-serif;
  --flama:      'flama', sans-serif;
  --flamabold:  'flama-bold', sans-serif;

  --white:        #ffffff;
  --black:        #171717;
  --green:        #659331;
  --light-green:  #AFFF55;
  --off-green:    #D3FFA1;
  --darker-green: #6A7F51;
  --dark-green:   #8CCC44;
  --gray:         #7f7f7f;
  --mid-gray:     #a7a7a7;

  font-family: var(--flama);
  font-size: 17px;
  font-weight: 400;

}
