
@font-face{
  font-family:"Didot";
  src:url("/fonts/didot-regular.woff2") format("woff2"),
}

:root {

  --nimbus:   'nimbus-sans', sans-serif;
  --didot:    'Didot', serif;

  --white:        #ffffff;
  --black:        #171717;
  --green:        #659331;
  --light-green:  #AFFF55;
  --off-green:    #D3FFA1;
  --darker-green: #6A7F51;
  --dark-green:   #8CCC44;
  --gray:         #7f7f7f;
  --mid-gray:     #a7a7a7;

  font-family: var(--nimbus);
  font-size: 17px;
  font-weight: 400;

}
