
{% extends "_layout" %}
{% includeCssFile "/healthtextdetails.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="nimbus-stage"><div>Health</div></h1>
    </div>
  </section>

  <section>

    <div class="lock">

      <div class="flex-wrapper">

        <div class="flex-headline">

          <p>All Topics</p>
          <p class="tag">Eating</p>

        </div>

        <div class="flex-section">

          <h1>Eat smaller but more often</h1>

          <p>Denying your body food when it's hungry is unhealthy.  Binge eating when your hungry is unhealthy as well.  Where is the line between giving your body too much or too little?</p>

          <h3>Too Little</h3>
          <p>Your body is communicating a need to you when it is hungry.  That need could be induced by chemical sweeteners or boredom, but that is an article for another day.</p>
          <p>The symptoms of hunger are unmistakable.  They include: Dizziness, headache, irritability, lack of concentration, and light-headedness.  Ignoring these symptoms will lead to a delay your progress in the short term and severe health issues over time.</p>
          <p>Working out without enough nutrients to rehydrate your body will reduce any positive gains and</p>

          <h3>Too Much</h3>
          <p>Over eating in the short term can delay your progress even more than under eating.  A body that is over feed

        </div>

      </div>

    </div>

  </section>

{% endblock %}
