
{% extends "_layout" %}
{% includeCssFile "/health.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Health</div></h1>
    </div>
  </section>

  <section>

    <div class="lock">

      <h1>Health Topics</h1>

      <div class="flex-wrapper">

        <div class="flex-headline">

          <h2>Eating</h2>

        </div>

        <div class="flex-section">

          <div style="background-image: url(/uploads/health)">

          </div>

        </div>

      </div>

    </div>

  </section>

{% endblock %}
