
@import "../master.css";
@import "./login.css";
@import "./order.css";

.account-two-column .lock {

  @media (--tablet-min) {
    display: flex;
  }

}

.account-navigation {

  @media (--large-max) {
    margin-bottom: 60px;
  }

  @media (--tablet-min) {
    width: 240px;
  }

  & p {
    margin-bottom: 10px;
  }

  & a {
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--green);
    font-size: 16px;
    font-family: var(--acuminExtraLight);

    @media (--tablet-min) {
      padding-left: 10px;
    }

    &:first-of-type {
      border-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

  }

}

.account-content {

  @media (--tablet-min) {
    width: calc(100% - 240px);
    padding-left: 80px;
  }

}

.account-info {
  display: flex;

  @media (--tablet-min) {
    justify-content: center;
  }

  & p {
    display: flex;
  }

  & span {
    width: 150px;
    display: block;
  }

}

#password-reset {
  display: flex;
  align-items: center;
  min-height: 60vh;
  justify-content: center;

  & .lock {
    max-width: 700px;
  }

  & p {
    margin-bottom: 60px;
  }

  & form {
    max-width: 500px;
    margin: 0 auto;
  }

}

.regiseration-confirmation {
  text-align: center;
  display: none;
}

.local-disclaimer {
  margin-bottom: 20px;

  & label {
    width: 100%;
    display: flex;
    text-transform: none;
    font-size: 14px;
  }

  & input {
    width: 20px;
    margin-top: 7px;
    margin-right: 5px;
  }

}
