
#checkout-login {

  & #login-form {
    max-width: 600px;
    margin: 0 auto;
  }

  & .acumin-large  {
    margin-bottom: 40px;
  }

  & .already-register {
    text-align: center;
    margin-bottom: 10px;

    & .call-to-action {
      position: relative;
      padding-right: 50px;

      & span:after {
        content: "\f29e";
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-weight: 700;
        font-size: 26px;
      }

    }

  }

  & .register-signup {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      margin-right: 10px;
      margin-bottom: 0;
    }

    & .register-cta {
      text-align: center;
      font-size: 22px;
      font-size: calc(18px + .5vw);
      display: inline-block;

      & span {
        position: relative;
        padding-left: 25px;
      }

      & span:after {
        content: "\f12c";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

    }

  }

  & .divider {
    text-align: center;
    padding: 40px 0;
    color: var(--green);
    margin-bottom: 0;
    font-family: var(--acuminThinItalic);

    @media (--desktop-min) {
      padding: 50px 0;
    }

    & span {
      position: relative;
      font-size: 60px;
      display: inline-block;
      text-transform: uppercase;
      line-height: 1em;

      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100px;
        top: 50%;
        transform: rotateY(-50%);

        @media (--tablet-min) {
          width: 200px;
        }

        @media (--desktop-min) {
          width: 300px;
        }

      }

      &:before {
        background: linear-gradient(90deg, transparent 0%, var(--green) 100%);
        right: 100px;
      }

      &:after {
        background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
        left: 100px;
      }

    }

  }

  & .guest-checkout {

    @media (--tablet-min) {
      max-width: 600px;
      margin: 0 auto;
    }

    & > div > p  {
      font-family: var(--acuminSemiBold);
      font-size: 22px;
    }

  }

}

#customer-info {
  display: none;

  & input#zip {
    max-width: 150px;
  }

  & input#phone {
    max-width: 250px;
  }

  & input#city {
    max-width: 250px;
  }

  & select {
    max-width: 400px;
  }

}
