
#orders {
  min-height: 60vh;

  & h1 {
    margin-bottom: 30px;
    font-family: var(--acuminThin);
    font-size: calc(26px + 1.25vw);
  }

  & .order-entry {
    border-top: 1px solid var(--gray);
    padding-top: 30px;
    margin-bottom: 30px;
    max-width: 650px;

    &:last-of-type {
      margin-bottom: 0;
    }

    & .date {
      margin-bottom: 20px;

      & p:not(.acumin-tiny) {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 5px;
      }

      & .acumin-tiny {
        margin-bottom: 0;
      }

    }

  }

  & .flex {
    display: flex;
  }

  & .total {

    & .cost {
      margin-top: 10px;
      padding-top: 10px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        height: 1px;
        left: -50px;
        right: 0;
        background-color: var(--black);
      }

    }

  }

  & .title {
    font-size: 14px;

    & span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 18px;
    }

  }

  & .cost {
    margin-left: auto;
  }

}
