
{% set segment = craft.request().getLastSegment() %}

<div class="cart-breadcrumb">

  <div class="lock">

    <h1>

      {% if segment == 'customer' %}
        <span>Customer</span>Information
      {% endif %}

      {% if segment == 'checkout' %}
        <span>Order</span>Summary
      {% endif %}

      {% if segment == 'pickup' %}
        <span>Pickup</span>Options
      {% endif %}

      {% if segment == 'billing' %}
        <span>Order</span>Billing
      {% endif %}

    </h1>

    <div>

      {% if segment=="customer" %}
        <a href="/checkout/" class='completed'><span>Order</span> Summary</a>
        <p class='active'>Customer <span>Information</span></p>
        <p><span>Order</span> Billing</p>
      {% endif %}

      {% if segment=="pickup" %}
        <a href="/checkout/" class='completed'><span>Order</span> Summary</a>
        <p class='active'>Pickup <span>Options</span></p>
        <p><span>Order</span> Billing</p>
      {% endif %}

      {% if segment=="billing" %}
        <a href="/checkout/" class='completed'><span>Order</span> Summary</a>
        <a href="/checkout/customer" class='completed'>Customer <span>Information</span></a>
        <p class="active"><span>Order</span> Billing</p>
      {% endif %}

    </div>

  </div>

</div>
