
{% set nowDate = "now"|date_modify("+0 day") %}
{% set expectedDate = "now"|date_modify("+3 day") %}
{% set month = craft.calendar.month({ date: "today" }) %}
{% set nextMonth = craft.calendar.month({ date: month.nextDate }) %}

<div class="calendar-wrapper" data-calendar="{{ location }}">

  <div class="calendars">

    {% include "components/calendar-logic.twig" with {
      'month' : month,
      'today': true,
      'expectedDate' : expectedDate,
      'location' : location
      }
    %}

    {% if nowDate.format('d') > 22 %}
      {% include "components/calendar-logic.twig" with {
        'month' : nextMonth,
        'today': null,
        'expectedDate' : expectedDate,
        'location' : location
        }
      %}
    {% endif %}
  </div>

  <div class="color-code">
    <div>
      <div class="current-delivery-date"><span></span> Current Delivery Date</div>
      <div class="delivery-date-options"><span></span> Available Delivery Dates</div>
      <div class="today-date"><span></span> Today</div>
    </div>
  </div>

</div>
