
{% set segment = craft.request().getLastSegment() %}

<div class="cart-breadcrumb">

  <div class="lock">

    <h1 class="acumin-large-bold">

      {% if segment == 'cart' %}
        <span>Shopping</span>Cart
      {% endif %}

      {% if segment == 'customer' %}
        <span>Customer</span>Information
      {% endif %}

      {% if segment == 'confirmation' %}
        <span>Order</span>Confirmation
      {% endif %}

    </h1>

    <div>

      <a href="/shop/cart"
        class='{% if segment=="cart" %} active {% endif %} {% if segment=="customer" or segment=="confirmation" %} completed {% endif %}'>
      <span>Shopping</span> Cart</a>

      <a href="/shop/customer"
        class='{% if segment=="customer" %} active {% endif %} {% if segment=="confirmation" %} completed {% endif %}'>
      Customer Information</a>

      <a href="/shop/confirmation"
        class='{% if segment=="confirmation" %} active {% endif %}'>
      <span>Order</span> Confirmation</a>

    </div>

  </div>

</div>
