
<footer>

  <div class="contact">

    <div class="lock">

      <div class="identifier">
        <img src="/images/logo/white.svg" alt="image of a white logo"/>
      </div>

      <div>

        <div class="links">
          <p class="acumin-medium"><span>Contact Us</span></p>
          <a href="mailto:info@macromeals.life">info@macromeals.life</a>
          <a href="tel:14434025295">1.443.402.5295</a>
        </div>

        <div class="social">
          <p class="acumin-medium "><span>Connect With Us</span></p>
          <a href="https://www.facebook.com/macromeals.life/" target="_blank"><span class="sr-only">Facebook</span></a>
          <a href="https://www.instagram.com/macromeals.life/" target="_blank"><span class="sr-only">Instagram</span></a>
          <a href="https://twitter.com/macromealslife" target="_blank"><span class="sr-only">Twitter</span></a>
        </div>

      </div>

    </div>

  </div>

  <div class="info">
    <div class="lock">
      <div>
        <p>&copy;2017 MacroMeals.life</p>
        <a href="/pages/privacy">Privacy Policy</a>
        <a href="/pages/terms">Terms & Conditions</a>
        <a href="/pages/faq">FAQ</a>
      </div>
      <p class="love"><span>Made With</span></p>
    </div>
  </div>

</footer>
