
<footer>

  <div class="contact">

    <div class="lock">

      <div class="links">
        <p class="with-underline didot-large"><span>Contact Us</span></p>
        <div>
          <p>Email</p>
          <a href="mailto:info@macromeals.life">info@macromeals.life</a>
        </div>
        <div>
          <p>Phone</p>
          <a href="tel:">1.444.555.8888</a>
        </div>
        <div>
          <p>Mail</p>
          <address>
            <p>3149 Hidden Ridge Ter</p>
            <p>Abingdon MD, 21009</p>
          </address>
        </div>
      </div>

      <div class="social">
        <p class="with-underline didot-large"><span>Connect With Us</span></p>
        <a href="https://www.facebook.com/macromeals.life/" target="_blank"><span class="sr-only">Facebook</span></a>
        <a href="https://www.instagram.com/macromeals.life/" target="_blank"><span class="sr-only">Instagram</span></a>
        <a href="https://twitter.com/macromealslife" target="_blank"><span class="sr-only">Twitter</span></a>
      </div>

    </div>

  </div>

  <div class="info">
    <div class="lock">
      <div>
        <p>&copy; MacroMeals.life</p>
        <a href="">Contact</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms & Conditions</a>
      </div>
      <p class="love"><span>Made With</span></p>
    </div>
  </div>

</footer>
