
{% set cartItemsTotal = 0 %}
{% for item in cart.lineItems %}
  {% set cartItemsTotal = cartItemsTotal + item.qty %}
{% endfor %}

<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/" class="icons ion-ios-home"><span>Home</span></a>
      <a href="/shop/quick-order"><span>Quick Order</span></a>
      <a href="/shop/"><span>Meals</span></a>
    </nav>

    <div class="overlay-actions">

      <button class="login account" data-overlay="login-form">Login</button>
      <a href="/account" class="account">Account</a>

      <div class="menu-toggle" data-showing='false'>
        <div class="menu-button">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>

      <button class="cart" data-overlay="cart-summary">
        <div class="number">{{ cartItemsTotal }}</div>
        <img src="/images/icons/cart.svg" />
      </button>

    </div>

  </div>

  <div class="header-overlay cart-summary" aria-hidden='true'>

    <div class="order-items"></div>

    <div class="header-cart-actions">
      <a href="/checkout/cart">Modify Cart</a>
      <span>Or</span>
      <a href="/checkout" class="call-to-action">Checkout</a>
    </div>

  </div>

  {% if bodyLoginForm is not defined %}
    <div class="header-overlay login-form" aria-hidden="true">
      {% include "components/login-form.twig" %}
    </div>
  {% endif %}

  <menu>

    <div class='mobile-nav'>
      <a href="/shop/quick-order"><div>Quick Order</div></a>
      <a href="/shop/"><span>Meals</span></a>
      {% if currentUser %}
        <a href="/account"><div>Account</div></a>
      {% else %}
        <a href="/account/login"><div>Login</div></a>
      {% endif %}
    </div>

  </menu>

</header>
