
<header>

  <menu>

    <div class='mobile-nav'>
      <a href="/shop"><div>Meals</div></a>
      <a href="/macros"><div><span>What are</span>Macros</div></a>
    </div>

  </menu>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/shop"><span>Meals</span></a>
      <a href="/quick-order"><span>Quick Order</span></a>
      <a href="/macros"><span>Why Macros</span></a>
    </nav>

    <div class="actions">

      <div class="menu-toggle" data-showing='false'>
        <div class="menu-button">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class="text">Menu</p>
      </div>

      <a href="/shop/cart" class="register">
        <img src="/images/store/cart.svg" />
      </a>

    </div>

  </div>

</header>
