
<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <div class="actions">

      <nav>
        <a href="/store">Meals</a>
        <a href="/blog">Fitness</a>
        <a href="/macros"><span>What Are</span>macros</a>
      </nav>

      <a href="/register" class="call-to-action">Sign In</a>

      <div class="menu-toggle">
        <div class="menu-button">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Menu</p>
      </div>

    </div>

  </div>

</header>

<menu>

  <div>
    <button>Close</button>
    <nav>
      <a href="/store"><div>Meals</div></a>
      <a href="/blog"><div>Fitness</div></a>
      <a href="/macros"><div><span>What are</span>Macros</div></a>
    </nav>
  </div>

</menu>
