
<header>

  <menu>

    <div class='mobile-nav'>
      <a href="/shop"><div>Meals</div></a>
      <a href="/shop/quick-order"><div>Quick Order</div></a>
      <a href="/pages/macros"><div><span>What are</span>Macros</div></a>

      {% if not currentUser %}
        <a href="/account/login"><div>Login</div></a>
      {% else %}
        <a href="/account/orders"><div>Orders</div></a>
      {% endif %}

    </div>

  </menu>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/shop"><span>Meals</span></a>
      <a href="/shop/quick-order"><span>Quick Order</span></a>
      <a href="/pages/macros"><span>Why Macros</span></a>
      {% if currentUser %}
        <div class="dropdown">
          <button>Account</button>
          <div class="options" aria-hidden='true'>
            <a href="/account/orders">Orders</a>
            <a href="{{ logoutUrl }}">Logout</a>
          </div>
        </div>
      {% endif %}
    </nav>

    <div class="actions">

      {% if not currentUser %}
        <a href="/account/login" class="login">Login</a>
      {% endif %}

      <div class="menu-toggle" data-showing='false'>
        <div class="menu-button">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p class="text">Menu</p>
      </div>

      <button class="register">
        <img src="/images/icons/cart.svg" />
      </button>

    </div>

  </div>

  <div class="shop-actions" aria-hidden='true'>

    <div class="order-items"></div>
    <a href="/checkout" class="call-to-action">Checkout</a>

  </div>

</header>
