
<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo.svg" alt="image of the macro meals logo" />
    </a>

    <div class="actions">
      <a href="/register" class="call-to-action">Sign In</a>

      <div class="menu-toggle">
        <div class="menu-button">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <p>Menu</p>
      </div>

    </div>

  </div>

</header>

<menu>

  <div>
    <button>Close</button>
    <nav>
      <a href=""><div>Products</div></a>
      <a href="/macros.twig"><div><span>What are</span>Macros</div></a>
      <a href=""><div>FAQ</div></a>
      <a href=""><div>Recipes</div></a>
    </nav>
  </div>

</menu>
