
<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo.svg" alt="image of the macro meals logo" />
    </a>

    <div class="menu-toggle">

      <div class="menu-button">
        <div></div>
        <div></div>
        <div></div>
      </div>

      <p>Menu</p>

    </div>

  </div>

</header>

<menu>

  <div>
    <button>Close</button>
    <nav>
      <a href=""><div>About</div></a>
      <a href=""><div><span>How does</span>Macro Meals Help</div></a>
      <a href=""><div>FAQ</div></a>
      <a href=""><div>Recipes</div></a>
      <a href=""><div><span>What are</span>Macros</div></a>
    </nav>
  </div>

</menu>
