
<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/store"><span>Meals</span></a>
      <a href="/how"><span>How To Order</span></a>
      <a href="/macros"><span>Why Macros</span></a>
    </nav>

    <div class="actions">

      <a href="/register" class="sign-up"><span>Sign Up</span></a>
      <a href="/register" class="register"><span>Log In</span></a>

    </div>

  </div>

</header>
