
<header>

  <div class="lock">

    <a href="/" class="logo">
      <img src="/images/logo/green.svg" alt="image of the macro meals logo" />
    </a>

    <nav>
      <a href="/store"><span>Meals</span></a>
      <a href="/health"><span>Health</span></a>
      <a href="/macros"><span>Why Macros</span></a>
    </nav>

    <div class="actions">

      <a href="/register" class="sign-up"><span>Sign Up</span></a>
      <a href="/register" class="register"><span>Log In</span></a>

    </div>

  </div>

</header>

{# <menu>

  <div>
    <button>Close</button>
    <nav>
      <a href="/store"><div>Meals</div></a>
      <a href="/health"><div>Health</div></a>
      <a href="/macros"><div><span>What are</span>Macros</div></a>
    </nav>
  </div>

</menu> #}
