
<a href="/shop/"><span>Meals</span></a>
<div class="dropdown" data-showing="false">
  <button><span>Order</span></button>
  <div class="nav-expand" >
    <div>
      <a href="/shop/order">For this week</a>
      <a href="/shop/subscriptions">Subscriptions</a>
    </div>
  </div>
</div>
<div class="dropdown" data-showing="false">
  <button><span>Macros</span></button>
  <div class="nav-expand" >
    <div>
      <a href="/pages/macros">What are Macros</a>
      <a href="/pages/calculator">Calculate Your Macros</a>
    </div>
  </div>
</div>
<div class="dropdown" data-showing="false">
  <button><span>About</button>
  <div class="nav-expand" >
    <div>
      <a href="/pages/about">Our History</a>
      <a href="/pages/why">Our Process</a>
      <a href="/pages/industry">The industry</a>
      <a href="/pages/shipping-instructions">Delivery & Pickups</a>
    </div>
  </div>
</div>
