
<section class="notice">

  <div class="lock">

    <div class="text">
      <div class="toggle">
        <h1 class="nimbus-small-bold"><span>NOTICE</span></h1>
        <p class="nimbus-small">The store will open on January 1st, 2018.</p>
      </div>
      <div class="expand-content">
        <div>
          <p>We are working with local vendors to provide the best ingredients at the best cost for you.</p>
          <p>As a result, we are closing unless you are already a member.  Please check back with us in December for food updates and pricing.</p>
        </div>
      </div>
    </div>

  </div>

</section>
