
<div id="shipping-validation-alternatives">

  <div class="modal">
    <button class="icons close"></button>

    <div class="instructions">
      <p>There address provided isn't recognized by UPS.</p>
      <p>Please select one of the alternatives listed:</p>
    </div>

    <div class="alternatives"></div>

  </div>

</div>
