
#featured-meal {
  background-color: var(--light-green);
  padding: 50px 0;

  & .acumin-large  {
    color: var(--white);
  }

  & .product {
    position: relative;
    padding: 20px;

    @media (--tablet-min) {
      display: flex;
      align-items: center;
    }

    @media (--desktop-min) {
      overflow: hidden;
      padding: 40px;
    }

    @media (--large-max) {
      background-color: var(--white);
    }

    &:before {

      @media (--tablet-min) {
        content: '';
        background-color: var(--white);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 20%;
      }

    }

    & .info {
      position: relative;

      & .acumin-medium-bold  {
        line-height: 1em;
      }

      & .acumin-medium-bold  span {
        line-height: 1em;
        display: inline-block;
      }

      & .text {
        display: flex;
        flex-wrap: wrap;

        & > * {

          @media (--tablet-min) {
            width: 50%;
          }

        }

        & > div {

          @media (--large-max) {
            order: 2;
          }

        }

        & .pie-chart {
          max-width: 250px;
          max-height: 250px;

          @media (--large-max) {
            order: 1;
            margin: 0 auto 20px auto;
          }

        }

      }

    }

    & img {

      @media (--tablet-min) {
        width: 40%;
        height: 100%;
        position: relative;
      }

    }

  }

}
