
footer {

  & a {
    color: var(--white);
  }

  & .nimbus-medium {
    text-transform: uppercase;
  }

  & .contact {
    background-color: var(--darker-green);
    color: var(--white);
    padding: 40px 0;

    & .lock {

      @media (--desktop-min) {
        display: flex;
        justify-content: space-between;
      }

      & > div {

        &:first-of-type {

          @media (--tablet-max) {
            margin-bottom: 40px;
          }

          @media (--desktop-min) {
            width: 150px;
          }

          & img {
            max-width: 150px;
          }

        }

        &:last-of-type {

          @media (--large-min) {
            display: flex;
            justify-content: space-around;
          }

          @media (--desktop-min) {
            width: calc(100% - 180px);
          }

        }

      }

    }

    & .links {

      @media (--large-max) {
        margin-bottom: 40px;
      }

      @media (--tablet-min) {
        padding-right: 50px;
      }

      & a {
        display: block;
        position: relative;
        padding-left: 30px;
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }

        &:before {
          content: "";
          position: absolute;
          left: 0;
          height: 20px;
          width: 20px;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

      }

      & a[href*="tel"]:before {
        background-image: url(/images/icons/phone.svg);
      }

      & a[href*="mailto"]:before {
        background-image: url(/images/icons/envelop.svg);
      }

    }

    & .social {

      @media (--large-min) {
        text-align: center;
      }

      & a {
        display: inline-block;
        height: 40px;
        width: 40px;
        background-position: center;
        background-size: contain;
        color: var(--white);
        margin-left: 30px;
      }

      & a[href*="facebook"] {
        background-image: url(/images/icons/facebook.svg);
        margin-left: 0;
      }

      & a[href*="instagram"] {
        background-image: url(/images/icons/instagram.svg);
      }

      & a[href*="twitter"] {
        background-image: url(/images/icons/twitter.svg);
      }

    }

  }

  & .info {
    padding: 20px 0;
    color: var(--white);
    position: relative;
    background-color: #7c6650;

    & p, & a {
      display: inline-block;
      margin-bottom: 0;
      font-size: 14px;
    }

    & a {
      position: relative;

      @media (--tablet-min) {
        padding-left: 10px;
      }

      @media (--large-max) {
        display: block;
        margin-top: 10px;
      }

      &:before {

        @media (--tablet-min) {
          content: "";
          position: absolute;
          left: 5px;
          top: 50%;
          transform: translateY(-50%);
          height: 12px;
          width: 1px;
          background-color: var(--white);
        }

      }

      &:first-of-type {
        padding-left: 0;
      }

      &:first-of-type:before {
        display: none;
      }

    }

    & .lock {
      display: flex;
      position: relative;
      z-index: 9;
      align-items: center;
    }

    & .lock > div p {
      margin-right: 40px;
    }

  }

  & .love {
    margin-left: auto;
    padding-right: 60px;
    text-transform: uppercase;

    & span {

      @media (--large-max) {
        display: none;
      }

    }

    &:after {
      content: "";
      background-image: url(/images/footer/love.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: -20px;
      bottom: -20px;
      display: block;
      position: absolute;
      right: 0;
      width: 95px;

      @media (--large-max) {
        width: 155px;
      }

    }

  }

}
