
form {
  overflow: hidden;

  & label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .2px;

    @media (--tablet-min) {
      width: 50%;
    }

  }

  & select {
    width: 100%;
    border: none;
    height: 44px;
    border: 1px solid #999;
  }

  & input[type="email"],
  & input[type="number"],
  & input[type="password"],
  & input[type="text"] {
    height: 44px;
    width: 44px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #999;
    padding: 0 10px;
    font-weight: 300;
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: var(--black);
  }

  & input[type="email"]::placeholder,
  & input[type="number"]::placeholder,
  & input[type="password"]::placeholder,
  & input[type="text"]::placeholder {
    color: #B8B8B8;
    font-size: 12px;
  }

  & input[type="submit"] {
    height: 44px;
    padding: 0 20px;
    float: right;
    border: none;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;

    &:disabled {
      opacity: .3;
    }

  }

  & h1 {
    font-family: var(--acuminExtraLightItalic);
    font-size: calc(18px + 1vw);
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  & .checkbox-field {
    margin-bottom: 20px;

    & label {
      display: inline-block;
      width: 100%;
    }

  }

  & .field {
    position: relative;
  }

  & .input {

  }

  /* Errors */

  & [has-error="true"] {

    & label {
      color: red;
    }

    & input[type="email"],
    & input[type="number"],
    & input[type="password"],
    & input[type="text"] {
      border: 1px solid red;
      background-color: transparent;
    }

    & input[type="email"]::placeholder,
    & input[type="number"]::placeholder,
    & input[type="password"]::placeholder,
    & input[type="text"]::placeholder {
      visibility: hidden;
    }

  }


  & [has-error="false"] {

    & label {
      color: green;
    }

    & input[type="email"],
    & input[type="password"],
    & input[type="text"] {
      border: 1px solid green;
    }

  }

  & .errors {

    & p {
      display: none;
      color: red;
      font-size: 14px;
      font-weight: 700;

      @media (--tablet-min) {
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 10px;
        width: 50%;
        text-align: right;
        white-space: nowrap;
      }

      & .required {
        z-index: 1;
      }

    }

    & p[show-error='false'] {
      display: none;
    }

    & p[show-error='true'] {
      display: block;
    }

  }

  & .craft-errors {
    color: var(--red);
    display: none;
  }

  /* Form Layout */

  & .one-column, & .two-column {

    @media (--large-min) {
      margin-bottom: 40px;
    }

  }

  & .two-column {
    clear: both;

    @media (--large-min) {
      display: flex;
      justify-content: space-between;
    }

    & > div {
      position: relative;

      @media (--medium-max) {
        margin-bottom: 20px;
      }

      @media (--large-min) {
        width: 49%;
      }

    }

  }

  /* Required Icons */

  & [data-required] span {
    position: relative;

    &:after {
      content: "*";
      color: red;
      position: absolute;
    }

  }

  & [data-required] {

    & span:after {
      right: -10px;
      top: -5px;
      font-size: 14px;
    }

  }

  & .required-disclaimer {
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: right;

    & span {
      position: relative;
    }

    & span:after {
      content: "*";
      color: red;
      position: absolute;
      left: -10px;
      top: 0;
      right: inherit;
    }

  }

}

form#user-info {
  max-width: 760px;
  margin: 0 auto;
}

form#product-addition {

  & .errors {

    & p {
      display: none;
      width: 100%;
      text-align: left;
      position: relative;
      padding-top: 10px;
      margin-bottom: 0;
    }

  }

  & input[type="submit"] {
    display: none;
  }

  & input[type="number"] {
    margin-bottom: 0;
    text-align: center;
    margin-right: 10px;
    width: 50px;
    height: 30px;
    margin: 0 auto;

    @media (--large-min) {
      font-size: 16px;
    }

  }

  & .form-group {
    position: relative;
  }

}

#login-form {

  @media (--medium-max) {
    max-width: 320px;
    margin: 0 auto;
  }

  & .login-form-actions {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  & .forgot-password {
    margin-bottom: 0;
    font-size: 12px;
    text-align: right;
  }

  & .errors p[show-error=true] {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    margin-top: -15px;
  }

  & .register-cta {
    color: var(--black);
  }

}
