
header {
  background-color: var(--white);
  z-index: 99;
  position: relative;

  & .lock {
    display: flex;
    align-items: center;
    max-width: inherit;
    padding-right: 0;
    height: 60px;
  }

  & .logo {

    & img {
      height: 40px;
      margin-top: 10px;
    }

  }

  & nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100%;

    @media (--medium-max) {
      display: none;
    }

    & a {
      text-transform: uppercase;
      color: var(--green);
      line-height: 1em;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 0 20px;

      &:hover {
        background-color: var(--green);
        color: var(--white);
      }

    }

  }

  & .actions {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;

    & a {
      text-transform: uppercase;
    }

  }

  & .register {
    padding: 0 20px;
    height: 100%;
    display: flex;
    background-color: var(--green);
    color: var(--white);

    & img {
      height: 20px;
      width: 30px;
      align-self: center;

      @media (--large-min) {
        height: 30px;
        width: 60px;
      }

    }

  }

  & .menu-toggle {
    cursor: pointer;
    margin-right: 20px;

    @media (--large-min) {
      display: none;
    }

    & p {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0;
    }

  }

  & .menu-button {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0 auto 5px auto;

    & > div {
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      background-color: var(--black);

      &:first-child {
        top: 4px;
      }

      &:nth-of-type(2n) {
        top: 10px;
      }

      &:last-child {
        top: 16px;
      }

    }

  }

  & div[data-showing='true'] .menu-button {

    & > div {
      transition: transform .5s;

      &:first-child {
        top: 10px;
        transform: rotate(45deg);
      }

      &:nth-of-type(2n) {
        display: none;
      }

      &:last-child {
        top: 10px;
        transform: rotate(-45deg);
      }

    }

  }

}

menu {
  transition: height .7s ease-out;
  height: 0;
  overflow: hidden;

  @media (--large-min) {
    display: none;
  }

  & button {
    height: 40px;
    display: block;
    width: 100%;
    padding-left: 30px;
    text-transform: uppercase;
    color: var(--black);
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    border-bottom: 1px solid var(--mid-gray);

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 14px;
      width: 2px;
      top: 50%;
      margin-top: -7px;
      left: 20px;
      background-color: var(--black);
    }

  }

  & a {
    padding: 25px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--gray);
    border-bottom: 1px solid var(--mid-gray);
    letter-spacing: 1px;

    & span {
      display: block;
      font-size: 12px;
      width: 100%;
      line-height: .7em;
      text-align: center;
    }

  }

}
