
header {
  background-color: var(--white);
  z-index: 99;
  position: relative;

  & .lock {
    display: flex;
    align-items: center;
    max-width: inherit;
    padding-right: 0;
    height: 60px;
  }

  & .logo {

    & img {
      height: 40px;
      margin-top: 10px;
    }

  }

  & nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100%;

    @media (--medium-max) {
      display: none;
    }

    & a , & button{
      text-transform: uppercase;
      color: var(--green);
      line-height: 1em;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 0 20px;
      border-radius: 0;

      &:hover {
        background-color: var(--green);
        color: var(--white);
      }

    }

    & button {
      z-index: 99;
      position: relative;
      background-color: var(--white);
    }

    & .dropdown {
      position: relative;
      height: 100%;
    }

    & .dropdown[showing="true"] button {
      background-color: var(--green);
      color: var(--white);
    }

    & .options {

      @media (--large-min) {
        position: absolute;
        width: 100%;
        background-color: var(--white);
        left: 0;
        top: -30px;
        z-index: 1;
      }

      & a {
        height: 44px;
        border-bottom: 1px solid var(--green);
        border-left: 1px solid var(--green);
        border-right: 1px solid var(--green);
      }

    }

    & .options[aria-hidden = 'true'] {

      @media (--large-min) {
        transition: top .5s;
      }

    }

    & .options[aria-hidden = 'false'] {

      @media (--large-min) {
        top: 60px;
        transition: top 1s;
      }

    }

  }

  & .actions {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & .login {
    margin-right: 18px;
    font-size: 15px;
    text-transform: none;

    @media (--medium-max) {
      display: none;
    }

  }

  & .register {
    padding: 0 20px;
    height: 100%;
    display: flex;
    background-color: var(--green);
    color: var(--white);
    border-radius: 0;

    & img {
      height: 20px;
      width: 30px;
      align-self: center;

      @media (--large-min) {
        height: 30px;
        width: 60px;
      }

    }

  }

  & .shop-actions {
    position: absolute;
    background-color: var(--white);
    right: 0;
    top: 70px;
    padding: 20px 40px;
    z-index: 9;
    box-shadow: -3px 3px 5px -3px #616161;

    &[aria-hidden="true"] {
      display: none;
    }

    &[aria-hidden="false"] {
      display: block;
    }

    &:before {
      content: "";
      position: absolute;
      right: 40px;
      top: -10px;
      width: 0;
    	height: 0;
    	border-left: 8px solid transparent;
    	border-right: 8px solid transparent;
    	border-bottom: 10px solid var(--white);
    }

    & p {
      margin-bottom: 0;
    }

    & .order-item {
      padding: 20px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--green);
      display: flex;

      &:last-of-type {
        margin-bottom: 30px;
      }

      & h2 {
        line-height: 1em;
        padding-left: 10px;
        position: relative;

        &:before {
          content: attr(data-attr);
          position: absolute;
          left: -20px;
          font-size: 36px;
          top: 50%;
          transform: translateY(-50%);
        }

      }

      & span {
        display: block;
        font-size: 12px;
        line-height: 1em;
      }

    }

    & .call-to-action {
      width: 100%;
      text-align: center;
    }

  }

  & .menu-toggle {
    cursor: pointer;
    margin-right: 20px;

    @media (--large-min) {
      display: none;
    }

    & p {
      text-transform: uppercase;
      font-size: 12px;
      margin-bottom: 0;
    }

  }

  & .menu-button {
    position: relative;
    height: 20px;
    width: 20px;
    margin: 0 auto 5px auto;

    & > div {
      position: absolute;
      height: 2px;
      left: 0;
      right: 0;
      background-color: var(--black);

      &:first-child {
        top: 4px;
      }

      &:nth-of-type(2n) {
        top: 10px;
      }

      &:last-child {
        top: 16px;
      }

    }

  }

  & div[data-showing='true'] .menu-button {

    & > div {
      transition: transform .5s;

      &:first-child {
        top: 10px;
        transform: rotate(45deg);
      }

      &:nth-of-type(2n) {
        display: none;
      }

      &:last-child {
        top: 10px;
        transform: rotate(-45deg);
      }

    }

  }

}

menu {
  transition: height .7s ease-out;
  height: 0;
  overflow: hidden;

  @media (--large-min) {
    display: none;
  }

  & button {
    height: 40px;
    display: block;
    width: 100%;
    padding-left: 30px;
    text-transform: uppercase;
    color: var(--black);
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    border-bottom: 1px solid var(--mid-gray);

    &:before, &:after {
      content: "";
      position: absolute;
      top: 0;
      height: 14px;
      width: 2px;
      top: 50%;
      margin-top: -7px;
      left: 20px;
      background-color: var(--black);
    }

  }

  & a {
    padding: 25px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--gray);
    border-bottom: 1px solid var(--mid-gray);
    letter-spacing: 1px;

    & span {
      display: block;
      font-size: 12px;
      width: 100%;
      line-height: .7em;
      text-align: center;
    }

  }

}
