
header {
  background-color: var(--white);
  z-index: 99;
  position: relative;

  & .lock {
    display: flex;
    align-items: center;
    max-width: inherit;
    padding-right: 0;
    height: 60px;
  }

  & .logo {

    & img {
      height: 40px;
      margin-top: 10px;
    }

  }

  & nav {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 100%;

    @media (--medium-max) {
      display: none;
    }

    & a {
      text-transform: uppercase;
      color: var(--green);
      line-height: 1em;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 16px;
      padding: 0 20px;

      &:hover {
        background-color: var(--green);
        color: var(--white);
      }

    }

  }

  & .actions {
    margin-left: auto;
    height: 100%;
    display: flex;
    align-items: center;

    & a {
      text-transform: uppercase;
    }

  }

  & .register {
    padding: 0 20px;
    height: 100%;
    display: flex;
    background-color: var(--green);
    color: var(--white);

    & img {
      height: 20px;
      width: 30px;
      align-self: center;

      @media (--large-min) {
        height: 30px;
        width: 60px;
      }

    }

  }

}
