
.meals-by-category {

  & .meals-controller {
    padding: 20px 0;
    margin-bottom: 80px;
    background-color: #f9f9f9;
    opacity: .2;

    & form {

      @media (--large-min) {
        display: flex;
        align-items: center;
      }

    }

    & h1 {
      text-transform: uppercase;
      font-family: var(--acuminBold);

      @media (--medium-max) {
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--black);
        font-size: 18px;
      }

      @media (--large-min) {
        font-size: 28px;
      }

    }

    & .filters {

      @media (--large-min) {
        border-left: 1px solid var(--black);
        margin-left: 40px;
        padding-left: 40px;
      }

      & > div {
        margin-bottom: 30px;

        &:last-of-type {
          margin-bottom: 0;
        }

      }

      & p {
        margin-bottom: 10px;
        font-family: var(--parklane);
        font-size: 22px;
      }

      & label {
        margin-bottom: 0;
        margin-left: 30px;
        width: inherit;
        width: 100%;

        &:first-of-type {
          margin-left: 0;
        }

      }

      & input {
        cursor: pointer;
      }

    }

    & .filter-cats {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      & > div {

        @media (--medium-max) {
          width: 50%;
        }

        @media (--large-min) {
          margin-left: 30px;
        }

        &:first-of-type {
          margin-left: 0;
        }

      }

    }

    & .protein .filter-cats {


    }

  }

  & .meal-group {
    position: relative;
    min-height: 250px;

    & .loader {
      display: block;
    }

  }

  & .meal-list {
    display: none;
  }

  & .cat-description {
    max-width: 800px;
    font-size: 22px;
    margin-bottom: 30px;
  }

  & .category-headline {
    margin-bottom: 0;
    display: block;
    font-size: calc(22px + 1vw);
    line-height: 1.4em;
    font-family: var(--acuminExtraLight);

    @media (--tablet-min) {
      max-width: 70%;
    }

    @media (--tablet-min) {
      padding-left: 50px;
    }

  }

  & .entries-group {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    padding: 0 50px;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr;
      padding: 0;

      @media (--large-min) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
      }

      @media (--desktop-min) {
        grid-template-columns: 1fr 1fr 1fr;
      }

    }

    @supports(display: -ms-grid) {
      display: flex;
    }

  }

  & .meal-entry {
    margin-bottom: 100px;

    @media (--large-min) {
      width: 45%;
    }

    @media (--desktop-min) {
      width: 30%;
    }

    @supports (display: grid) {
      width: 100%;
      margin-bottom: 0;
      padding-bottom: 40px;

      @media (--medium-max) {
        margin-bottom: 20px;
      }

    }

    @supports(display: -ms-grid) {
      @media (--large-min) {
        width: 45%;
      }

      @media (--desktop-min) {
        width: 30%;
      }
    }

    &:hover .meal-detail .overlay {
      opacity: 1;
      transition: opacity .8s;
    }

  }

  & .meal-detail {
    position: relative;
    display: block;

    & img {
      display: block;
    }

    & .overlay {
      position: absolute;
      background-color: rgba(255, 255, 255, .88);
      right: 0;
      left: 0;
      top: 80%;

      & p {
        margin-bottom: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
      }

      & .meal-title {
        font-family: var(--parklane);
        font-size: 16px;
        display: block;
        height: 35px;

        @media (--medium-min) {
          font-size: 20px;
          height: 43px;
        }

        & span {
          display: block;
          white-space: nowrap;
          position: absolute;
          height: 20px;
          left: 50%;
          top: 10px;
          transform: translateX(-50%);
          letter-spacing: 1px;

          &:after {
            content: "";
            height: 1px;
            background-color: var(--green);
            position: absolute;
            left: 10%;
            right: 10%;
            top: 22px;

            @media (--medium-min) {
              top: 27px;
            }

          }

        }

      }

    }

  }

}
