
.order-category-groups {

  & .category-headline {
    text-align: right;
    margin-bottom: 0;
    color: var(--green);

    & span {
      font-family: var(--parklane);
      font-size: calc(20px + 1vw);
      display: inline-block;
      text-transform: uppercase;
      line-height: 1.1em;
    }

  }

  & .group-body {
    margin-bottom: 120px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  & .product {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--green);

    &:last-of-type {
      margin-bottom: 40px;
    }

    &:first-of-type {
      margin-top: 0;
    }

  }

  & .title {
    position: relative;
    margin-bottom: 20px;
    text-transform: capitalize;

    & a {
      font-size: 10px;
      line-height: 1em;

      @media (--medium-max) {
        display: block;
        margin-top: 5px;
      }

      @media (--large-min) {
        margin-left: 5px;
      }

    }

  }

  & .variant-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    margin-bottom: 20px;

    @media (--medium-max) {
      flex-wrap: wrap;
    }

    @media (--large-min) {
      padding: 0 30px;
    }

    &:last-of-type {
      margin-bottom: 0;
      position: relative;
    }

    & .variant-info {
      width: 50%;

      @media (--large-min) {
        display: flex;
        justify-content: space-between;
      }

    }

    & .price {

      @media (--tablet-min) {
        text-align: center;
      }

      & .sale-price {
        position: relative;
        font-size: 14px;

        &:before {
          content: "";
          position: absolute;
          height: 1px;
          top: 54%;
          transform: translateY(-50%);
          background-color: red;
          left: 0;
          right: 0;
        }

      }

    }

  }

  & .addition-text {
    margin-top: 30px;
    text-align: right;
    line-height: 1em;
    font-size: 14px;
    display: none;

    @media (--large-min) {
      padding-right: 30px;
    }

    & span {
      font-family: var(--acuminSemiBold);
      text-transform: uppercase;
      display: block;
      line-height: 1em;
      font-size: 16px;
      margin-bottom: 5px;
    }

  }

}
