
{% extends "_layout" %}
{% includeCssFile "/health.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Health</div></h1>
    </div>
  </section>

  <section>

    <div class="lock">

      <div>

        <h1 class="nimbus-large-bold">Here are 10 tips to get in shape for summer the healthy way.</h1>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">1. Ignore the hype and lose the extremes</h2>
          <p>If a program offers “instant” results—AKA, 30 days or less—it is probably either complete nonsense or extremely unhealthy. As fabulous as it would be to go from size 12 to size 6 in one month, it’s simply not feasible or sustainable.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">2. Make SMALL changes consistently</h2>
          <p>Instead of jumping on the next 10 day juice cleanse or giving up carbs forever, make small healthy consistent changes. Many studies have shown those who focus on slow and steady lifestyle changes are far better at sustaining it.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">3. Stop comparing yourself to other people</h2>
          <p>It’s okay to be in friendly competition with your gym buddies. It’s not okay to get so caught up in trying to be the best that you become discouraged when others seem to be making more progress than you. Everyone is different. Bodies come in all shapes and sizes, with differing metabolic rates, body fat percentages and capabilities. The best thing to do is to judge your own progress. If you’re doing better than you were last month, or last week, then you’re doing something right.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">4. Get Your HEART pumping</h2>
          <p>Regular exercise helps you achieve both physical and mental wellness. Make movement part of your life and exercise most days of the week.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">5. Build lean muscle and body confidence with Strength Training</h2>
          <p>Strength training is the secret to maintaining a healthy body and mindset throughout every season of your life. It gives your metabolism a major BOOST by increasing the metabolic rate, allowing the body burn more calories throughout the day. It also increases lean muscle mass and overall strength, helping to improve performance, endurance, and energy levels. These things combined work to help you maintain your weight goals over a long period of time.</p>
          <p>Not only that but lifting weights has been shown to improve psychological health, by increasing self-esteem, confidence, and self-worth (all KEY components if you want a healthy body and mind for your lifetime). Aim to strength train 2-3 times per week to reap the lifetime benefits. Get motivated here and follow the A.C.E. strength training guide to get started.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">6. Find Your Team</h2>
          <p>A good support system is a vital element to reaching your goals in a healthy way. Often times it’s not about getting tons of support, but about finding the RIGHT people to help you. Communicate your goals to people in your life who will hold you accountable, help you overcome obstacles, and keep you from going crazy with extremes (no 30 day juice cleanses!) when it comes to reaching your goals.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">7. Don’t diet. Just eat HEALTHY</h2>
          <p>If you go ON a diet you will eventually have to go off a diet. Want lasting, healthy, positive change that doesn’t have a yo-yo effect? Improve your relationship to food and learn to nourish yourself. Don’t just eat salads this summer – learn about nutrition and how to eat to feel amazing – it’s worth investing time in and will help you eat healthy for all the seasons.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">8. MIX it UP</h2>
          <p>Routine is the enemy of results. After doing the same cardio/strength routine your body adapts and you burn fewer calories. Eventually your results – weight loss, muscle definition – will slow down. And repeatedly placing stress on the same muscles and joints could lead to an overuse injury. Once every 2-3 weeks, change one thing about your workout regimen. Take a dance class instead of your saturday run, or use a resistance band instead of dumbbells. Not only will you see better results with a varied plan, mixing things up may help you stick with exercise in the end. Refresh your mind, body, and spirit on a regular basis by mixing things up consistently.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">9. Stop criticizing your body</h2>
          <p>Quit grabbing the skin around your waist and staring at it angrily in the mirror. Stop complaining to your friends about how bloated you are or how much you’d rather look a certain way. Stop! None of this is helpful. Obsessing over how great some model or over how you wish you had a different body part is only detrimental to your health. If you continue to beat yourself up over your imperfections, you’ll never be happy with yourself. You are going to be in your skin for the rest of your life – you might as well learn to love and get comfortable in it.</p>
        </div>

        <div class="redactor-style">
          <h2 class="nimbus-medium ">10. Think beyond the bathing suit. FOCUS ON HOW YOUR LIFE FEELS.</h2>
          <p>Getting into shape is great for beach season, but it’s also much more than that. Eating clean and exercising regularly won’t just make you look good—a healthy lifestyle will make you feel better all-around. So while getting bikini-ready might be a good starting point for your fitness journey, it shouldn’t be the sole reason for the changes you make to your lifestyle.</p>
          <p>If your perspective is to focus on how you feel more than on how you look, you’ve got a much better chance of sticking with your goals and being healthy long-term. The more energized and productive you feel, the more you’re going to want to continue doing the things that are contributing to your wellbeing. Live a life that feels good on the inside, not just one that looks good in a bikini.</p>
        </div>

      </div>

    </div>

  </section>

{% endblock %}
