
{% extends "emails/_email-layout" %}

  {% block main %}

  <!-- Main -->
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>

        {% include "emails/components/email-statement.twig" with {'small' : 'Thank You', 'big': 'FOR YOUR ORDER'} %}

        <!-- Body -->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
          <tr>
            <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
              <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                <tr>
                  <td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
                </tr>
              </table>

              {% if currentUser %}
                {% include "emails/components/email-text-cta.twig" with {'text' : 'Review your invoice below or click the button to view you account', 'link': 'https://www.macromeals.life/account', 'linkText': 'My Account'} %}
              {% else %}
                {% include "emails/components/email-text-cta.twig" with {'text' : 'Review your invoice below' } %}
              {% endif %}

              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                 <tr>
                   <td height="40" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
                 </tr>
              </table>

              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" valign="top" width="270">
                    {% include "emails/components/email-order-number.twig" with {'number' : order.shortNumber } %}
                    {% include "emails/components/email-shipping-method.twig" %}
                  </th>
                  <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" valign="top" width="20">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td><div style="font-size:0pt; line-height:0pt;" class="mobile-br-15"></div></td>
                      </tr>
                  </table>
                  </th>
                  <th class="column-top" style="font-size:0pt; line-height:0pt; padding:0; margin:0; font-weight:normal; vertical-align:top; Margin:0" valign="top" width="270">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td>

                          {% include "emails/components/email-order-date.twig" with {'date' : order.dateOrdered.format('F d, Y') } %}
                          {% include "emails/components/email-order-delivery.twig" with {'shippingMethod' : order.shippingMethodHandle } %}

                       </td>
                     </tr>
                   </table>
                  </th>
                </tr>
              </table>

              {% include "emails/components/email-order-summary.twig" with {'order' : order } %}

              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
                <tr>
                  <td height="35" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
                </tr>
              </table>
            </td>
           <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
         </tr>
        </table>

        <!-- END Body -->

        {% include "emails/components/email-social.twig" %}

      </td>
    </tr>
  </table>
  <!-- END Main -->

{% endblock %}
