
{% extends "_layout" %}
{% includeCssFile "/store.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Meals</div></h1>
    </div>
  </section>

  <section>

    <div class="lock">
      <p>The meals store will be available soon.</p>
      <p>Please register for our beta program to be included in our early bird program.</p>
      <a href="/beta" class="call-to-action">Sign Up</a>
    </div>

  </section>

{% endblock %}
