
{% extends "_layout" %}
{% includeCssFile "/account.css" %}
{% set bodyClass = 'with-border' %}

{% block main %}

  <section id="password-reset">

    <div class="lock">

      <p>Please enter your username or password.  A password recovery email will be sent to you.  If you are having issues with reseting the password, please contact <a href="help@macromeals.life" target="_blank">help@macromeals.life</a></p>

      <form method="post" id="forgotten-password" accept-charset="UTF-8">
          {{ getCsrfInput() }}
          <input type="hidden" name="action" value="users/sendPasswordResetEmail">
          <input type="hidden" name="redirect" value="/">

          <div class="field" data-required="true" valid="false">
            <label for="loginName"><span>Username or email</span></label>
            <div class="input">
              <input type="text"
                     name="loginName"
                     id="loginName"
                     placeholder="johndoe"
                     value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}" />

              <div class="errors">
                <p class="required">Username is a required field</p>
                <p class="duplicate"><span></span> is not available.  Please select another username</p>
              </div>
            </div>
          </div>

          {% if errors is defined %}
            {% for error in errors %}
              <p class="craft-error">{{ error }}</p>
            {% endfor %}
          {% endif %}

          <input type="submit" value="Submit" class="call-to-action">
      </form>

    </div>

  </section>

{% endblock %}
