
{% extends "_layout" %}
{% includeCssFile "/account.css" %}
{% set bodyClass = 'with-border' %}

{% set cart = craft.commerce.getCart() %}

{% block main %}

  <section>

    <h1>Orders</h1>

  </section>

{% endblock %}
