
#login-options {
  padding: 40px 0;

  @media (--desktop-min) {
    padding: 60px 0;
  }

  @media (--desktop-min) {
    padding: 100px 0;
  }

  & .acumin-large  {
    margin-bottom: 40px;
  }

  & .register-options{

    @media (--tablet-min) {
      display: flex;
      align-items: center;
    }

    & > div {

      @media (--tablet-min) {
        width: 50%;
        padding: 0 40px;
      }

      @media (--desktop-min) {
        padding: 0 80px;
      }

    }

  }

  & .registered {

    & p {
      padding-top: 10px;
      text-align: right;

      & a {
        color: var(--black);
        font-size: 14px;
      }

    }

    & .registered-form {

      & .actions {

        @media (--large-max) {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        & button {

          @media (--tablet-min) {
            display: none;
          }

        }

      }

      & .checkbox {
        text-align: right;
        margin-bottom: 10px;
      }

    }

  }

  & .register-signup {

    @media (--large-max) {
      display: none;
    }

    & p {
      line-height: 1em;
    }

    & p span {
      font-size: 14px;
      line-height: 1em;
    }

    & .register-cta {
      color: var(--white);
      text-align: center;
      text-transform: uppercase;
      background-color: var(--green);
      color: var(--white);
      font-size: 22px;
      font-size: calc(18px + 1vw);
      width: 100%;
      border-radius: 0;
      padding: 30px;
      display: block;

      & span {
        position: relative;
        padding-left: 40px;
      }

      & span:after {
        content: "\f12c";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }

    }

  }

  & .divider {
    text-align: center;
    padding: 40px 0;
    color: var(--green);
    margin-bottom: 0;

    @media (--desktop-min) {
      padding: 60px 0;
    }

    & span {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100px;
        top: 50%;
        transform: rotateY(-50%);

        @media (--tablet-min) {
          width: 200px;
        }

        @media (--desktop-min) {
          width: 300px;
        }

      }

      &:before {
        right: 100px;
        background: linear-gradient(90deg, transparent 0%, var(--green) 100%);
      }

      &:after {
        left: 100px;
        background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
      }

    }

  }

  & .guest-checkout {

    @media (--tablet-min) {
      max-width: 600px;
      margin: 0 auto;
    }

    & .acumin-large  {

      @media (--tablet-min) {
        text-align: center;
      }

    }

  }

}

#register {
  display: none;
}

#customer-info {
  padding: 50px 0;
  margin-bottom: 0;

  & form {
    max-width: 700px;
    margin: 0 auto;
  }

  & .form-group {
    margin-bottom: 40px;

    @media (--tablet-min) {
      margin-bottom: 60px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    & > p {

      @media (--tablet-min) {
        margin-bottom: 40px;
      }

    }

  }

  & input#zip {
    max-width: 150px;
  }

  & input#phone {
    max-width: 250px;
  }

  & input#city {
    max-width: 250px;
  }

  & select {
    max-width: 400px;
  }

}
