
.cart-breadcrumb {
  margin-bottom: 100px;
}

.acumin-large  {
  margin-bottom: 80px;
}

.order-summary {
  margin-bottom: 80px;

  & .item {

    @media (--large-min) {
      display: flex;
      margin-bottom: 40px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--light-gray);
    }

  }

  & h2 {

    @media (--large-min) {
      width: 70%;
    }

  }

  & .quantity {

    @media (--large-min) {
      width: 20%;
    }

  }

  & .price {

    @media (--large-min) {
      width: 10%;
    }

  }

  & .total {
    overflow: hidden;

    & h2 {
      width: 80%;
      float: left;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 24px;
    }

    & p {
      width: 10%;
      float: right;
    }

  }

}

.slider {
  position: relative;
  height: 300px;
  overflow: hidden;

  & .slide {
    position: absolute;
    left: 100%;
    width: 100%;
  }

}

.customer-address {

  @media (--tablet-min) {
    display: flex;
  }

  & > div:first-of-type {

    @media (--large-max) {
      margin-bottom: 30px;
    }

    @media (--tablet-min) {
      margin-right: 50px;
    }

    @media (--desktop-min) {
      margin-right: 80px;
    }

  }

  & address {

    & p {
      margin-bottom: 5px;
    }

  }

}

#cart-list {

  & .no-items {
    padding: 100px 0;
    margin-bottom: 0;

    & p {
      margin-bottom: 40px;
    }

  }

  & .item-list {
    padding: 60px 0;
    min-height: 50vh;

    & .items {
      margin-bottom: 40px;
    }

    & .order-item {
      position: relative;

      @media (--tablet-min) {
        display: flex;
        margin-bottom: 40px;
      }

      &:last-of-type {

        @media (--tablet-min) {
          margin-bottom: 0;
        }

      }

      & .image {
        background-position: center;
        background-size: cover;
        width: 100px;
        align-self: normal;

        @media (--desktop-min) {
          width: 140px;
        }

      }

      & .wrapper {
        padding-bottom: 40px;

        @media (--large-max) {
          margin-bottom: 40px;
          border-bottom: 1px solid var(--light-gray);
        }

        @media (--tablet-min) {
          display: flex;
          align-items: center;
          border-bottom: 1px solid var(--light-gray);
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 40px;
          width: 100%;
        }

      }

      & h2 {

        @media (--large-max) {
          margin-bottom: 40px;
          width: calc(100% - 60px);
        }

        @media (--tablet-min) {
          width: 300px;
        }

      }

      & .item-actions {
        margin-left: auto;
        display: flex;
        align-items: center;

        @media (--large-max) {
          justify-content: space-between;
        }

      }

      & .increment {
        margin-right: 40px;
        border: 1px solid var(--light-gray);
        height: 40px;
        display: flex;
        align-items: center;

        @media (--large-max) {
          order: 2;
        }

        & span, & button {
          height: 100%;
          width: 40px;
          display: inline-block;
        }

        & button {
          position: relative;
        }

        & span {
          line-height: 40px;
          text-align: center;
          font-size: 14px;
        }

        & .minus {
          border-right: 1px solid var(--light-gray);

          &:after {
            content: "\f2f4";
          }

        }

        & .plus {
          border-left: 1px solid var(--light-gray);

          &:after {
            content: "\f2c7";
          }

        }

      }

      & .cost {
        margin-bottom: 0;

        @media (--large-max) {
          order: 3;
        }

        @media (--tablet-min) {
          margin-right: 40px;
        }

      }

      & .remove {

        @media (--large-max) {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -5px;
        }

        &:after {
          content: "\f2d7";
          font-size: 35px;
          color: var(--light-gray);
        }

      }

    }

    & .cart-total {
      margin-bottom: 80px;

      & p {
        margin-bottom: 0;
        text-align: right;

        @media (--tablet-min) {
          padding-right: 70px;
        }

        & span {
          display: inline-block;
          padding-left: 20px;
          font-size: 30px;
          font-size: calc(26px + 1.25vw);
        }

      }

    }

  }



}
