
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/billing.js" %}

{% set cart = craft.commerce.getCart() %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login/checkout" 301 %}
  {% endif %}

  <script src="https://js.stripe.com/v3/"></script>

  {% include "components/breadcrumb.twig" %}

  <section id="customer-info">

    <div class="lock">

      <form method="POST" id="payment" data-cost="{{ cart.totalPrice | commerceCurrency(cart.currency, convert = true, format = false, stripZeros = true) }}" >

        <input type="hidden" name="action" value="commerce/payments/pay" />
        <input type="hidden" name="redirect" value="/checkout/complete" />

          <h1 class="acumin-medium-bold">Billing</h1>

          <div id="payment-request-button"></div>

          <div class="form-group">

            <div class="field card-name">
              <label>
                <span>Name</span>
                <div id="card-name-element" class="input">
                  <input type="text" placeholder="John Doe" />
                </div>
              </label>
            </div>

            <div class="field card-number">
              <label>
                <span>Card number</span>
                <div id="card-number-element" class="input"></div>
              </label>
            </div>

            <div class="field expiration">
              <label>
                <span>Expiration date</span>
                <div id="card-expiry-element" class="input"></div>
              </label>
            </div>

            <div class="field card-number">
              <label>
                <span>CVC</span>
                <div id="card-cvc-element" class="input"></div>
              </label>
            </div>

            <div class="field card-number">
              <label>
                <span>Zip Code</span>
                <div id="postal-code-element" class="input"></div>
              </label>
            </div>

          </div>

          <div id="card-errors" role="alert"></div>

          {% if craft.config.devMode and (craft.session.hasFlash('notice') or craft.session.hasFlash('error')) %}

            {% set noticeFlash = craft.session.getFlash('notice')|join('|') %}
            {% set errorFlash = craft.session.getFlash('error')|join('|') %}

            Notice: [{{  noticeFlash }}]
            Error: [{{  errorFlash }}]

            {% for test in errorFlash %}
              {{ test }}
            {% endfor %}

            {% endif %}

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Your Order Summary</span></a>
          <input type="submit" value="Submit Order" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
