
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/billing.js" %}

{% set cart = craft.commerce.getCart() %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/checkout-login" 301 %}
  {% endif %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  <script src="https://js.stripe.com/v3/"></script>

  {% include "components/breadcrumb.twig" %}

  <section id="customer-info">

    <div class="lock">

      <form method="POST" id="payment" data-cost="{{ cart.totalPrice | commerceCurrency(cart.currency, convert = true, format = false, stripZeros = true) }}" payment-request="true">

        <input type="hidden" name="action" value="commerce/payments/pay" />
        <input type="hidden" name="redirect" value="/checkout/complete?order={{cart.number}}" />

        <h1 class="acumin-medium-bold">Billing</h1>

        <div class="request-button">

          <div id="payment-request-button"></div>
          <p class="divider"><span>OR</span></p>

          <p>Enter Credit Card Information</p>

        </div>

        <div class="form-group">

          <div class="field card-name">
            <label>
              <span>Name</span>
              <div id="card-name-element" class="input">
                <input type="text" placeholder="John Doe" />
              </div>
            </label>
          </div>

          <div class="field card-number">
            <label>
              <span>Card number</span>
              <div id="card-number-element" class="input"></div>
            </label>
          </div>

          <div class="field expiration">
            <label>
              <span>Expiration date</span>
              <div id="card-expiry-element" class="input"></div>
            </label>
          </div>

          <div class="field card-number">
            <label>
              <span>CVC</span>
              <div id="card-cvc-element" class="input"></div>
            </label>
          </div>

          <div class="field card-number">
            <label>
              <span>Zip Code</span>
              <div id="postal-code-element" class="input"></div>
            </label>
          </div>

        </div>

        <div id="card-errors" role="alert"></div>

        <div class="checkout-actions">

          <a href="/checkout/summary" class="icons">Back <span>to Your Order Summary</span></a>
          <input type="submit" value="Submit Order" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
