
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/billing.js" %}

{% set cart = craft.commerce.getCart() %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login/checkout" 301 %}
  {% endif %}

  <script src="https://js.stripe.com/v3/"></script>

  {% include "components/breadcrumb.twig" %}

  <section id="customer-info">

    <div class="lock">

      <form method="POST" id="payment">

        <input type="hidden" data-stripe="exp_month" />
        <input type="hidden" data-stripe="exp_year" />

        <div class="form-group">

          <p class="acumin-medium-bold">Billing</p>

          <div class="card-number-expiration">

            <div class="number">
              <label>Card Number</label>
              <input type="text" maxlength="20" data-stripe="number" />
            </div>

            <div class="field expiration" valid="false">
              <label for="expiration"><span>Valid Thru</span></label>
              <div class="input">
                <input type="text"
                       id="expiration"
                       maxlength="5"
                       placeholder="MM/YY" />
                <div class="overlay">
                  <span>MM/YY</span>
                  <img src="/images/icons/checkmark-green.svg" />
                </div>
              </div>
            </div>

          </div>

          <div class="two-column">

            <div>
              <label>CVV/CVS</label>
              <input type="text" data-stripe="cvc" />
            </div>

            <div>
              <label>Billing Zip Code</label>
              <input type="text" data-stripe="address_zip" />
            </div>

          </div>

        </div>

        <div class="errors">
          <p class="expired">The date entered has expired</p>
        </div>

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Your Order Summary</span></a>
          <input type="submit" data-button="continue" value="Continue to Process Order" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
