
{% extends "_layout" %}
{% do view.registerCssFile('/checkoutStyle.css') %}
{% do view.registerJsFile('/complete.js') %}

{% set bodyClass = 'with-border' %}
{% set queryString = craft.request.getQuery('order') %}
{% set lastOrder = craft.commerce.orders.number(queryString) %}

{% block main %}

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=535636233485417&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>


  <section id="complete">

    <div class="item-list">

      <div class="lock">

        <h1>Thank you!</h1>

        <div class="summary">
          <p>Your order has been received.</p>
          <p>Your will receive an email with your details.</p>
          <p>Your order number is {{ lastOrder[0].shortNumber }}.</p>
        </div>

        <div class="steps">
          <h2>What happens now?</h2>
          <p>1) We buy all your ingredients from local vendors to ensure freshness.</p>
          <p>2) We will prepare all your ingredients by hand to ensure the quality.</p>
          <p>3) We cook your meals to perfection to ensure your meals retain their flavors during the reheating process.</p>
        </div>

        <div class="share">
          <h3>Want to share this milestone?</h3>
          <div class="options">
            <button class="fb-share"></button>
          </div>
        </div>

      </div>

    </div>

  </section>

{% endblock %}
