
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% set bodyClass = 'with-border' %}
{% set queryString = craft.request.getQuery('order') %}
{% set lastOrder = craft.commerce.orders.number(queryString) %}

{% block main %}

  <section id="complete">

    <div class="item-list">

      <div class="lock">

        <h1 class="acumin-large-bold">Thank you!</h1>
        <h2 class="acumin-medium">Your order is being processed</h2>
        <p>Your will receive an email with your details.</p>
        <p>Your order number is {{ queryString }}</p>

        <a href="/account/orders" class="call-to-action">View Previous Orders</a>

      </div>

    </div>

  </section>

{% endblock %}
