
{% extends "_layout" %}
{% includeCssFile "/confirmation.css" %}

{% block main %}

  {% include "components/cart-breadcrumb.twig" %}

  <section id="order-details">

    <div class="lock">

      <h1 class="acumin-large">Order Confirmation</h1>

       {# Order Summary #}

       {% include "components/cart-list.twig" %}

      {# user summary #}

      <div class="user-summary">

        <div class="customer-address">

          <div>
            <h2 class="acumin-small-bold">Shipping Address</h2>
            <address>
              <p>Josh Magness</p>
              <p>3149 Hidden Ridge Ter</p>
              <p>Abingdon, MD 21009</p>
            </address>
          </div>

          <div>
            <h2 class="acumin-small-bold">Billing Address</h2>
            <address>
              <p>Josh Magness</p>
              <p>3149 Hidden Ridge Ter</p>
              <p>Abingdon, MD 21009</p>
            </address>
          </div>

        </div>

      </div>

      {# Billing Summary #}

      <div class="billing">

        <form>

        </form>

      </div>

      <form>

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Your Billing</span></a>
          <input type="submit" value="Submit Your Order" class="call-to-action">

        </div>

      </form>


    </div>

  </section>

{% endblock %}
