
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/shipping.js" %}
{% set bodyClass = 'with-border' %}

{% set cart = craft.commerce.getCart %}
{% set shippingModel = cart.shippingAddress %}
{% set currentShippingMethod = cart.getShippingmethod %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  <form method="POST" id="pickup-options">

    {{ getCsrfInput() }}

    <input type="hidden" name="action" value="commerce/cart/updateCart">
    <input type="hidden" name="redirect" value="checkout/customer">
    <input type="hidden" name="shippingMethod" value="{% if cart.shippingMethod %}{{cart.shippingMethod.handle}}{% endif %}" />

    <section id="calendar">

      <div class="lock">

        <h1 class="acumin-headline"><span>Select your Delivery Date</span></h1>

        {% set targetDate = "today" %}
        {% set expectedDate = "now"|date_modify("+3 day") %}

        {% if expectedDate|date("D") == 'Sun' %}
          {% set expectedDate = "now"|date_modify("+5 day") %}
        {% endif %}

        {% if expectedDate|date("D") == 'Mon' %}
          {% set expectedDate = "now"|date_modify("+4 day") %}
        {% endif %}

        {% if cart.deliveryDate %}
          {% if cart.deliveryDate > expectedDate %}
            {% set deliveryDate = cart.deliveryDate %}
          {% else %}
            {% set deliveryDate = expectedDate %}
          {% endif %}
        {% else %}
          {% set deliveryDate = expectedDate %}
        {% endif %}

        <input type="hidden" name="fields[deliveryDate][date]" value="{{ deliveryDate.format('m/d/Y') }}">
        <input type="hidden" name="fields[deliveryDate][time]" value="5:00 AM">

        {% set month = craft.calendar.month({ date: targetDate }) %}
        {% set nextMonth = craft.calendar.month({ date: month.nextDate }) %}

        <div class="calendar-wrapper">

          <div class="calendars">

            {% set nowDate = "now"|date_modify("+0 day") %}

            {% include "components/delivery-calendar.twig" with {
              'month' : month,
              'today': true,
              'expectedDate' : expectedDate,
              'deliveryDate' : deliveryDate.format('d') > 4 ? deliveryDate : null
              }
            %}

            {% if nowDate.format('d') > 20 %}
              {% include "components/delivery-calendar.twig" with {
                'month' : nextMonth,
                'today': nowDate.format('d') > 1 ? true : false,
                'expectedDate' : expectedDate,
                'deliveryDate' : deliveryDate.format('d') < 4 ? deliveryDate : null
                }
              %}
            {% endif %}
          </div>

          <div class="color-code">
            <div>
              <div class="current-delivery-date"><span></span> Current Delivery Date</div>
              <div class="delivery-date-options"><span></span> Available Delivery Dates</div>
              <div class="today-date"><span></span> Today</div>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section class="checkout-actions">

      <div class="lock">

        <div class="actions">
          <a href="/checkout" class="icons">Back <span>to Shipping Options</span></a>
          <input type="submit" data-button="continue" value="Continue to Customer Information" class="call-to-action">
        </div>

      </div>

    </section>

  </form>

{% endblock %}
