
{% extends "_layout" %}
{% includeCssFile "/checkout.css" %}
{% includeJsFile "/customer.js" %}

{% block main %}

  {% requireLogin %}

  <script type="text/javascript">
    window.csrfTokenName = "{{ craft.config.csrfTokenName|e('js') }}";
    window.csrfTokenValue = "{{ craft.request.csrfToken|e('js') }}";
  </script>

  {% include "checkout/components/breadcrumb.twig" %}

  <section id="">

    <div class="lock">

      <form method="POST" id="address-info">

        <input type="hidden" name="action" value="commerce/cart/updateCart">
        <input type="hidden" name="redirect" value="checkout/summary">
        <input type="hidden" name="shippingAddressId" value="new">

        <div class="form-group">

          <p class="acumin-medium-bold">Contact Details</p>

          <div>
            <label for="firstName">First Name</label>
            <input type="text" name="shippingAddress[firstName]" id="firstName" />
          </div>

          <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="address[lastName]" id="lastName" />
          </div>

          <div>
            <label for="phone">Phone Number</label>
            <input type="text" name="address[phone]" id="phone" />
          </div>

        </div>

        <div class="form-group">

          <p class="acumin-medium-bold">Contact Address</p>

          <div>
            <label for="address">Address 1</label>
            <input type="text" name="address[address1]" id="address1" />
          </div>

          <div>
            <label for="address-two">Address 2</label>
            <input type="text" name="address[address2]" id="address2" />
          </div>

          <div>
            <label for="city">City</label>
            <input type="text" name="address[city]" id="city" />
          </div>

          <div>
            <label for="zip">Zip</label>
            <input type="text" name="address[zipCode]" id="zipCode" />
          </div>

          <div>
            <label for="state">State</label>
            {% include "checkout/components/states.twig" %}
          </div>

        </div>

        <div class="actions">
          <input type="submit" data-button="continue" value="Continue to Order Summary" class="call-to-action">
        </div>

      </form>

    </div>

  </section>

{% endblock %}
