
{% extends "_layout" %}
{% includeCssFile "/customer.css" %}
{% includeJsFile "/customer.js" %}

{% block main %}

  {% include "components/cart-breadcrumb.twig" %}

  <section id="register">

    <div class="lock">

      <div class="already-registered">

        <div class="action-event member">

          <p class="acumin-large">Already Registered?</p>

          <form class="registered-form">

            <div class="">
              <label>Email Address</label>
              <input type="text" />
            </div>

            <div class="">
              <label>Password</label>
              <input type="text" />
            </div>

            <div class="actions">
              <button class="register-cta">Sign up?</button>
              <input type="submit" value="Member Checkout" class="call-to-action" />
            </div>

          </form>

        </div>

        <div class="summary">

          <p>Not yet Registered?</p>

          <button class="register-cta">
            <span class="icons">Register</span>
          </button>

        </div>

      </div>

      <p class="acumin-stage divider"><span>Or</span></p>

      <div class="guest">

        <div>

          <p class="acumin-large">Guest Checkout</p>
          <div>
            <p>Don’t have an account? Checkout as a guest and you can create an account during the checkout process if you choose.</p>
            <p>Why do we ask for your email address?</p>
            <p>No need to set up an account, but we need your email address to send you an order receipt and keep you updated on the status of your order.</p>
          </div>

        </div>

        <div class="action-event guest">

          <div class="">
            <label>Email Address</label>
            <input type="text" />
          <div>

          <div>

          </div>

          <button class="call-to-action guest-cta">Guest Checkout</button>

        </div>

      </div>

    </div>

  </section>

  <section id="customer-info">

    <div class="lock">

      <form id="register" >

        <div class="form-group registration-details">

          <p class="acumin-medium-bold">Registration Details</p>

          <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" />
          </div>

          <div>
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>

        </div>

        <div class="form-group">

          <p class="acumin-medium-bold">Contact Details</p>

          <div>
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" />
          </div>

          <div>
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" />
          </div>

          <div>
            <label for="phone">Phone Number</label>
            <input type="text" name="phone" id="phone" />
          </div>

        </div>

        <div class="form-group">

          <p class="acumin-medium-bold">Contact Details</p>

          <div>
            <label for="address">Address 1</label>
            <input type="text" name="address" id="address" />
          </div>

          <div>
            <label for="address-two">Address 2</label>
            <input type="text" name="address-two" id="address-two" />
          </div>

          <div>
            <label for="city">City</label>
            <input type="text" name="city" id="city" />
          </div>

          <div>
            <label for="zip">Zip</label>
            <input type="text" name="zip" id="zip" />
          </div>

          <div>
            <label for="state">State</label>
            <select>
             <option disabled selected value> please choose </option>
             <option>Alabama</option>
             <option>Alaska</option>
             <option>Arizona</option>
             <option>Arkansas</option>
             <option>California</option>
             <option>Colorado</option>
             <option>Connecticut</option>
             <option>Delaware</option>
             <option>Florida</option>
             <option>Georgia</option>
             <option>Hawaii</option>
             <option>Idaho</option>
             <option>Illinois</option>
             <option>Indiana</option>
             <option>Iowa</option>
             <option>Kansas</option>
             <option>Kentucky</option>
             <option>Louisiana</option>
             <option>Maine</option>
             <option>Maryland</option>
             <option>Massachusetts</option>
             <option>Michigan</option>
             <option>Minnesota</option>
             <option>Mississippi</option>
             <option>Missouri</option>
             <option>Montana</option>
             <option>Nebraska</option>
             <option>Nevada</option>
             <option>New Hampshire</option>
             <option>New Jersey</option>
             <option>New Mexico</option>
             <option>New York</option>
             <option>North Carolina</option>
             <option>North Dakota</option>
             <option>Ohio</option>
             <option>Oklahoma</option>
             <option>Oregon</option>
             <option>Pennsylvania</option>
             <option>Rhode Island</option>
             <option>South Carolina</option>
             <option>South Dakota</option>
             <option>Tennessee</option>
             <option>Texas</option>
             <option>Utah</option>
             <option>Vermont</option>
             <option>Virginia</option>
             <option>Washington</option>
             <option>West Virginia</option>
             <option>Wisconsin</option>
             <option>Wyoming</option>
            </select>
          </div>

        </div>

        <div class="form-group">

          <p class="acumin-medium-bold">Billing</p>

          <div>
            <label>Cardholder's Name</label>
            <input type="text" />
          </div>

          <div>
            <label>Card Number</label>
            <input type="text" />
          </div>

          <div class="two-column">

            <div>
              <label>Valid Thru</label>
              <input type="text" />
            </div>

            <div>
              <label>CVV/CVS</label>
              <input type="text" />
            </div>

          </div>

        </div>

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Your Cart</span></a>
          <input type="submit" value="Proceed to Confirmation" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
