
{% extends "_layout" %}
{% includeCssFile "/checkoutStyle.css" %}
{% includeJsFile "/summary.js" %}

{% set cart = craft.commerce.getCart %}
{% set coolerClubAdjustment = false %}

{% for adjuster in cart.adjustments %}
  {% if adjuster.name == 'Cooler Club Item Discount' and adjuster.amount < 0  %}
    {% set coolerClubAdjustment = true %}
  {% endif %}
{% endfor %}

{% block main %}

  {% if cart.email == '' %}
    {% redirect "/account/login" 301 %}
  {% endif %}

  {% include "components/breadcrumb.twig" %}

  <form id="product-list">

    {% include "components/order-summary.twig" %}

    {% if cart.lineItems | length != 0 %}

      <section id="cart-total">

        <div class="lock">

          <div>

            {% if currentUser %}

              {% if currentUser.isInGroup('coolerclub') %}

                <div class="adjustment-section cooler-club">
                  <label>Cooler Club</label>
                  <p>The cooler club is for family/friends who would rather pick a cooler from us than pay for the normal packaging.</p>
                  <p>Each item is reduced $1 and shipping and handling is $0</p>
                  <p>We don't advertise this service so don't tell anyone 🤫</p>
                  <div>
                    <button class="call-to-action" {% if coolerClubAdjustment == false %}data-adjustment="true"{% else %}data-adjustment="false"{% endif %}>{% if coolerClubAdjustment == false %}Apply{% else %}Remove{% endif %}</button>
                  </div>
                </div>

              {% endif %}

            {% endif %}

            <div class="adjustment-section promo">

              <label>Promotional Code</label>
              <div>
                <input type="text" name="couponCode" value="{{ cart.couponCode }}" placeholder="Code" />
                <button class="call-to-action">{% if cart.couponCode %}Change{% else %}Apply{% endif %}</button>
                <p class="promo-error">The promotional code that you have entered could not be found</p>
              </div>

            </div>

            <div class='totals'>

              <p>
                <span class="title">SubTotal</span>
                <span class="cost" data-type="items-amount">{{ cart.itemSubtotal | number_format(2, '.', ',')}}</span>
              </p>

              <p class="discount" {% if cart.baseDiscount != 0 %}data-show="true"{% else %}data-show="false"{% endif %}>
                <span class="title">Discount</span>
                <span class="cost" data-type="discount-amount">({{ cart.totalDiscount | number_format(2, '.', ',') }})</span>
              </p>

              <p class="total">
                <span class="title">Total</span>
                <span class="cost" data-type="total-amount">{{ cart.totalPrice | commerceCurrency(cart.currency, stripZeros = true) }}</span>
              </p>

            </div>

          </div>

        </div>

      </section>

    {% endif %}

    {# Checkout Actions #}

    {% if cart.lineItems | length != 0 %}

      <section class="checkout-actions summary-checkout-actions">

        <div class="lock">

          <a href="/checkout/pickup" class="call-to-action" data-button="Pickup Options">Pickup Options</a>
          <a href="/checkout/customer" class="call-to-action" data-button="Delivery Options">Delivery Options</a>

        </div>

      </section>

    {% endif %}

  </form>

{% endblock %}
