
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/running.jpg);
}

.beginning {
  margin: 0 auto;
  display: block;
  background-image: url(/images/about/test.jpg);
  background-position: center;
  height: 60vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 7px 1px #000;

  & > div {
    position: absolute;
    top: -5vh;
    bottom: -5vh;
    background-color: rgba(0, 0, 0, .5);
    left: 10vw;
    right: 10vw;
  }

}

#why {

  & .acumin-large-bold {
    background-color: var(--green);
    color: var(--white);
    padding: 10px 50px 10px 20px;
    display: inline-block;
    text-transform: uppercase;
  }

  & .summary {
    margin-bottom: 60px;

    & .acumin-medium-bold  {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      line-height: 1em;
    }

    & .acumin-medium-bold:first-of-type {
      margin-bottom: 20px;
    }

  }

  & .size-row {
    position: relative;
    overflow: hidden;

    @media (--tablet-max) {
      margin-bottom: 50px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    & .acumin-medium-bold  {
      text-transform: uppercase;
      color: var(--green);
    }

    & .text {

      @media (--tablet-max) {
        margin-bottom: 20px;
      }

      @media (--desktop-min) {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 40px;
        width: 50%;
        display: flex;
        align-items: center;
        height: 100%;
      }

      & h1 {

        @media (--desktop-min) {
          text-align: center;
        }

      }

      & p:last-of-type {
        margin-bottom: 0;
      }

      & .shopping span {
        font-weight: 700;
        display: block;
        margin-top: 5px;
      }

    }

    & .images {

      @media (--tablet-max) {
        height: 30vh;
        min-height: 200px;
        position: relative;
      }

      @media (--desktop-min) {
        width: 50%;
        float: left;
      }

    }

    & .image {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;

      @media (--tablet-max) {
        width: 100%;
      }

      @media (--desktop-min) {
        width: 50%;
        left: 50%;
      }

    }

    & .previous {
      opacity: 1;
    }

  }

  & .size-row:nth-of-type(even) {

    & .image {
      left: 0;
    }

    & .text {

      @media (--desktop-min) {
        float: right;
        padding-right: 0;
        padding-left: 40px;
      }

    }

  }


  & .skip-animation {

    & .previous {
      opacity: 0;
      visibility: hidden;
      transition: none;
    }

    & .current {
      opacity: 1;
      visibility: visible;
      transition: none;
    }

  }

  & .start-animation {

    & .previous {
      opacity: 0;
      transition: opacity 1s ease-out;
    }

    & .current {
      opacity: 1;
      transition: opacity 1s ease-in;
      transition-delay: 1s;
    }

  }

}
