
@import "../master.css";

#intro {
  background-color: var(--white);
  z-index: 9;

  & .coming {

    @media (--large-min) {
      max-width: 70%;
      min-width: 300px;
    }

    & p {
      line-height: 1.7em;
      font-size: 24px;
    }

  }

  & .submitted {
    color: red;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;

    @media (--tablet-min) {
      font-size: 32px;
    }

  }

  & form {
    padding: 80px 0;
  }

}
