
@import "../master.css";

#stage {
  height: 60vh;
  min-height: 300px;

  & .image {
    background-image: url(/images/stage.jpg);
    background-position: center;
    background-size: cover;

    @media (--medium-max) {
      height: 50%;
      margin-bottom: 40px;
    }

    @media (--large-min) {
      height: 100%;
      width: 100%;
    }

  }

  & .text {
    color: var(--black);
    z-index: 9;
    text-transform: uppercase;
    text-align: center;

    @media (--large-min) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 50%;
    }

    & h1 {
      font-family: var(--apercubold);
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 1em;

      @media (--tablet-min) {
        font-size: 42px;
      }

      @media (--desktop-min) {
        font-size: 48px;
      }

      @media (--desktop-min) {
        font-size: 58px;
      }

      & span {
        display: block;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1em;

        @media (--tablet-min) {
          font-size: 22px;
        }

        @media (--tablet-min) {
          font-size: 26px;
        }

        @media (--desktop-min) {
          font-size: 30px;
        }

      }

    }

    & a {
      background-color: var(--black);
      padding: 15px 25px;
      border-radius: 10px;
      color: #ffd777;
    }

  }

}

#featured {

  & .product {

    & > div {

      @media (--large-min) {
        display: flex;
      }

    }

    & .image {
      background-size: contain;
      background-position: center;

      @media (--large-min) {
        order: 0;
      }

    }

    & .text {

      @media (--large-min) {
        order: 1;
      }

    }

  }

}
