
@import "../master.css";

#stage {
  margin-bottom: 0;
  overflow: visible;

  @media (--large-min) {
    height: 60vh;
    min-height: 300px;
  }

  & .image {
    background-image: url(/images/stage/main.jpg);
    background-size: cover;

    @media (--medium-max) {
      height: 200px;
      background-position: right center;
    }

    &:after {

      @media (--tablet-max) {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 250px;
        background: radial-gradient(ellipse,
          rgba(255, 255, 255, .8) 0%,
          rgba(255, 255, 255, .4) 40%,
          rgba(255, 255, 255, .1) 60%,
          rgba(255, 255, 255, .05) 70%,
          rgba(255, 255, 255, 0) 100%
        );
      }

    }

    @media (--large-min) {
      height: 100%;
      width: 100%;
      background-position: center;
    }

  }

  & .text {
    color: var(--black);
    z-index: 9;
    text-transform: uppercase;
    text-align: center;
    position: absolute;

    @media (--medium-max) {
      bottom: -20px;
      transform: translateX(-50%);
      left: 50%;
    }

    @media (--large-min) {
      top: 50%;
      transform: translateY(-50%);
      left: 10%;
    }

    & h1 {
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 1em;
      position: relative;

      @media (--tablet-max) {
        text-shadow: 0.4px 0.7px #fff;
      }

      @media (--tablet-min) {
        font-size: 42px;
      }

      @media (--desktop-min) {
        font-size: 48px;
      }

      @media (--desktop-min) {
        font-size: 58px;
      }

      & span {
        display: block;
        font-size: 18px;
        margin-bottom: 0;
        line-height: 1em;

        @media (--tablet-min) {
          font-size: 22px;
        }

        @media (--tablet-min) {
          font-size: 26px;
        }

        @media (--desktop-min) {
          font-size: 30px;
        }

      }

    }

    & .call-to-action {
      background-color: var(--black);
      padding: 15px 25px;
      color: #ffd777;
      float: none;
      white-space: nowrap;
    }

  }

}

.notice {

  @media (--large-max) {
    padding-top: 40px;
  }

}

#why {

  & .nimbus-large-bold {
    background-color: var(--green);
    color: var(--white);
    padding: 10px 50px 10px 20px;
    display: inline-block;
    text-transform: uppercase;
  }

  & .summary {
    margin-bottom: 60px;

    & .nimbus-medium-bold {
      text-align: center;
      max-width: 600px;
      margin: 0 auto;
      line-height: 1em;
    }

    & .nimbus-medium-bold:first-of-type {
      margin-bottom: 20px;
    }

  }

  & .size-row {
    position: relative;
    overflow: hidden;

    @media (--large-max) {
      margin-bottom: 50px;
    }

    @media (--tablet-min) {

    }

    &:last-of-type {
      margin-bottom: 0;
    }

    & .nimbus-medium-bold {
      text-transform: uppercase;
      color: var(--green);
    }

    & .text {

      @media (--large-max) {
        margin-bottom: 20px;
      }

      @media (--tablet-min) {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-right: 40px;
        width: 50%;
        display: flex;
        align-items: center;
        height: 100%;
      }

      & h1 {

        @media (--desktop-min) {
          text-align: center;
        }

      }

      & p:last-of-type {
        margin-bottom: 0;
      }

      & .shopping span {
        font-weight: 700;
        display: block;
        margin-top: 5px;
      }

    }

    & .images {

      @media (--large-max) {
        height: 30vh;
        min-height: 200px;
        position: relative;
      }

      @media (--tablet-min) {
        width: 50%;
        float: left;
      }

    }

    & .image {
      opacity: 0;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-position: center;

      @media (--large-max) {
        width: 100%;
      }

      @media (--tablet-min) {
        width: 50%;
        left: 50%;
      }

    }

    & .previous {
      opacity: 1;
    }

  }

  & .size-row:nth-of-type(even) {

    & .image {
      left: 0;
    }

    & .text {

      @media (--tablet-min) {
        float: right;
        padding-right: 0;
        padding-left: 40px;
      }

    }

  }


  & .skip-animation {

    & .previous {
      opacity: 0;
      visibility: hidden;
      transition: none;
    }

    & .current {
      opacity: 1;
      visibility: visible;
      transition: none;
    }

  }

  & .start-animation {

    & .previous {
      opacity: 0;
      transition: opacity 1s ease-out;
    }

    & .current {
      opacity: 1;
      transition: opacity 1s ease-in;
      transition-delay: 1s;
    }

  }

}

#location {

  & .columns {

    @media (--tablet-min) {
      display: flex;
    }

  }

  & .text {

    @media (--tablet-min) {
      width: 60%;
      padding-right: 40px;
    }

  }

  & .shipping-cost-result  {
    background-color: var(--light-yellow);
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;

    @media (--large-max) {
      margin-top: 40px;
    }

    @media (--tablet-min) {
      width: 40%;
    }

    & .text-container {

      @media (--large-max) {
        padding: 40px 0;
      }

      & .nimbus-large-bold {
        margin-bottom: 0;
        text-align: center;
        line-height: 1em;
        display: none;

        & span {
          font-family: var(--nimbus);
          font-size: 14px;
          font-weight: 300;
          display: block;
          line-height: 1em;
        }

      }

    }

    & .loader {
      margin: 100px auto;
      font-size: 15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      position: relative;
      text-indent: -9999em;
      animation: spinner 1.1s infinite ease;
      transform: translateZ(0);
    }

  }

}
