
@import "../master.css";

#stage {
  height: 60vh;
  min-height: 300px;

  & .image {
    background-image: url(/images/main.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(4px);
    height: 100%;
    width: 100%;
  }

  & .text {
    color: var(--green);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: var(--white);

    @media (--large-min) {
      padding: 40px;
    }

    & h1 {
      font-size: 30px;
      text-transform: uppercase;
      font-family: var(--apercubold);
      font-weight: 700;
      white-space: nowrap;

      @media (--large-min) {
        font-size: 50px;
      }

      @media (--tablet-min) {
        font-size: 70px;
      }

      @media (--desktop-min) {
        font-size: 80px;
      }

    }

  }

}

#intro {
  background-color: var(--white);
  padding: 80px 0;
  z-index: 9;

  & .coming {
    max-width: 70%;
    min-width: 300px;

    & p {
      line-height: 1.7em;
      font-size: 24px;
    }

  }

  & .submitted {
    color: red;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--apercubold);
    font-weight: 700;
    line-height: 1em;

    @media (--tablet-min) {
      font-size: 32px;
    }

  }

  & form {
    overflow: hidden;
    padding: 80px 0;

    & .one-column, & .two-column {

      @media (--large-min) {
        margin-bottom: 40px;
      }

    }

    & .two-column {
      clear: both;

      @media (--large-min) {
        display: flex;
        justify-content: space-between;
      }

      & > div {
        position: relative;

        @media (--medium-max) {
          margin-bottom: 20px;
        }

        @media (--large-min) {
          width: 49%;
        }

      }

    }

  }

  & label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: var(--apercubold);
    letter-spacing: .2px;
  }

  & .required span {
    position: relative;

    &:after {
      content: "*";
      color: red;
      position: absolute;
    }

  }

  & .required-feild {

    & span:after {
      right: -8px;
      top: -5px;
      font-size: 16px;
    }

  }

  & .required-disclaimer {
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    text-align: right;

    & span:after {
      left: -10px;
      top: 0;
      right: inherit;
    }

  }

  & .instructions {
    visibility: hidden;
    opacity: 1;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: red;
  }

  & select {
    width: 100%;
    border: none;
    height: 44px;
    border: 1px solid #999;
  }

  & input[type="email"], & input[type="text"] {
    height: 44px;
    width: 44px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #999;
    padding: 0 10px;
    font-weight: 300;
  }

  & input[type="submit"] {
    height: 44px;
    padding: 0 20px;
    float: right;
    border: none;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
  }

  & .not-valid {

    & label {
      color: red;
    }

    & input[type="email"], & input[type="text"] {
      border: 1px solid red;
    }

    & input[type="email"]::placeholder, & input[type="text"]::placeholder {
      visibility: hidden;
    }

    & .instructions {
      opacity: 1;
      visibility: visible;
    }

  }

  & .valid {

    & label {
      color: green;
    }

    & input[type="email"], & input[type="text"] {
      border: 1px solid green;
    }

  }

}
