
@import "../dependencies/root.css";

@media print {

  * {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  main {
    height: 100%;
  }

  section {
    background-color: white;
    height: calc(50% - .25in);
    width: 50%;
    float: left;
    display: flex;
    overflow: hidden;

    &:first-of-type, &:nth-of-type(2) {
      margin-bottom: .4in;
      margin-top: .1in;
    }

  }

  .info {
    width: 60%;
    align-self: flex-start;
    padding: 10px 20px;
    overflow: hidden;
    padding-bottom: 40px;
    position: relative;
    height: calc(100% - 50px);

    & .logo {
      margin-bottom: 15px;
      height: 50px;
      margin: 0 auto;
      display: block;
    }

    & .description {
      height: calc(100% - 80px);

      & > div {
        margin-bottom: 15px;

        &:last-of-type {
          margin-bottom: 0;
        }

      }

    }

    & h1 {
      font-family: var(--acuminCondensed);
      font-size: 22px;
      margin-bottom: 15px;
      font-weight: 700;

      & span {
        display: block;
        font-size: 14px;
        font-family: var(--acumin);
        font-weight: 300;
      }

    }

    & h3 {
      text-transform: uppercase;
      margin-bottom: 3px;
      font-size: 12px;
      font-weight: 700;
    }

    & .alerts {
      display: flex;
      justify-content: space-between;

      & > div {
        width: 45%;
      }

      & .headline {
        font-weight: 700;
        text-transform: uppercase;
      }

    }

    & .connect {
      position: absolute;
      bottom: 5px;
      height: 40px;
      width: 100%;

      & h4 {
        font-size: 12px;
        text-transform: uppercase;
        font-family: var(--acuminCondensed);
        font-weight: 700;
      }

      & p {
        font-size: 22px;
      }

    }


  }

  .facts {
    width: 40%;
    background-color: var(--light-gray);
    padding: 20px;

    & .list {
      background-color: var(--white);
      padding: 20px;
      height: 70%;
      position: relative;
    }

    & h2 {
      margin-bottom: 20px;
    }

    & p {
      margin-bottom: 10px;
      line-height: 1em;
      margin-top: 0;
      font-weight: 700;

      & span {
        width: 70px;
        display: inline-block;
        font-weight: normal;
      }

      &.protein {
        color: var(--auburn);
      }

      &.carbs {
        color: var(--green);
      }

      &.fat {
        color: var(--blue);
      }

    }

    & .pie-chart {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      margin-bottom: -60px;

      & img {
        max-width: 90%;
      }

    }

  }

}
