
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/assortment.jpg);
}

.row {
  margin-bottom: 80px;

  & .two-column {

    @media (--tablet-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40vh;
      min-height: 400px;
    }

    & > div {

      @media (--tablet-min) {
        width: 50%;
      }

    }

    & .text {
      order: 1;
      padding-left: 40px;
    }

    & .image {
      background-position: center;
      background-size: cover;
      order: 0;

      @media (--large-max) {
        height: 100vw;
      }

      @media (--tablet-min) {
        height: 100%;
      }

    }

  }

}

.row:nth-of-type(even) .two-column {

  & .text {
    order: 0;
    padding-right: 40px;
  }

  & .image {
    order: 1;
  }

}
