
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/assortment.jpg);
}

.slim-stage h1 {

  @media (--medium-max) {
    font-size: calc(20px + 1vw);
  }

}

.slim-stage h1:before {

  background: radial-gradient(ellipse,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, .85) 40%,
    rgba(255, 255, 255, .2) 60%,
    rgba(255, 255, 255, .1) 70%,
    rgba(255, 255, 255, 0) 100%
  );

}

.with-underline  {
  font-size: calc(22px + .5vw);
}

.basic {
  margin-bottom: 40px;

  @media (--desktop-min) {
    margin-bottom: 50px;
  }

  & .text {
    margin-bottom: 40px;

    & p {
      font-size: calc(22px + .5vw);
    }

  }

  & .image {
    width: 100%;
    height: 72vw;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

    @media (--desktop-min) {
      margin: 0 auto;
      height: 50vh;
      background-size: contain;
    }

  }

}

.overview-text {
  margin-bottom: 50px;

  & p {
    font-size: calc(20px + .2vw);
  }

  & p:last-of-type {
    margin-bottom: 0;
  }

}

.row {
  margin-bottom: 0;

  &:last-of-type {
    margin-bottom: 80px;
  }

  & .two-column {

    @media (--desktop-min) {
      display: flex;
      justify-content: space-between;
      min-height: 500px;
    }

    & > div {

      @media (--tablet-max) {
        margin-bottom: 40px;
      }

      @media (--desktop-min) {
        width: 50%;
      }

    }

    & .text {

      @media (--desktop-min) {
        padding-top: 100px;
        padding-bottom: 100px;
      }

    }

    & .image {
      background-position: center;
      background-size: cover;

      @media (--tablet-max) {
        height: 50vw;
        width: 100%;
      }

      @media (--desktop-min) {
        height: inherit;
      }

    }

    & .blackboard {

      @media (--desktop-min) {
        background-position: -80px center;
      }

    }

  }

}

.two-column:nth-of-type(odd) {

  & .text {

    @media (--desktop-min) {
      order: 0;
      padding-right: 40px;
    }

  }

  & .image {

    @media (--desktop-min) {
      order: 1;
    }

  }

}

.two-column:nth-of-type(even) {

  & .text {

    @media (--desktop-min) {
      order: 1;
      padding-left: 40px;
    }

  }

  & .image {

    @media (--desktop-min) {
      order: 0;
    }

  }

}
