
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/assortment.jpg);
}

.with-underline  {
  font-size: calc(22px + .5vw);
}

.row {
  margin-bottom: 0;

  &:last-of-type {
    margin-bottom: 80px;
  }

  & .two-column {

    @media (--desktop-min) {
      display: flex;
      justify-content: space-between;
      min-height: 500px;
    }

    & > div {

      @media (--tablet-max) {
        margin-bottom: 40px;
      }

      @media (--desktop-min) {
        width: 50%;
      }

    }

    & .text {

      @media (--desktop-min) {
        padding-top: 100px;
        padding-bottom: 100px;
      }

    }

    & .image {
      background-position: center;

      @media (--tablet-max) {
        height: 50vh;
        background-size: contain;
      }

      @media (--desktop-min) {
        background-size: cover;
      }

    }

    & .blackboard {

      @media (--desktop-min) {
        background-position: -80px center;
      }

    }

  }

}

.row:nth-of-type(even) .two-column {

  & .text {

    @media (--desktop-min) {
      order: 0;
      padding-right: 40px;
    }

  }

  & .image {

    @media (--desktop-min) {
      order: 1;
    }

  }

}

.row:nth-of-type(odd) .two-column {

  & .text {

    @media (--desktop-min) {
      order: 1;
      padding-left: 40px;
    }

  }

  & .image {

    @media (--desktop-min) {
      order: 0;
    }

  }

}
