
@import "../master.css";

#stage {
  margin-bottom: 0;
}

.slim-stage .image {
  background-image: url(/images/stage/order.jpg);
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.product-entry {
  margin-bottom: 20px;
  padding: 40px 0;

  & .with-underline {
    text-align: center;
  }

}

.product-types {
  padding-left: 5px;

  & > div {
    display: flex;
    padding: 0 20px;
    align-items: center;
  }

  & > div:first-of-type {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--green);
  }

  & span, & label {
    font-size: 17px;
    margin-bottom: 0;
  }

  & label {
    width: 100px;
  }

}
