
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/shipping.jpg);
}

.text {
  margin-bottom: 40px;

  & p {
    font-family: var(--acuminLightItalic);
    font-size: calc(22px + .2vw);

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  & span {
    font-family: var(--acuminBold);
  }

}

#shipping-info {
  overflow: hidden;

  & li {
    list-style: none;
    margin-bottom: 5px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  & form {
    position: relative;

    & > p {
      font-size: 20px;
      font-family: var(--acuminBold);
    }

    & .input-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & .field {
        width: 68%;
      }

      & input[type="submit"] {
        width: 30%;
      }

    }

    & select {
      margin-bottom: 40px;
    }

    & .result {
      clear: both;
      padding-top: 20px;
      font-size: 32px;

      & p {
        margin-bottom: 0;
        text-align: center;
        font-size: inherit;
      }

      & span {
        display: block;
        font-family: var(--acuminSemiBold);
        font-size: 40px;
      }

    }

  }

  & .map {
    margin-bottom: 40px;

    & > p {
      font-size: 20px;
      font-family: var(--acuminBold);
    }

  }

}

#pickups {

  & ul {
    margin-bottom: 0;
    display: block;
    margin-top: 20px;
  }


}
