
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/meals.jpg);
  background-position: top center;
}

section {

  & .call-to-action {
    float: none;
    font-size: 14px;
  }

}
