
@import "../master.css";

#stage {
  margin-bottom: 0;
}

.slim-stage .image {
  background-image: url(/images/stage/meals.jpg);
  background-position: top center;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  border: 1px solid var(--black);
  cursor: pointer;
}

.meal-wrapper {

  @media (--large-min) {
    display: flex;
    min-height: 60vh;
  }

}

.checkbox-options {

  & > div {
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
  }

}

.meal-controller {

  @media (--medium-max) {
    display: none;
  }

  @media (--large-min) {
    flex-basis: 200px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--light-green);
    align-self: flex-start;
  }

  @media (--desktop-min) {
    flex-basis: 250px;
    padding: 20px;
    margin-right: 40px;
    align-self: inherit;
  }

  & > div {

    @media (--large-min) {
      background-color: var(--white);
      padding: 20px;
      border-radius: 20px;
      height: 100%;
    }

  }

  & .nimbus-tiny {
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 700;
  }

  & label {
    font-size: 14px;
    font-family: var(--nimbus);
    text-transform: uppercase;
  }

}

.meal-list {
  display: flex;
  flex-wrap: wrap;

  @media (--large-min) {
    flex-basis: calc(100% - 200px);
  }

  @media (--desktop-min) {
    flex-basis: calc(100% - 250px);
  }

  & > div {
    margin-bottom: 30px;

    @media (--large-min) {
      width: 100%;
    }

    @media (--tablet-min) {
      width: calc(50% - 10px);
      margin-right: 20px;
    }

    @media (--desktop-min) {
      width: calc(33.33% - 14px);
    }

  }

  & > div:nth-of-type(1n + 1) {

    @media (--tablet-min) and (--tablet-max) {
      margin-right: 0;
    }

  }

  & > div:nth-of-type(1n + 3) {

    @media (--desktop-min) {
      margin-right: 0;
    }

  }

  & .nimbus-medium-bold {
    height: 50px;
    line-height: 1em;
  }

  & .image {
    position: relative;
  }

  & .pie-chart {
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    padding: 5px;
    border-radius: 0 0 0 20px;
    background-color: rgba(255, 255, 255, .8);
  }

}
