
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/why.jpg);
}

#service-comparison {

  & h2 {
    font-family: var(--acuminBold);
    text-transform: uppercase;
    font-size: calc(18px + .2vw);
    margin-bottom: 20px;
  }

  & .advantage {

    & > p {
      font-size: calc(18px + .5vw);

      &:last-of-type {
        margin-bottom: 40px;
      }

    }

    & > div {
      margin-bottom: 40px;
    }

  }

}

#service-types {

  & h2 {
    margin-bottom: 60px;
    font-size: calc(18px + .5vw);
  }

  & h3 {
    font-family: var(--acuminBold);
    text-transform: uppercase;
    font-size: calc(18px + .2vw);
    margin-bottom: 40px;

    @media (--tablet-min) {
      text-align: center;
    }

  }

  & h4 {
    font-family: var(--acuminBold);
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  & ul {
    margin-left: 20px;

    & li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

    }

  }

  & .types > div {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--green);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

  }

  & .wrapper {

    @media (--tablet-min) {
      display: flex;
      align-items: center;
    }

  }

  & .text {

    @media (--tablet-min) {
      padding-left: 60px;
      align-self: flex-start;
      width: 80%;
    }

    & > div {
      padding-left: 20px;
    }

  }

  & .images {

    @media (--large-max) {
      margin-bottom: 30px;
    }

    @media (--tablet-min) {
      width: 20%;
    }

    & > div {

      @media (--large-max) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    }

    & img {

      @media (--large-max) {
        width: 25%;
        height: auto;
      }

      @media (--tablet-min) {
        display: block;
        width: 70%;
        margin: 0 auto 30px auto;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &[src*="factor"] {

        @media (--tablet-min) {
          width: 50%;
        }

      }

      &[src*="hello"] {

        @media (--tablet-min) {
          width: 50%;
        }

      }

    }

  }

}
