
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/order.jpg);
}

#product-addition {
  max-width: 900px;
  margin: 0 auto;
}

.ready-to-checkout {
  width: 100%;
  font-size: 14px;
  font-size: calc(12px + 1vw);
  background-color: var(--green);
  padding: 10px;
  color: var(--white);
  font-family: var(--acuminExtraLightItalic);
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 99;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity .5s ease-out;
}

[ready-to-checkout-fixed="true"] {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);

  @media (--large-min) {
    max-width: calc(100% - 60px);
  }

  @media (--tablet-min) {
    max-width: calc(100% - 80px);
  }

  @media (min-width: 900px) {
    max-width: 820px;
  }

}

[ready-to-checkout-showing="true"] {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.disclaimer-text {
  font-family: var(--acuminMediumItalic);
  margin-bottom: 40px;
}

#cart-additions {

  & .summary {

    @media (--large-max) {
      margin-bottom: 30px;
      margin-left: -20px;
      margin-right: -20px;
    }

    & p {
      margin-bottom: 0;
      font-size: 14px;

      @media (--tablet-min) {
        font-size: 16px;
      }

    }

    & h1 {
      text-transform: uppercase;
      border-bottom: 1px solid var(--green);
      margin-bottom: 10px;
      padding-left: 3px;
      padding-bottom: 5px;
      line-height: 1em;
      font-size: 22px;
    }

    & .with-items {
      display: none;
    }

    & .without-items {
      display: block;
    }

    & .items {
      margin-bottom: 20px;

      &::-webkit-scrollbar {
          width:9px;
      }

      &::-webkit-scrollbar-track {
          -webkit-border-radius:5px;
          border-radius:5px;
          background:rgba(0,0,0,0.1);
      }

      &::-webkit-scrollbar-thumb {
          -webkit-border-radius:5px;
          border-radius:5px;
          background:rgba(0,0,0,0.2);
      }

      &::-webkit-scrollbar-thumb:hover {
          background:rgba(0,0,0,0.4);
      }

      &::-webkit-scrollbar-thumb:window-inactive {
          background:rgba(0,0,0,0.05);
      }

      & .quantity {
        font-size: 18px;
      }

      & .title {
        padding-right: 5px;
      }

      & .size {
        font-size: 11px;
      }

    }

    & .actions {

      & p {
        position: relative;
        margin-bottom: 5px;

        &:before {
          content: "Total";
          display: none;
        }

      }

      & input {
        padding: 0 10px;
        height: 30px;
        font-size: 14px;
        float: left;
      }

    }

  }

  [has-items="true"] {

    & .no-items {
      display: none;
    }

    & .with-items {
      display: block;
    }

    & .without-items {
      display: none;
    }

    & .actions p:before {
      display: inline-block;
      margin-right: 5px;
    }

    & .items {

      @media (--large-max) {
        height: 50px;
        overflow-y: auto;
      }

    }

  }

}
