
@import "../master.css";

#stage {
  margin-bottom: 0;
}

.slim-stage .image {
  background-image: url(/images/stage/order.jpg);
}

.category-group {

  & .title {
    position: relative;

    @media (--medium-max) {
      width: 100%;
      margin-bottom: 20px;
    }

    @media (--large-min) {
      width: 60%;
    }

    & a {
      display: block;
      font-size: 14px;
      line-height: 1em;

      @media (--large-min) {
        position: absolute;
        bottom: -10px;
      }

    }

  }

  & .option, & .price {

    @media (--medium-max) {
      width: 33.3%;
    }

    @media (--large-min) {
      width: 15%;
    }

  }

  & .quantity {
    text-align: center;

    @media (--medium-max) {
      width: 33.3%;
    }

    @media (--large-min) {
      width: 10%;
    }

  }

  & .group-header > div, & .variant-row {
    display: flex;
    align-items: center;

    @media (--medium-max) {
      flex-wrap: wrap;
    }

  }

  & .group-header {

    & > div {
      display: flex;
      background-color: var(--green);
      color: var(--white);
      padding: 0 20px;

      @media (--medium-max) {
        display: none;
      }

      & > div {
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 14px;
      }

    }

    & .acumin-medium-bold {
      text-transform: uppercase;

      @media (--medium-max) {
        margin-bottom: 20px;
        border-bottom: 1px solid var(--green);
      }

      @media (--large-min) {
        text-align: right;
        margin-bottom: 0;
      }

    }

    & .option {

      @media (--large-min) {
        margin-left: 60%;
      }

    }

  }

  & .group-body > div {
    margin-bottom: 10px;
    padding: 20px;

    &:nth-of-type(even) {
      background-color: var(--light-gray);
    }

    & .variant-row:first-of-type input[type='number'] {
      border-bottom: none;
    }

    & .variant-row:last-of-type {

      & .option {

        @media (--large-min) {
          margin-left: 60%;
        }

      }

    }

  }

}

form {
  max-width: 800px;
  margin: 0 auto;

  & input[type='text'] {
    margin-bottom: 0;
    width: 50px;
    text-align: center;
  }

  & .summary {
    padding: 20px;
  }

}
