
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/order.jpg);
}

& input[type='number'] {
  margin-bottom: 0;
  width: 50px;
  text-align: center;
}

.summary {

  @media (--large-max) {
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
  }

  & p {
    margin-bottom: 0;
    font-size: 14px;

    @media (--tablet-min) {
      font-size: 16px;
    }

  }

  & .fixed-wrapper {
    top: 0;
    z-index: 99;
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    background-color: var(--white);
    padding: 10px 0;

    @media (--large-max) {
      padding: 10px 20px;
      left: 0;
    }

    &[scrolling="true"] {

      @media (--large-max) {
        box-shadow: 0 2px 5px -2px #616161;
      }

    }

  }

  & h1 {
    font-family: var(--acuminCondensed);
    text-transform: uppercase;
    border-bottom: 1px solid var(--green);
    margin-bottom: 10px;
    padding-left: 3px;
    padding-bottom: 5px;
    line-height: 1em;
    font-size: 22px;
  }

  & .with-items {
    display: none;
  }

  & .without-items {
    display: block;
  }

  & .items {
    margin-bottom: 20px;

    &::-webkit-scrollbar {
        width:9px;
    }

    &::-webkit-scrollbar-track {
        -webkit-border-radius:5px;
        border-radius:5px;
        background:rgba(0,0,0,0.1);
    }

    &::-webkit-scrollbar-thumb {
        -webkit-border-radius:5px;
        border-radius:5px;
        background:rgba(0,0,0,0.2);
    }

    &::-webkit-scrollbar-thumb:hover {
        background:rgba(0,0,0,0.4);
    }

    &::-webkit-scrollbar-thumb:window-inactive {
        background:rgba(0,0,0,0.05);
    }

    & .quantity {
      font-size: 18px;
    }

    & .title {
      padding-right: 5px;
    }

    & .size {
      font-size: 11px;
    }

  }

  & .actions {

    & p {
      position: relative;
      margin-bottom: 5px;

      &:before {
        content: "Total";
        display: none;
      }

    }

    & input {
      padding: 0 10px;
      height: 30px;
      font-size: 14px;
      float: left;
    }

  }

}

[has-items="true"] {

  & .no-items {
    display: none;
  }

  & .with-items {
    display: block;
  }

  & .without-items {
    display: none;
  }

  & .actions p:before {
    display: inline-block;
    margin-right: 5px;
  }

  & .items {

    @media (--large-max) {
      height: 50px;
      overflow-y: auto;
    }

  }

}

.acumin-medium-bold {
  text-transform: uppercase;
  margin-bottom: 20px;
}

#category-group {

  & .category-headline {
    margin-bottom: 30px;

    @media (--tablet-min) {
      margin-bottom: 60px;
    }


    & span {
      font-family: var(--acumin);
      font-size: calc(20px + 1vw);
      display: inline-block;
      text-transform: uppercase;
      line-height: 1.1em;
    }

  }

  & .product {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--green);

    &:last-of-type {
      border-bottom: none;
    }

  }

  & .title {
    position: relative;
    margin-bottom: 10px;
    text-transform: uppercase;

    & a {
      font-size: 10px;
      line-height: 1em;
      margin-left: 5px;
    }

  }

  & .variant-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    @media (--medium-max) {
      flex-wrap: wrap;
    }

    &:first-of-type {
      margin-bottom: 5px;
      position: relative;
    }

    & > div:first-of-type {
      width: 40%;
    }

  }

}
