
@import "../master.css";

#product-details {

  @media (--large-max) {
    margin-bottom: 40px;
  }

  & .intro-wrapper {

    @media (--large-min) {
      display: flex;
      align-items: center;
      margin-bottom: 60px;
    }

    & .summary {
      line-height: 1.4em;
      font-size: calc(18px + .7vw);

      @media (--medium-max) {
        margin-bottom: 40px;
      }

      @media (--large-min) {
        width: 60%;
      }

      & .call-to-action {
        font-size: 14px;
      }

    }

    & .product-image {

      @media (--large-min) {
        width: 40%;
      }

       & img {
         display: block;
         max-height: 400px;
         margin: 0 auto;

         @media (--medium-max) {
           margin-bottom: 40px;
         }

       }

    }

  }

  & .nutrition-headline {
    font-family: var(--acuminThinItalic);
    font-size: calc(26px + 1vw);
    color: var(--green);
    text-transform: uppercase;
    line-height: 1em;
  }

  & .fact-info {
    border-bottom: 1px solid var(--green);
    border-top: 1px solid var(--green);
    padding: 30px 0;

    & > div {
      display: flex;
      flex-wrap: wrap;

      @media (--large-min) {
        align-items: center;
        justify-content: center;
      }

      @supports (display: grid) {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;

        @media (--large-min) {
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 50px;
        }

        &[data-count="1"] {

          @media (--large-min) {
            grid-template-columns: 1fr;
          }

          @media (--desktop-min) {
            grid-template-columns: 1fr;
          }

        }

        &[data-count="3"] {

          @media (--desktop-min) {
            grid-template-columns: 1fr 1fr 1fr;
          }

        }

        @supports(display: -ms-grid) {
          display: flex;
        }

      }

      & > div {
        padding: 0 20px;
        width: 100%;
        text-align: center;

        @media (--medium-max) {
          margin-bottom: 20px;
        }

        @media (--large-min) {
          width: 50%;
        }

        @media (--desktop-min) {
          width: 33.3%;
        }

        &:last-of-type {

          @media (--medium-max) {
            margin-bottom: 0;
          }

        }

        @supports (display: grid) {
          width: 100%;
        }

        @supports(display: -ms-grid) {
          @media (--large-min) {
            width: 50%;
          }

          @media (--desktop-min) {
            width: 33.3%;
          }
        }

      }

    }

    & h3 {
      font-family: var(--parklaneBold);
      text-transform: uppercase;
      margin-bottom: 10px;
      font-size: 24px;
    }

    & .acumin-small {
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 1em;
      font-weight: 700;
      font-family: var(--acuminSemiBold);

      & span {
        width: 80px;
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
        margin-right: 40px;
        font-weight: 400;
        font-family: var(--acuminLight);
      }

      &.protein {
        color: var(--auburn);
      }

      &.carbs {
        color: var(--green);
      }

      &.fat {
        color: var(--blue);
      }

    }

    & .facts {

      @media (--large-max) {
        order: 1;
        margin-bottom: 30px;
        width: 100%;
      }

    }

    & .pie-chart {
      height: 180px;
      width: 180px;
      display: block;
      margin: 0 auto;

      @media (--large-max) {
        order: 2;
      }

      @media (--tablet-min) {
        height: 140px;
        width: 140px;
      }

      @media (--desktop-min) {
        height: 180px;
        width: 180px;
      }

      & canvas {
        max-height: 180px;
        max-width: 180px;
      }

    }

  }

}

#product-actions {

  & .lock {

    @media (--large-min) {
      display: flex;
      justify-content: space-between;
    }

  }

  & .form-text {

    @media (--large-max) {
      margin-bottom: 40px;
    }

    & h1 {
      font-size: 18px;
      font-family: var(--acuminRegular);
      text-transform: capitalize;

      & span {
        display: block;
        font-size: calc(18px + .5vw);
        line-height: 1.2em;
        text-transform: uppercase;
      }

    }

  }

  & .form-actions {

    @media (--large-min) {
      width: 60%;
      padding-left: 10%;
    }

  }

  & form {
    width: 100%;

    & > div.variant-row:first-of-type {
      padding-top: 0;
    }

  }

  & .variant-row {
    padding: 20px 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: var(--green);
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    & .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .size {
      width: 30%;
      text-transform: capitalize;
    }

    & .price {
      width: 20%;

      @media (--large-min) {
        width: 30%;
      }

      & .sale-price span {
        position: relative;
        font-size: 14px;

        &:before {
          content: "";
          position: absolute;
          height: 1px;
          top: 54%;
          transform: translateY(-50%);
          background-color: red;
          left: 0;
          right: 0;
        }

      }

    }

    & .quantity {
      width: 100px;
      text-align: center;
    }

  }

  & .descriptions {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--green);
    color: var(--white);
    text-transform: uppercase;
    font-size: 12px;
  }

  & .summary {

    & .variant-row:before {
      display: none;
    }

  }

}

#post-submission {
  display: none;

  & .lock > div {
    border-top: 1px solid var(--green);
    padding-top: 30px;
    text-align: center;
  }

  & .order {
    max-width: 500px;
    margin: 0 auto 20px auto;
    font-size: 16px;

    & span {
      font-family: var(--acuminSemiBold);
      text-transform: uppercase;
      display: block;
    }

  }

  & p {
    margin-bottom: 3px;
    font-size: 14px;
  }

  & a {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    width: 230px;

    &:last-of-type {
      margin-bottom: 0;
    }

  }

}
