
@import "../master.css";

.slim-stage h1:before {
  left: -40%;
  right: 0;
}

.fixed-wrapper {
  border: 1px solid var(--green);
  top: 0;
  background-color: var(--white);
  min-height: 100px;

  @media (--large-max) {
    position: relative !important;
    width: 100% !important;
  }

}

form {

  & input[type="submit"] {
    margin-right: 10%;
    margin-bottom: 20px;
  }

}

.flex-wrapper {

  @media (--tablet-min) {
    display: flex;
    justify-content: space-between;
  }

}

.product-actions {

  @media (--large-max) {
    margin-bottom: 40px;
  }

  @media (--tablet-min) {
    width: 40%;
  }

  @media (--desktop-min) {
    width: 30%;
  }

  & .acumin-small {
    margin-bottom: 0;
  }

  & > div {

    @media (--tablet-min) {
      height: 100%;
    }

  }

  & .row-columns {
    padding: 20px 10%;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      background-color: var(--green);
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    & .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & .size {
      width: 50%;
    }

    & .price {
      width: 20%;

      @media (--large-min) {
        width: 30%;
      }

    }

    & .quantity {
      width: 30%;
      text-align: center;

      @media (--large-min) {
        width: 20%;
      }

    }

  }

  & .descriptions {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--green);
    color: var(--white);

    & > div {
      text-transform: uppercase;
      font-size: 12px;
    }

  }

  & .list {

    & .row-columns {

      &:before {
        width: 80%;
      }

    }

    & .label {
      margin-bottom: 0;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }

  }

  & .summary {

    & .row-columns {

      &:before {
        display: none;
      }

      & .quantity {
        width: 40%;
        text-align: right;
      }

    }

  }

}

.product-details {

  @media(--tablet-min) {
    width: 60%;
    padding-left: 40px;
  }

  @media(--desktop-min) {
    width: 70%;
    padding-left: 60px;
  }

  & .product-image {

     & img {
       display: block;
       margin-bottom: 40px;
       max-height: 400px;
       margin: 0 auto;
     }

  }

  & .fact-tab {

    & .controller {
      overflow: hidden;

      & button {
        display: block;
        width: 50%;
        color: var(--green);
        text-align: center;
        height: 40px;
        line-height: 40px;
        float: left;
        border-radius: 0;
      }

      &:last-of-type {
        margin-left: -4px;
      }

      & .active-button {
        background-color: var(--green);
        color: var(--white);
      }

    }

  }

  & .fact-info {
    display: none;

    & .acumin-small {
      margin-bottom: 10px;
      font-weight: 700;

      & span {
        width: 50%;
        min-width: 140px;
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
      }

      &.protein {
        color: var(--auburn);
      }

      &.carbs {
        color: var(--green);
      }

      &.fat {
        color: var(--blue);
      }

    }

    & .facts {
      padding: 30px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid var(--green);
      border-top: 1px solid var(--green);

      @media (--large-min) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
      }

      & > div {

        @media (--medium-max) {
          margin: 0 auto;
          width: 70%;
        }

      }

    }

    & .pie-chart {
      height: 180px;
      width: 180px;
      display: block;

      @media (--medium-max) {
        margin: 0 auto;
      }

      @media (--large-min) {
        margin-left: 50px;
      }

      & canvas {
        max-height: 180px;
        max-width: 180px;
      }

    }

  }

  & .active-info {
    display: block;
  }

  & .table-head, & .table-row {
    font-size: 14px;
    padding: 10px;

    @media (--large-min) {
      display: flex;
    }

    & div {

      @media (--large-min) {
        width: 20%;
      }

    }

  }

  & .table-head {

    @media (--medium-max) {
      display: none;
    }

    & > div {
      text-transform: uppercase;
    }

  }

  & .table-row {

    @media (--medium-max) {
      margin-bottom: 30px;
    }

    &:nth-of-type(odd) {

      @media (--large-min) {
        background-color: var(--light-gray);
      }

    }

    & > div {
      position: relative;

      @media (--medium-max) {
        padding-left: 50%;
        margin-bottom: 5px;
        height: 20px;
      }

      &:before {

        @media (--medium-max) {
          content: attr(data-attr);
          position: absolute;
          width: calc(50% - 20px);
          left: 0;
          text-align: right;
          text-transform: uppercase;
        }

      }

    }

    & > div:first-of-type {

      @media (--medium-max) {
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding-left: 0;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      & span {

        @media (--medium-max) {
          border-bottom: 1px solid var(--green);
        }

      }

      &:before {
        display: none;
      }

    }

  }

}
