
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/subscriptions.jpg);
}

#stage h1 {
  font-size: calc(22px + 2vw);
}

#subscription-details {

  & .lock > p {
    max-width: 800px;
    font-size: 22px;
    margin-bottom: 80px;
  }

  & h2 {
    margin-bottom: 10px;

    @media (--tablet-min) {
      text-align: center;
    }

  }

  & h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: var(--parklane);
    margin-bottom: 20px;
  }

  & .plans {

    @media (--desktop-min) {
      display: flex;
      justify-content: space-between;
    }

    & > div {
      position: relative;

      @media (--tablet-max) {
        width: 100%;
      }

      @media (--desktop-min) {
        width: 50%;
      }

      &:first-of-type {
        position: relative;

        @media (--tablet-max) {
          margin-bottom: 50px;
          padding-bottom: 50px;
        }

        @media (--desktop-min) {
          padding-right: 5%;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: var(--green);

          @media (--tablet-max) {
            width: 90%;
            bottom: 0;
            height: 1px;
            left: 0;
          }

          @media (--desktop-min) {
            height: 60%;
            top: 20%;
            right: 0;
            width: 1px;
          }

        }

      }

      &:last-of-type {

        @media (--desktop-min) {
          padding-left: 5%;
        }

      }

    }

  }

}

#subscription-weekly {

}
