
@import "../master.css";

.slim-stage .image {
  background-image: url(/images/stage/subscriptions.jpg);
}

#stage h1 {
  font-size: calc(22px + 2vw);
}

#subscription-details {

  & .lock > p {
    max-width: 800px;
    font-size: 22px;
    margin-bottom: 80px;
  }

  & h2 {
    margin-bottom: 10px;

    @media (--tablet-min) {
      text-align: center;
    }

  }

  & h3 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: var(--parklane);
    margin-bottom: 20px;
  }

  & .plans {

    @media (--desktop-min) {
      display: flex;
      justify-content: space-between;
    }

    & > div {
      position: relative;

      @media (--tablet-max) {
        width: 100%;
      }

      @media (--desktop-min) {
        width: 50%;
      }

      &:first-of-type {
        position: relative;

        @media (--tablet-max) {
          margin-bottom: 50px;
          padding-bottom: 50px;
        }

        @media (--desktop-min) {
          padding-right: 5%;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: var(--green);

          @media (--tablet-max) {
            width: 90%;
            bottom: 0;
            height: 1px;
            left: 0;
          }

          @media (--desktop-min) {
            height: 60%;
            top: 20%;
            right: 0;
            width: 1px;
          }

        }

      }

      &:last-of-type {

        @media (--desktop-min) {
          padding-left: 5%;
        }

      }

    }

  }

}

#weekly-subscriptions {
  max-width: 900px;
  margin: 0 auto;

  & .acumin-headline {
    margin-bottom: 20px;
  }

  & .order-category-groups {

    & > p {
      font-size: 22px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 100px;

        @media (--tablet-min) {
          margin-bottom: 140px;
        }

      }

    }

  }

  & .product > p {
    font-size: 14px;
    margin-top: -35px;
    margin-bottom: 40px;
  }

}

.ready-to-checkout {
  width: 100%;
  font-size: 14px;
  font-size: calc(12px + 1vw);
  background-color: var(--green);
  padding: 10px;
  color: var(--white);
  font-family: var(--acuminExtraLightItalic);
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 99;
  text-align: center;
  display: block;
  opacity: 0;
  transition: opacity .5s ease-out;
}

[ready-to-checkout-fixed="true"] {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 40px);

  @media (--large-min) {
    max-width: calc(100% - 60px);
  }

  @media (--tablet-min) {
    max-width: calc(100% - 80px);
  }

  @media (min-width: 900px) {
    max-width: 820px;
  }

}

[ready-to-checkout-showing="true"] {
  opacity: 1;
  transition: opacity .5s ease-in-out;
}
