
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#65943f">
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>

          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
              <tr>
                <td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
              </tr>
            </table>

            <div class="h3-1-center" style="color:#fff; font-family: Helvetica, Arial, sans-serif; min-width:auto !important; font-size:20px; line-height:26px; text-align:center">
              <em>Connect with Us</em>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
              <tr><td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
              </tr>
            </table>


            <!-- Socials -->

            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center">
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38">
                        <a href="https://www.facebook.com/macromeals.life/" target="_blank">
                          <img src="https://www.macromeals.life/images/icons/facebook.png" border="0" width="28" height="28" alt="" />
                        </a>
                      </td>
                      <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38">
                        <a href="https://twitter.com/macromealslife" target="_blank">
                          <img src="https://www.macromeals.life/images/icons/twitter.png" border="0" width="28" height="28" alt="" />
                        </a>
                      </td>
                      <td class="img-center" style="font-size:0pt; line-height:0pt; text-align:center" width="38">
                        <a href="https://www.instagram.com/macromeals.life/" target="_blank">
                          <img src="https://www.macromeals.life/images/icons/instagram.png" border="0" width="28" height="28" alt="" />
                        </a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

            <!-- END Socials -->
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
              <tr>
                <td height="15" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
              </tr>
            </table>

          </td>
        </tr>
      </table>

    </td>
  </tr>
</table>
