
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
        <tr>
          <td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
        </tr>
      </table>
      <div class="img-center" style="font-size:0pt; line-height:0pt; text-align:center">
        <a href="https://www.macromeals.life/" target="_blank">
          <img src="https://www.macromeals.life/images/logo/green.png" border="0" width="144" height="62" alt="" />
        </a>
        </div>
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
         <tr>
           <td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
         </tr>
       </table>
       <div class="hide-for-mobile">
        <div class="text-nav" style="color:#ffffff; font-family: Helvetica, Helvetica, Helvetica, Arial, sans-serif; min-width:auto !important; font-size:12px; line-height:22px; text-align:center">
          <a href="https://www.macromeals.life/" target="_blank" class="link-white" style="color:#65943f; text-decoration:none">
            <span class="link-white" style="color:#65943f; text-decoration:none">HOME</span>
          </a>
          &nbsp;&nbsp;<span style="color:#65943f;">|&nbsp;&nbsp;
          <a href="https://www.macromeals.life/shop" target="_blank" class="link-white" style="color:#65943f; text-decoration:none">
            <span class="link-white" style="color:#65943f; text-decoration:none">MEALS</span>
          </a>
          &nbsp;&nbsp;<span style="color:#65943f;">|&nbsp;&nbsp;
          <a href="https://www.macromeals.life/shop/quick-order" target="_blank" class="link-white" style="color:#65943f; text-decoration:none">
            <span class="link-white" style="color:#65943f; text-decoration:none">ORDER</span>
          </a>
          &nbsp;&nbsp;<span style="color:#65943f;">|&nbsp;&nbsp;
          <a href="https://www.macromeals.life/contact" target="_blank" class="link-white" style="color:#65943f; text-decoration:none">
            <span class="link-white" style="color:#65943f; text-decoration:none">CONTACT</span>
          </a>
        </div>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
          <tr>
            <td height="20" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
          </tr>
        </table>
     </div>
    </td>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
  </tr>
</table>
