
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
    <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

      <div class="text-footer" style="color:#666666; font-family:Helvetica, Helvetica, Arial, sans-serif; min-width:auto !important; font-size:12px; line-height:18px; text-align:center">
        <a href="https://www.macromeals.life" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">www.macromeals.life</span></a>
        <span class="mobile-block"><span class="hide-for-mobile">|</span></span>
        <a href="mailto:help@macromeals.life" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">help@macromeals.life</span></a>
        <span class="mobile-block"><span class="hide-for-mobile">|</span></span>
        Phone: <a href="tel:+14434025295" target="_blank" class="link-1" style="color:#666666; text-decoration:none"><span class="link-1" style="color:#666666; text-decoration:none">1.443.402.5295</span></a>
      </div>
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">
        <tr>
          <td height="30" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td>
        </tr>
      </table>
    </td>
    <td class="content-spacing" style="font-size:0pt; line-height:0pt; text-align:left" width="20"></td>
  </tr>
</table>
