
{% extends "_layout" %}
{% includeCssFile "/about.css" %}
{% includeJsFile "/about.js" %}

{% block main %}

  <section id="stage">

    <div class="image"></div>
    <div class="text">
      <h1><span>Meals for a</span>Healthy Life</h1>
    </div>

  </section>

  <section id="why">

    <div class="lock">

      <div class="summary">
        <p class="acumin-medium-bold">Macro Meals are created to give your body the nutrition that it needs!</p>
        <p class="acumin-medium-bold">We will transform the way you shop, eat and prepare for the week.</p>
      </div>

      <div class="transform">

        <div class="size-row">
          <div class="text">
            <div class="shopping">
              <h1 class="acumin-medium-bold">Shopping</h1>
              <p>Shopping is a hassle. The grocery store can be a time consuming, over crowded nightmare. It is often difficult to determine the nutrients that your body needs and how that translates into what you are putting in your cart.</p>
              <p>The food industry uses misleading labeling to lure you into buying their products. They use terms like “low fat”, “all natural”, or “superfood” to make you think that you are making healthy choices. Often times these quick and inexpensive food options are processed with preservatives and added sugar which make them calorie dense and nutrient poor.</p>
              <p>Our meals are prepared with fresh whole foods, that are nutrient rich.  Each meal is designed to give your body a balanced macro nutrient content, depending on your needs and goals. In addition, we pledge to partner with local farmers as often as possible to provide the freshest local ingredients.</p>
            </div>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/pre-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/pre.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <div>
              <h1 class="acumin-medium-bold">Cooking</h1>
              <p>Cooking is fun but it can also become an unwanted burden on busy schedule.  No one can afford the time to prepare three balanced meals at day from scratch.  An active life requires meals on the go. Planning ahead is the only way to succeed in maintaining your healthy way of life. Macro Meals can help by providing nutrient dense, quick meals that allow you the flexibility to do all the things that your life demands of you.</p>
              <p>Unlike other food prep companies, our meals are prepared from scratch.  Ingredients are reviewed for freshness and meals are prepared based on macronutrients to give your body what it needs.</p>
            </div>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/cooking-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/cooking.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <div>
              <h1 class="acumin-medium-bold">Eating</h1>
              <p>Healthy food should still taste good.  Vegan food should still taste good.  You shouldn't have to sacrifice taste to eat healthy. But you do have to give up the preservatives and processed foods items that most Americans view as food. If it doesn't look like a chicken breast, or a potato don't eat it. The nutrients have been processed out of it.</p>
              <p>Our talented team has been making vegan food for over a decade and doesn't sacrifice taste for calories. All of our food is prepared in a way that preserves the food’s nutrients and natural flavors. Every meal comes with customized macronutrient ratios so you can feel good about what you are eating and plan your workouts correctly.</p>
            </div>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/food-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/food.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <div>
              <h1 class="acumin-medium-bold">Cleaning</h1>
              <p>Cooking may be fun, but the clean up never is.  Food preparation can take an entire day or more with the cleanup.</p>
              <p>Macro Meals deliver in 100% recyclable materials to keep your food fresh and the reduce our carbon footprint. The containers are also reusable and dishwasher safe. All meals have an enjoy by date of at least five days. You can enjoy your week and as things come up adjust your meal schedule without the worry of food expiring too quickly.</p>
            </div>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/post-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/post.jpg)"></div>
          </div>
        </div>

      </div>

    </div>

  </section>

  {% include "components/featured-meal.twig" %}

  <section id="location">

    <div class="lock">

      <h1 class="acumin-medium-bold">Estimate Shipping Costs</h1>

      <div class="text">
        <p>We ship four days a week to any state.  Shipping costs are dependent on your location and the number of meals.</p>
        <p>Please enter your estimated quantity of meals and your shipping zip code for an estimated shipping cost.</p>

        <form id="shipping-calculator">

          <div class="two-column">

            <div class="field" data-required="true" valid="false">
              <label for="quantity"><span>Quantity</span></label>
              <div class="input">
                <input type="text"
                       name="quantity"
                       placeholder=""
                       maxlength="3"
                       id="quantity" />

                <div class="errors">
                  <p class="required">Quantity is a required field</p>
                </div>
              </div>
            </div>

            <div class="field" data-required="true" valid="false">
              <label for="zipCode"><span>Zip Code</span></label>
              <div class="input">
                <input type="number"
                       name="zipCode"
                       id="zipCode"
                       placeholder=""
                       maxlength="5" />

                <div class="errors">
                  <p class="required">Zip Code is a required field</p>
                </div>
              </div>
            </div>

          </div>

          <input type="submit" value="Get Estimate" />

        </form>

      </div>

      <div class="shipping-cost-modal">

        <div class="loader"></div>
        <button>Close</button>

        <div class="text-container"></div>

      </div>

    </div>

  </section>

{% endblock %}
