
{% extends "_layout" %}
{% includeCssFile "/about.css" %}
{% includeJsFile "/about.js" %}

{% block main %}

  <section id="stage">
    <div class="image"></div>
    <div class="white-clip">

      <div>
        <h1>
          <img src="/images/logo/green.svg" alt="Logo" />
          <span>About Macro Meals</span>
        </h1>

        <div class="established">
          <h2>Established 2017</h2>
          <h3>Baltimore, Maryland</h3>
        </div>

      </div>

    </div>
  </section>

  <section id="mission">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Our</span>
            <span>Mission</span>
          </p>
        </div>

        <div class="statement">
          <h1>Provide healthy and fresh meals from the best possible vendors from our kitchen to your home.  Meals are built upon balanced macronutrient ratios to help you reach your health and fitness goals.</h1>
        </div>

      </div>

      <div class="image-grid">

        <div class="steak">
          <p><span>Protein</span></p>
          <div class="text">
            <p>Protein is the building block of muscle.</p>
          </div>
        </div>
        <div class="vegan">
          <p><span>Carbs</span></p>
          <div class="text">
            <p>Carbohydrates are the fuel for your body.</p>
          </div>
        </div>
        <div class="chicken">
          <p><span>Fat</span></p>
          <div class="text">
            <p>Fats are essential to body functions including: brain health and hormone balance.</p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="story">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Our</span>
            <span>Story</span>
          </p>

        </div>

        <div class="statement">
          <h1>Macro Meals was founded in 2017 by Rebecca and Josh Magness.  The concept was spawned from experience with other vendors who didn't provide a worthwhile service.  The concept was to simply provide convenient healthy meals that tasted good.</h1>
          <p>Initially, the business wasn’t anything more than a typical ‘Sunday Prepday’ to help out friends and family members, but a business began to grow with interest.</p>
          <p>We worked for over a year cultivating a menu that we loved.  We work with local farms and vendors to bring you the best ingredients with no preservatives added.   By working with local businesses we are able to provide pickup locations.  For all others, we use FedEx to provide overnight delivery options.<p>
          <p>In the Winter of 2017, Macro Meals opened an online store to the public.</p>
        </div>

      </div>

    </div>

  </section>

  {# <section id="fact">

    <div class="lock">

      <img src="" alt="" />

      <div class="text">
        <h1>Fun Fact</h1>
        <p>Josh and Becky started dating in February of 2012.  In their first year of dating, Josh never ate Becky's homemade meals.</p>

      </div>

    </div>

  </section> #}

{% endblock %}
