
{% extends "_layout" %}
{% includeCssFile "/about.css" %}
{% includeJsFile "/about.js" %}

{% block main %}

  <section id="stage">
    <div class="image"></div>
    <div class="white-clip">

      <div>
        <h1>
          <img src="/images/logo/green.svg" alt="Logo" />
          <span>About Macro Meals</span>
        </h1>

        <div class="established">
          <h2>Established 2017</h2>
          <h3>Baltimore, Maryland</h3>
        </div>

      </div>

    </div>
  </section>

  <section id="mission">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Our</span>
            <span>Mission</span>
          </p>
        </div>

        <div class="statement">
          <h1>Provide healthy and fresh meals from the best possible vendors from our kitchen to your home.  Meals are built upon balanced macronutrient ratios to help you reach your health and fitness goals.</h1>
        </div>

      </div>

      <div class="image-grid">

        <div class="steak">
          <p><span>Protein</span></p>
          <div class="text">
            <p>Protein is the building block of muscle.</p>
          </div>
        </div>
        <div class="vegan">
          <p><span>Carbs</span></p>
          <div class="text">
            <p>Carbohydrates are the fuel for your body.</p>
          </div>
        </div>
        <div class="chicken">
          <p><span>Fat</span></p>
          <div class="text">
            <p>Fats are essential to body functions including: brain health and hormone balance.</p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="story">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Our</span>
            <span>Story</span>
          </p>

        </div>

        <div class="statement">
          <h1>Macro Meals was founded in 2017 by Rebecca and Josh Magness. The concept was spawned from experiences with other vendors who didn't provide a worthwhile service. The concept was to simply provide convenient balanced meals that were fresh and tasted good.</h1>
          <p>Initially, the business wasn’t anything more than a typical ‘Sunday Prepday’ . We wanted to help out friends and family members who had health and fitness goals but not a lot of time or intricate knowledge. A business began to grow as interest increased.</p>
          <p>We’ve worked for over a year cultivating a menu that we loved, and continue to add to this menu. We work with local farms and vendors to bring you the best ingredients with no preservatives added. </p>
          <p>By collaborating with local businesses we are also able to provide a number of pickup locations. For those who are not local or just prefer delivery, we use UPS to provide overnight delivery options.</p>
          <p>In the Winter of 2017, Macro Meals opened it’s online store to the public. And the rest is history in the making.</p>
        </div>

      </div>

    </div>

  </section>

  <section id="becky">

    <div class="lock">

      <div class="image">
        <img src="/images/about/becky.jpg" alt="image of owner becky" />
        <p>Rebecca Magness</p>
      </div>

      <div class="text">
        <h1>Rebecca's Journey</h1>
        <p>My journey to health and happiness had many set backs and hurdles. After nearly two decades in the pursuit of health, I’ve found the keys to success include hard work, consistency, and smart choices.</p>
        <p>I was an obese teenager who was very unhappy. I was a smoker and lived off of peanut butter crackers and junk food that I’d convinced myself was healthy. I had no idea of what a healthy diet really consisted, and no idea how to truly be healthy. The slightest exertion would cause me to wheeze and cough. I was embarrassed and more importantly I was unhappy.</p>
        <p>I wasn't sure how or where to start but ended up going to the gym. I was intimated at first, but I went everyday and embraced the grind. Eventually, a phenomenal personal trainer noticed my effort and offered to train me in his spare time. Before I knew it, the gym had become my happy place. I loved running. I loved weight training. I loved the challenge.</p>
        <p>Gym life was for me, but something was still missing. My body wasn’t reacting to training the same way other’s did around me. I thought I was eating 'healthy' since I was a vegetarian, but my diet at this point consisted mostly of vegetables, very little grains, and too much cheese. A friend recommended a book on sports nutrition to me and my inner mad scientist was born. I love to experiment with as many foods as possible. My husband has been the poor victim of many failed experiments. But a decade of trial and error has helped me to develop the base that became Macro Meals.</p>
        <p>When I turned thirty, I was a gym rat and a foodie. I was healthy and happy but again I felt like something was still missing. I wanted to help others in their journey to health, the same way that I had been helped. I became ACE certified and completed a nutrition specialist certification. I taught a few fitness classes and took every opportunity to coach the people I saw struggling just like I once did. I felt like I could make a difference with my health and fitness knowledge. However, at this time in my life I was working as a clinical research coordinator in oncology. I loved my job and the patients, but it felt like playing health catch up. The reactive nature of most of healthcare had me a little discouraged. I wanted to help be part of the prevention of chronic disease, in a fun proactive way.</p>
        <p>Through Macro Meals I feel like I can assist those people like me, that don’t know exactly how or where to start. I continue to have health and fitness successes and failures, just as everyone does. I’ve discovered the benefits of a healthy lifestyle and hope that you will too.</p>
      </div>

    </div>

  </section>

  <section id="reviews">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Customer</span>
            <span>Reviews</span>
          </p>
        </div>

        <div class="statement">
          <div>
            <p>Love this service! I am an avid meal prepper, but when I am in a jam, I know where to go to order beautiful, balanced, tasty meals. Everything is fresh. Great texture combinations. Everything reheats really well - the meat stays tender and the veggies crisp (still do not know how they do it). The macro counts vary by meal and they come in a couple sizes, so I can pick the one that suits me for the day. Takes a lot of hassle out of eating well. The quality of ingredients is also appreciated! I know they will continue to work with local, small businesses for different ingredients as the seasons permit. Thanks for helping us all make healthy choices!</p>
            <span>-- Lindsay</span>
          </div>
          <div>
            <p>Great healthy meals with great flavor! Perfect for people on the go. These meals are great for anyone looking to eat healthy and track their macros. The best part is they take all the hassle of making the meals out of my hands. Our favorites are the Momma's Turkey Meatloaf, BBQ Chicken and the Taco Tuesday TVP.</p>
            <span>-- Chris</span>
          </div>
          <div>
            <p>Just got my first order. Loved the coconut squash curry and the Garam Masala lentils. My son really liked the taco Tuesday even though he's not vegetarian. I've been eating the packaged veggie meals from the grocery which have a tendency to taste like cardboard, so these tasty-and healthy- meals are a great change.</p>
            <span>-- Rose</span>
          </div>

        </div>

      </div>

    </div>

  </section>

{% endblock %}
