
{% extends "_layout" %}
{% includeCssFile "/about.css" %}
{% includeJsFile "/about.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>About Macro Meals</div></h1>
    </div>
  </section>

  <div class="beginning">

    <div>

    </div>

  </div>

  <section id="about">

    <div class="lock">




    </div>

  </section>

{% endblock %}
