
{% extends "_layout" %}
{% includeCssFile "/about.css" %}
{% includeJsFile "/about.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="white-clip">

      <div>
        <h1>
          <img src="/images/logo/green.svg" alt="Logo" />
          <span>About Macro Meals</span>
        </h1>

        <div class="established">
          <h2>Established 2017</h2>
          <h3>Baltimore, Maryland</h3>
        </div>

      </div>

    </div>
  </section>

  <section id="mission">

    <div class="lock">

      <div class="two-column-text">

        <div class="statement">
          <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus molestie ex, et euismod nisi dignissim in. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. id dapibus purus neque a neque.</h1>
        </div>
        <div class="summary">
          <p>
            <span>Our</span>
            <span>Mission</span>
          </p>
        </div>

      </div>

      <div class="image-grid">

        <div class="steak">
          <p><span>Protein</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="vegan">
          <p><span>Carbs</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="chicken">
          <p><span>Fat</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="logo green-logo"></div>

      </div>

    </div>

  </section>

  <section id="story">

    <div class="lock">

      <div class="two-column-text">

        <div class="summary">
          <p>
            <span>Our</span>
            <span>Story</span>
          </p>

        </div>

        <div class="statement">
          <h1>Macro Meals was founded in 2017 by Rebecca and Josh Magness.  The idea of providing convenient healthy meals was conceived around a fire pit after a few beers.</h1>
          <p>Initially, the business wasn’t anything more than a typical ‘Sunday Prepday’ to help out friends and family members, but a business model began to grow with interest.  Josh & Becky spent the next year cultivating a menu that they loved.  They worked with local farms and vendors to the best ingredients with no preservatives added.   They worked with local business to provide pickup locations and FedEx to provide overnight delivery options.<p>
          <p>In the Winter of 2017, Macro Meals opened an online store to the public.  We continue to evolve and grow Macro Meals everyday to help you achieve your goals and milestones.</p>
          <h2>Some of Josh & Becky's milestones:</h2>
        </div>

      </div>

      <div class="image-grid">

        <div class="logo white-logo"></div>
        <div class="lifting">
          <p><span>At the gym</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="hiking">
          <p><span>On the Trails</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="marathon">
          <p><span>on the track</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>
        <div class="happy">
          <p><span>In Life</span></p>
          <div class="text">
            <p>blah blah blah</p>
          </div>
        </div>

      </div>


    </div>

  </section>

{% endblock %}
