
{% extends "_layout" %}
{% includeCssFile "/calculatorStyle.css" %}
{% includeJsFile "/calculator.js" %}
{% set bodyClass = 'with-border' %}

{% block main %}

  <section id="calculator">

    <div class="lock">

      <h1>Macro Calculator</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue faucibus rutrum. Nulla volutpat blandit convallis. Sed varius est id nulla consequat molestie.</p>

      <form id="macro-calculator">

        <div class="details">

          <div class="fieldset" data-field="gender">
            <div>
              <h2>Gender</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue.</p>
            </div>
            <div>
              <label>
                <input type="radio" name="gender" value="female" />
                <span>Female</span>
              </label>
              <label>
                <input type="radio" name="gender" value="male" />
                <span>Male</span>
              </label>
            </div>
          </div>

          <div class="fieldset" data-field="age">
            <div>
              <h2>Age</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue.</p>
            </div>
            <div>
              <div>
                <label>Age</label>
                <input type="text" name="age" value="" />
              </div>
            </div>
          </div>

          <div class="fieldset" data-field="height">
            <div>
              <h2>Height</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue.</p>
            </div>
            <div>
              <div class="field">
                <label>Feet</label>
                <input type="text" name="feet" value="" />
              </div>
              <div class="field">
                <label>Inches</label>
                <input type="text" name="inches" value="" />
              </div>
            </div>
          </div>

          <div class="fieldset" data-field="block-buttons">
            <input type="hidden" name="exercise" value="" />
            <h2>Exercise</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue.  Etiam ut pretium nisl. In non metus maximus, interdum orci a, luctus augue. Cras egestas lobortis rhoncus. Morbi pellentesque erat tempor mauris volutpat, ac ornare risus mollis. Praesent scelerisque iaculis elit non dignissim.</p>
            <div>
              <div>
                <button>Sedentary <span>Very little exercise</span></button>
              </div>
              <div>
                <button>Moderate <span>2-5 workouts a week</span></button>
              </div>
              <div>
                <button>Active <span>5+ workouts a week</span></button>
              </div>
            </div>
          </div>

          <div class="fieldset" data-field="block-buttons">
            <input type="hidden" name="exercise" value="" />
            <h2>Primary Goal</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum semper ante non augue.  Etiam ut pretium nisl. In non metus maximus, interdum orci a, luctus augue. Cras egestas lobortis rhoncus. Morbi pellentesque erat tempor mauris volutpat, ac ornare risus mollis. Praesent scelerisque iaculis elit non dignissim.</p>
            <div>
              <div>
                <button>Lose Weight</button>
                <span></span>
              </div>
              <div>
                <button>Gain Weight/Muscle Mass</button>
                <span></span>
              </div>
              <div>
                <button>Recovery</button>
                <span></span>
              </div>
            </div>
          </div>

          <input type="submit" value="calculate">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
