
{% extends "_layout" %}
{% do view.registerCssFile('/faqStyle.css') %}
{% do view.registerJsFile('/faq.js') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Frequently Asked Questions</div></h1>
    </div>
  </section>

  <div class="page-scroll-wrapper">

    <div class="lock">

      <div class="page-navigation">

        <div class="page-nav">
          <button data-id="general">General</button>
          <button data-id="food">Food</button>
          <button data-id="shipping">Shipping</button>
          <button data-id="pickups">Pickups</button>
        </div>

      </div>

      <div class="page-content">

        <section id="general">

          <div class="faq-wrapper">

            <h1 class="headline-with-underline">General</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">What do I do if I don't see my question on this list?</h2>
              <p>Send us an email at <a href="mailto:help@macromeals.life">help@macromeals.life</a>.  We most likely will add your question to this list so thanks for asking!</p>
            </div>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Which local farms do you partner with?</h2>
              <p>Every season, we work with numerous farms in the Harford county area to do farm share.  If you're a farm and interested in partnering with us then we would love to hear from you!</p>
            </div>

          </div>

        </section>

        <section id="food">

          <div class="faq-wrapper">

            <h1 class="headline-with-underline">Food</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">How long do the meals stay fresh?</h2>
              <p>Different meals have different expiration dates due to the type of protein included in the meal.  Vegan meals tend to have a longer shelf life than meats as a general rule of thumb.  Every meal comes packaged with a enjoy by date and we recommend that you enjoy your meal by that date.  We general prepare, package and ship you meal within 48 hours so all meat meals should have a shelf life on 5 - 6 days when it arrives.</p>
            </div>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Is the food organic?</h2>
              <p>We work with local farmers to provide the fresh organic ingredients.  Unfortunately, it is impossible to provide year round produce from Maryland farms so produce from out of state is required and we are at the mercy of distributors.</p>
            </div>

          </div>

        </section>

        <section id="shipping">

          <div class="faq-wrapper">

            <h1 class="headline-with-underline">Shipping</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">How are your packages delivered?</h2>
              <p>We ship with UPS.  Our packages are generally delivered in a 12 x 12 box.  Inside the box is a insulated box liner to keep your meals fresh.  The liners have a guaranteed fresh time of 36 hours but we recommended all deliveries be unpackaged and placed in a refrigerator as soon as possible.</p>
            </div>

          </div>

        </section>

        <section id="pickups">

          <div class="faq-wrapper">

            <h1 class="headline-with-underline">Pickups</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Where are your pickup locations?</h2>
              <ul>
                <li>Post Man Plus : Abingdon, Maryland</li>
                <li>Bel Air, Maryland</li>
                <li>Canton, Maryland (Coming Soon)</li>
              </ul>
            </div>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">What do I need to pickup my order?</h2>
              <p>Valid identification is required to pick up your order.  Examples of valid identification are: driver's license, passport, state issued ID.</p>
            </div>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">What happens if I don't pickup my order?</h2>
              <p>Your are responsible for your pick.  If you are able to contact us before we drop off your order, then we can adjust your order to a delivery for a fee.</p>
              <p>No refunds will be given once the order is dropped of at the pickup location.</p>
            </div>

          </div>

        </section>

      </div>

    </div>

  </div>

{% endblock %}
