
{% extends "_layout" %}
{% includeCssFile "/faq.css" %}
{% includeJsFile "/faq.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Frequently Asked Questions</div></h1>
    </div>
  </section>

  <div class="page-scroll-wrapper">

    <div class="lock">

      <div class="page-navigation">

        <div class="page-nav">
          <button data-id="general">General</button>
          <button data-id="food">Food</button>
          <button data-id="shipping">Shipping</button>
          <button data-id="pickups">Pickups</button>
        </div>

      </div>

      <div class="page-content">

        <section id="general">

          <div class="faq-wrapper">

            <h1 class="acumin-medium-bold">General</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Which local farms do you partner with?</h2>
              <div>
                <div>
                  <p>Every season, we work with numerous farms in the Harford county area to do farm share.  We also attend several farmers markets a month.  If you're a farm and interested in partnering with us then we would love to hear from you!</p>
                </div>
              </div>
            </div>

          </div>

        </section>

        <section id="food">

          <div class="faq-wrapper">

            <h1 class="acumin-medium-bold">Food</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">How long do the meals stay fresh?</h2>
              <div>
                <div>
                  <p>Different meals have different expiration dates due to the type of protein included in the meal.  Vegan meals tend to have a longer shelf life than meats as a general rule of thumb.  Every meal comes packaged with a enjoy by date and we recommend that you enjoy your meal by that date.  We general prepare, package and ship you meal within 48 hours so all meat meals should have a shelf life on 5 - 6 days when it arrives.</p>
                </div>
              </div>
            </div>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Is the food organic?</h2>
              <div>
                <div>
                  <p>We work with local farmers to provide the fresh organic ingredients.  Unfortunately, it is impossible to provide year round produce from Maryland farms so produce from out of state is required and we are at the mercy of distributors.</p>
                </div>
              </div>
            </div>

          </div>

        </section>

        <section id="pickups">

          <div class="faq-wrapper">

            <h1 class="acumin-medium-bold">Pickups</h1>

            <div class="faq-entry">
              <h2 class="acumin-small-bold">Where are the locations?</h2>
              <div>

              </div>
            </div>

          </div>

        </section>

      </div>

    </div>

  </div>

{% endblock %}
