
{% extends "_layout" %}
{% includeCssFile "/macros.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Macronutrients</div></h1>
    </div>
  </section>

  <section class="row">

    <div class="lock">

      <div class="basic">

        <div class="text">

          <h1 class="with-underline"><span>The Basics</span></h1>
          <p>There are three macronutrients (macros) that comprise all of the foods we consume on a daily basis. These three nutrients are proteins, fats, and carbohydrates.</p>
          <p>Each macronutrient plays a vital role in the functioning of our bodies. Eating a healthy, well balanced diet includes all of these nutrients. The ratios may differ based upon a number of different factors, including body size and shape, as well as age. The one thing that does not change is that all three are required in order for the body to perform all of it’s functions.</p>
          <p>Research shows that tracking your macronutrient intake has far better health benefits than simply calorie counting. Meals based on counting macronutrients ensure a well balanced diet, which can be tailored to meet any individual’s particular goals.</p>
          <p>Macro Meals labels each meals with a pie chart of the macronutrient profile. There is also a modified version of the traditional nutrition facts. Giving you the tools to aid you in selecting the correct meal for your activity level or fitness goals.</p>

        </div>

        <div class="image blackboard" style="background-image: url(/images/macros/blackboard-b.jpg)"></div>

      </div>

    </div>

  </section>

  <section class="row">

    <div class="lock">

      <h1 class="sr-only"><span>Macronutrient Types</span></h1>

      <div class="two-column">

        <div class="text">

          <h2 class="with-underline"><span>protein</span></h2>
          <p>Protein is essential in building and repairing all of the body’s tissues. Every cell in the body has a protein component, including immune cells, hormones, enzymes and all of the body's organs. Protein is particularly responsible for repairing muscle tissue that has been broken down from resistance training. In addition, protein can be utilized by the body as fuel source, similar to carbohydrates, just not as readily available.</p>
          <p>The exact ratio of protein required depends on one’s physical activity level and muscle mass. Protein is important, and a diet rich in protein sources is essential for building muscle through resistance training. It is also important to eat protein in moderation and be aware of the quality of the protein. </p>
        </div>

        <div class="image" style="background-image: url(/images/macros/protein.jpg)"></div>

      </div>

      <div class="two-column">

        <div class="text">

          <h2 class="with-underline"><span>Carbohydrates</span></h2>
          <p>Carbohydrates are often vilified by the mainstream health media and many people avoid carbohydrates due to concerns about weight gain. Carbohydrates are your body’s main energy source and are necessary for you to think and remain active. Skimping too much on carbohydrates can cause several health problems.</p>
          <p>When your body doesn’t have enough glucose (an essential carbohydrate) for energy, it breaks down stored fat, producing ketones. This condition is known as ketosis, mild ketosis can cause mental fatigue, bad breath, nausea and headaches. However, severe ketosis can lead to painful swelling of the joints and even kidney stones. Breaking down stored fat is an essential aim of weight loss, but going to extremes can have detrimental results. Severely restricting carbohydrates can also have the contradictory effect of making you feel hungrier than normal.</p>
        </div>

        <div class="image" style="background-image: url(/images/macros/carbs.jpg)"></div>

      </div>

      <div class="two-column">

        <div class="text">

          <h2 class="with-underline"><span>Fat</span></h2>
          <p>Fat is an essential nutrient for just about every body system. Fat is an energy source, second to carbohydrates. It’s our backup fuel source and is easily stored in the body as adipose tissue (body fat). Fat aids in the absorption of the fat-soluble micronutrients, such as vitamins D, K, E, and A. Fats are also an essential components of cell membranes and hormones. Essential fatty acids such Omega 3 and 6 are important to cardiovascular health and some inflammatory responses.</p>
          <p>The quality of the dietary fat consumed is of the utmost importance. Saturated and hydrogenated fats have been linked to cardiovascular disease and some cancers. Unsaturated fats are healthier but still should be used in moderation as this nutrient is the most calorie dense.</p>
        </div>

        <div class="image" style="background-image: url(/images/macros/fats.jpg)"></div>

      </div>

    </div>

  </section>


{% endblock %}
