
{% extends "_layout" %}
{% includeCssFile "/shippingInstructions.css" %}
{% includeJsFile "/shippingInstructions.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Shipping & Pickups</div></h1>
    </div>
  </section>

  <section id="shipping-info">

    <div class="lock medium-lock">

      <h1 class="headline-with-underline">Shipping</h1>

      <div class="shipping">

          <div class="text">
            <p>We ship with UPS next day air to every state in the United States.</p>
            <p>We ship UPS ground with guaranteed next day delivery to the areas indicated below to reduce your shipping cost.</p>
            <p>We offer <span>$10</span> shipping for orders over $50 for all UPS ground deliveries.</p>
          </div>

          <div class="map">

            <p>Areas that are included in UPS Ground Overnight shipping cost</p>
            <img src="/images/shipping/map.jpg" alt="image of the shipping area" />

          </div>

          <form id="shipping-calculator">

            <div class="loader"></div>

            <p>Get a quote for your zip code:</p>

            <div class="field" data-required="true" valid="false">
              <label for="address"><span>Street Address</span></label>
              <div class="input">
                <input type="text"
                       name="address"
                       id="address"
                       placeholder="" />

                <div class="errors">
                  <p class="required">Street Address is a required field</p>
                </div>
              </div>
            </div>

            <div class="field" data-required="true" valid="false">
              <label for="city"><span>City</span></label>
              <div class="input">
                <input type="text"
                       name="city"
                       id="city"
                       placeholder="" />

                <div class="errors">
                  <p class="required">City is a required field</p>
                </div>
              </div>
            </div>

            <div class="field" data-required="true" valid="false">
              <label for="zipCode"><span>Zip Code</span></label>
              <div class="input">
                <input type="number"
                       name="zipCode"
                       id="zipCode"
                       placeholder=""
                       maxlength="5" />

                <div class="errors">
                  <p class="required">Zip Code is a required field</p>
                </div>
              </div>
            </div>

            <div class="field" data-required="true" valid="true">
              <label for="state"><span>State</span></label>
              <div class="input">
                <select name="state" >
                  <option disabled selected value> Please Choose </option>
                  {% for state in craft.commerce.states %}
                    <option value="{{ state.abbreviation }}">{{ state.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <input type="submit" value="Get Estimate" />

            <div class="result"></div>

          </form>

        </div>

      </div>

    </div>

  </section>

  <section id="pickups">

    <div class="lock medium-lock">

      <h1 class="headline-with-underline">Pickups</h1>

      <div class="text">

        <p>We have several pickup locations in the Maryland area.</p>
        <p>Pickup shipping cost is <span>$0</span>.</p>
        <p>Pickup locations include:</p>
        <ul>
          <li>Post Man Plus: Abingdon, Maryland</li>
          <li>Canton, Maryland (coming soon)</li>
          <li>Bel Air, Maryland (coming soon)</li>
        </ul>

      </div>

    </div>

  </section>

{% endblock %}
