
{% extends "_layout" %}
{% includeCssFile "/shippingInstructionsStyle.css" %}
{% includeJsFile "/shippingInstructions.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Deliveries & Pickups</div></h1>
    </div>
  </section>

  <section id="shipping-info">

    <div class="lock medium-lock">

      <h1 class="headline-with-underline">Delivery</h1>

      <div class="shipping">

        <div class="text">
          <p>We are no longer delivering outside of the Baltimore area.</p>
          <p>We apologize for the inconvenience.  We've been up able to find a reliable source for overnight shipping.</p>
          <p>Please send us an <a href="mailto:info@macromeals.life">email</a> if you are in the Baltimore Area and interested in getting your order delivered.</p>
        </div>

      </div>

    </div>

  </section>

  <section id="pickups">

    <div class="lock medium-lock">

      <h1 class="headline-with-underline">Pickups</h1>

      <div class="text">

        <p>We have several pickup locations in the Maryland area.</p>
        <p>Pickup shipping cost is <span>$0</span>.</p>
        <p>Pickup locations include:</p>
        <ul>
          <li>Post Man Plus: Abingdon, Maryland</li>
          <li>Broom Factory: Canton, Maryland</li>
          <li>Bel Air, Maryland (coming soon)</li>
        </ul>

      </div>

    </div>

  </section>

{% endblock %}
