
{% extends "_layout" %}
{% do view.registerCssFile('/genericStyle.css') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Terms &amp; Conditions</div></h1>
    </div>
  </section>

  <section id="content">

    <div class="lock">
      <p>Please contact us for our terms and conditions at this time</p>
    </div>

  </section>

{% endblock %}
