
{% extends "_layout" %}
{% includeCssFile "/generic.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
  </section>

  <section id="content">

    <div class="lock">
      <p>Please contact us for our terms and conditions at this time</p>
    </div>

  </section>

{% endblock %}
