
{% extends "_layout" %}
{% includeCssFile "/whyStyle.css" %}
{% includeJsFile "/why.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Why Macro Meals</div></h1>
    </div>
  </section>

  <section id="service-comparison">

    <div class="lock">

      <div class="advantage">
        <h1 class="headline-with-underline">Our Advantage</h1>
        <p>Macro Meals was created because we were disappointed with the service other companies provided. We believed it could be done better, so we created our own service. Macro Meals provides delicious healthy meals with a good shelf life, for a decent cost.</p>

        <div>
          <h2>Our order process</h2>
          <p>Unlike our competitors and restaurants, we buy all of the ingredients once an order is placed, to ensure you get the freshest meals possible. This process does require another day of lead time, but we believe the tradeoff is worth it. Orders placed usually have a three day lead time for delivery, but can be customized to meet your schedule.</p>
        </div>

        <div>
          <h2>Our cooking process</h2>
          <p>All of our meats are meticulously prepared to stay juicy during the reheating process. We do not ever use weights on our meats so they cook through a little slower and keep in moisture. All of our sides and sauces are prepared so they also maintain their nutrients and flavor during the reheating process.</p>
        </div>

        <div>
          <h2>Our quality</h2>
          <p>Every meal is developed to provide the best taste, texture, and flavor, while maintaining overall nutrient composition during reheating. Each ingredient for is selected for it’s nutrient density, freshness, and quality.</p>
          <p>Our meals go through a thorough taste tasting process before they are added to the menu. Not every meal makes it through the vetting process (in fact many do not) and we are proud of that. We have been known to sneak new meals into customer orders. We value our customer’s feedback and truly enjoy sharing our new creations. Feedback from our customers is so important in order for us to deliver the best meals possible.</p>
        </div>

        <div>
          <h2>Our costs</h2>
          <p>The cost of our meals are less than our competitors, and we don't sacrifice food quality or service to achieve it! Our shipping rates are also lower because we value the convenience of our service.</p>
          <p>How do we do it?</p>
          <p>For our food, we give credit to the Macro Meals team. Everyone on our team is willing to go the extra mile for our customers. They have a passion for food, health, and success. Everyone is willing to rollup their sleeves and do every job. Everyone cooks, cleans, answers customer communications, engages with local farmers, and contributes to the overall quality of our product.</p>
          <p>For shipping options, we work with local vendors to provide pickup locations in Maryland so the cost is zero for our customers. For deliveries, we work with UPS API's to be able to determine what the best shipping option is for our customers when they checkout.</p>
        </div>

      </div>

    </div>

  </section>

{% endblock %}
