
{% extends "_layout" %}
{% includeCssFile "/why.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Why Macro Meals</div></h1>
    </div>
  </section>

  <section id="service-types">

    <div class="lock">

      <h1>There are three categories of food delivery companies: <span>Prepared Meals, Meal Kit, and Frozen Meals.</span></h1>

      <div class="types">

        <div>
          <h2>Prepared Meals</h2>
          <p>Includes companies such as Macro Meals, Bite Meals, Territory Foods, and Factor 75.</p>
          <p>This type of service deliver fresh prepared meals that can heated in microwave or oven for convenience.</p>
          <p>These types of plans offer a user nutritious meals that can heated quickly for busy individuals looking for health options.</p>
          <p>Obviously we favored this service type since we opened our version of it.  Some of the negatives to this type of service are:</p>
          <ul>
            <li>Cost of shipping.  Most of these companies are region based due to the overnight shipping requirement of freshly cooked meals.</li>
            <li>Inconsistency.  One of the companies that we tried was extremely inconsistent food quality and size (look at you Jimmy's).</li>
            <li>Dryness.  The microwave will dry out food in general but especially meats.  Often, chicken wouldn't be overcooked compared to the vegetables.</li>
          </ul>
        </div>

        <div>
          <h2>Meal Kits</h2>
          <p>Includes companies such as Purple Carrot, Platted, Hello Fresh, and Blue Apron.</p>
          <p>This type of service deliver fresh ingredients with chef selected recipes with a weekly subscription.</p>
          <p>These types of plans offer a user a convenient way to get a variety of meals each week at a cost slightly above a grocery store.</p>
          <p>Our experience with these services (and the companies listed) was fairly consistent.  Though we did have a positive experience with each company, we cancelled our subscription after a short period of time due to:</p>
          <ul>
            <li>Time.  Cooking times ranged from an hour to hour and half per meal.</li>
            <li>Selection.  Commonly, only half of the meals were good.</li>
            <li>Taste over Nutrition. We had to modify recipes for size or use smaller than recommend serving sizes of ingredients (butter).</li>
            <li>Hassle.  Skipping a delivery was a hassle due to the subscription model.  We had meals delivered twice while on vacation (yes we are stupid).</li>
          </ul>
        </div>

        <div>
          <h2>Frozen Meals</h2>
          <p>Includes companies such as Top Chef Meals, Schwan's, and your local grocery store.</p>
          <p>This type of service is generally a pickup at the local grocery store, but could also be a delivery.</p>
          <p>These types of plans offer a cheap and convenient food option.</p>
          <p>The negatives or frozen food have been publicized for decades, but some reasons that we generally avoid them:</p>
          <ul>
            <li>Preservatives.  Frozen food often comes with preservatives to keep the ingredients biologically enhanced for freshness.</li>
            <li>Taste.  Frozen food tastes awful.  It is generally masked with cheese, sauce, cream, or ketchup to make it taste better.</li>
            <li>Nutrition.  Frozen food can lose nutrition density when frozen.</li>
          </ul>
        </div>

      </div>

    </div>

  </section>

{% endblock %}
