
@import "../../master.css";

.slim-stage h1:before {
  left: -40%;
  right: 0;
}

.flex-wrapper {

  @media (--tablet-min) {
    display: flex;
    justify-content: space-between;
  }

}

.product-actions {

  @media (--tablet-min) {
    width: 25%;
  }

  & > div {

    @media (--large-max) {
      margin-bottom: 40px;
    }

    @media (--tablet-min) {
      height: 100%;
    }

  }

  & .acumin-medium-bold {
    text-transform: uppercase;
  }

  & form {
    border: 1px solid var(--green);
    padding: 50px;
    top: 0;
    background-color: var(--white);

    @media (--large-max) {
      position: relative !important;
      width: 100% !important;
    }

  }

  & .list {
    margin-bottom: 20px;

    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    & label {
      margin-bottom: 0;
    }

    & input[type="number"] {
      width: 60px;
      margin-bottom: 0;
    }

  }

  & .options {
    border-bottom: 1px solid var(--green);
    padding-bottom: 30px;
  }

}

.product-details {

  @media(--tablet-min) {
    width: 75%;
    padding-left: 100px;
  }

  & .product-image {

     & img {
       display: block;
       margin-bottom: 40px;
       max-height: 400px;
       margin: 0 auto;
     }

  }

  & .fact-tab {

    & .controller {
      overflow: hidden;

      & button {
        display: block;
        width: 50%;
        color: var(--green);
        text-align: center;
        height: 40px;
        line-height: 40px;
        float: left;
        border-radius: 0;
      }

      &:last-of-type {
        margin-left: -4px;
      }

      & .active-button {
        background-color: var(--green);
        color: var(--white);
      }

    }

  }

  & .fact-info {
    display: none;

    & .acumin-small {
      margin-bottom: 10px;
      font-weight: 700;

      & span {
        width: 50%;
        min-width: 140px;
        display: inline-block;
        font-size: inherit;
        font-weight: 400;
      }

      &.protein {
        color: var(--auburn);
      }

      &.carbs {
        color: var(--green);
      }

      &.fat {
        color: var(--blue);
      }

    }

    & .facts {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid var(--green);
      border-top: 1px solid var(--green);
    }

    & .pie-chart {
      margin-left: 50px;

      & canvas {
        max-height: 180px;
      }

    }

  }

  & .active-info {
    display: block;
  }

  & table {
    font-size: 14px;
    width: 100%;
    border-collapse: collapse;

    & th {
      text-align: left;
      text-transform: uppercase;
      padding: 10px;
    }

    & td {
      padding: 10px;
    }

    & tr:nth-of-type(odd) td {
      background-color: var(--light-gray);
    }

  }

}
