
@import "../../master.css";

#stage {
  margin-bottom: 0;
}

.slim-stage .image {
  background-image: url(/images/stage/meals.jpg);
  background-position: top center;
}

input[type='checkbox'] {
  height: 15px;
  width: 15px;
  border: 1px solid var(--black);
  cursor: pointer;
}

.meal-wrapper {

  @media (--large-min) {
    display: flex;
    min-height: 60vh;
  }

}

.checkbox-options {

  & > div {
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 10px;
  }

}

.meal-controller {
  margin-bottom: 40px;
  padding: 10px;
  background-color: var(--light-green);
  display: none;

  @media (--large-max) {
    display: none;
  }

  @media (--tablet-min) {
    margin-left: 40px;
    margin-right: 40px;
  }

  & > div {

    @media (--large-min) {
      background-color: var(--white);
      padding: 20px;
      height: 100%;
    }

  }

  & .acumin-tiny {
    text-decoration: underline;
    margin-bottom: 10px;
    font-weight: 700;
  }

  & label {
    font-size: 14px;
    font-family: var(--nimbus);
    text-transform: uppercase;
  }

}

.meal-list {
  display: flex;
  flex-wrap: wrap;
}

.meal-entry {
  margin-bottom: 40px;

  @media (--tablet-min) {
    width: 50%;
    padding: 0 25px;
  }

  @media (--desktop-min) {
    width: 33.3%;
    margin-bottom: 60px;
  }

  &:hover .meal-detail .overlay {
    opacity: 1;
    transition: opacity .8s;
  }

}

.meal-detail {
  position: relative;
  display: block;

  & img {
    display: block;
  }

  & .overlay {

    @media (--desktop-min) {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity .4s;
      background-color: rgba(255, 255, 255, .85);
    }


    & p {
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;

      @media (--tablet-max) {
        display: none;
      }

    }

    & .meal-title {
      font-family: var(--acuminCondensed);
      font-size: 22px;
      display: block;

      & span {
        position: relative;

        @media (--tablet-max) {
          display: block;
          height: 50px;
          line-height: 50px;
        }

        @media (--desktop-min) {
          margin: 10px 0;
          padding: 10px 0;
          display: inline-block;
        }

        &:before, &:after {
          content: "";
          height: 1px;
          background-color: var(--green);
          position: absolute;

          @media (--tablet-max) {
            left: 10px;
            right: 10px;
          }

          @media (--desktop-min) {
            left: 10%;
            right: 10%;
          }

        }

        &:before {

          @media (--tablet-max) {
            display: none;
          }

          @media (--desktop-min) {
            top: 0;
          }

        }

        &:after {
          bottom: 0;
        }

      }

    }

  }

  & .meal-more {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 50px;
    background-color: rgba(255, 255, 255, .85);
    height: 40px;
    margin-bottom: 0;
    text-align: center;
    line-height: 40px;

    @media (--desktop-min) {
      display: none;
    }

  }

}
