
@import "../dependencies/root.css";

@page {
  size: 8.5in 11in;
}

@media print, screen {

  * {
    font-size: 7pt;
    padding: 0;
    margin: 0;
    font-family: var(--acuminExtaLight);
    font-weight: 400;
    line-height: 1.2em;
  }

  .page {
    padding-top: .02in;

    &:first-of-type {
      padding-top: 0;
    }

  }

  section {
    background-color: white;
    overflow: hidden;
    margin-top: .34in;
    margin-bottom: .34in;
  }

  .sticker {
    width: 5in;
    height: 3in;
    display: flex;
    margin: 0 auto;
    /* border: 1px solid var(--black); */
    border-radius: 20px;
  }

  .info {
    width: 3in;
    padding: .2in;
    overflow: hidden;
    position: relative;

    & h1 {
      font-family: var(--acuminBold);
      font-size: 12pt;
      margin-bottom: .1in;
      text-transform: uppercase;
      color: #816553;
    }

    & h2 {
      display: inline;
      text-transform: uppercase;
    }

    & .description {
      margin-bottom: .1in;
      font-size: 5.5pt;
    }

    & .instructions {
      margin-bottom: .1in;

      & p {
        font-size: 8pt;
        color: #816553;
        font-family: var(--acuminSemiBold);
      }

    }

    & .allergy {
      margin-top: .1in;
    }

  }

  .facts {
    width: 2in;
    padding: .15in .25in;

    & .list {
      text-align: center;
    }

    & p {
      font-size: 8pt;
      margin-top: 0;
      display: flex;
      justify-content: center;
      width: 1.5in;
      margin: 0 auto .02in auto;
      padding-left: .2in;

      & span {
        width: 50%;
      }

      & span:first-of-type {
        display: inline-block;
        font-family: var(--acuminBold);
        text-align: right;
        margin-right: .1in;
      }

      & span:last-of-type {
        text-align: left;
      }

    }

    & .pie-chart {
      width: 1.5in;
      height: 1.5in;
      margin-bottom: .2in;
      margin-top: .2in;
      margin-left: auto;
      margin-right: auto;

      & canvas {
        width: 1.5in !important;
        height: 1.5in !important;
      }

    }

  }

}
