
@import "../dependencies/root.css";

@media print, screen {

  * {
    padding: 0;
    margin: 0;
  }

  .page {
    height: 7.3in !important;
    width: 10in !important;
    padding: .5in;
  }

  hr {
    margin: .3in 0;
    width: 100%;
    background-color: var(--green);
  }

  img {
    max-height: .5in;
    margin-bottom: .2in;
  }

  h1 {
    text-transform: uppercase;
    font-family: var(--parklane);
    font-size: 20pt;
    margin-bottom: .07in;
  }

  h2 {
    font-size: 14pt;
    margin-bottom: .05in;
  }

  p {
    margin-bottom: .05in;
    font-size: 10pt;
  }

  .items {

    & p {
      font-size: 8pt;
    }

    & .quantity {
      font-family: var(--parklaneBold);
      font-size: 11pt;
    }

    & .size {
      font-size: 10pt;
      font-family: var(--acuminMediumItalic);
    }

  }

}
