
{% do view.registerCssFile('/automationSummaryStyle.css') %}
{% set orders = craft.commerce.orders.orderStatusId(4) %}

<!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  </head>

  <body>

    {% if currentUser %}

      {% if currentUser.admin %}

        {% set number = 0 %}

        <main>

          {% for order in orders | reverse %}

            <div class="page">

              <section id="order-summary">

                <img src="/images/logo/green.svg" />

                <h1>Thank you for your order!</h1>
                <h2>In the box you will find:</h2>

                <div class="items">

                  {% for item in order.lineItems %}

                    {% set variant = item.purchasable %}
                    {% set product = variant.product %}
                    {% set quantity = item.qty | number_format %}

                    <p><span class="quantity">{{ quantity }}</span> {{ product.title }} <span class="size">{{ variant.title }}</span></p>

                  {% endfor %}

                </div>

                <hr>

                <h1>Coming Soon</h1>

                <p>2 Salad Meals:  We have been waiting for Spring to introduce them but a few customers have asked for them.</p>
                <p>5 Breakfast Meals:  We will be rolling them out slowly based on feedback from our tasting review.</p>
                <p>$5 delivery charge for Abingdon and Bel Air.  We will hopefully be adding Fallston in the near future.</p>

                <hr>

                <h1>Coming This Year</h1>

                <p>Bel Air Farmers Market (April).  Details on instagram and Facebook soon.</p>
                <p>Snack Meals (May)</p>
                <p>Health Blog (June)</p>

              </section>

            </div>

            {% endfor %}

        </main>

      {% endif %}

    {% endif %}

  </body>

</html>
