
{% extends "layout" %}
{% set title = "404" %}
{% includeCssFile "/homepage.css" %}

{% block main %}

<section id="stage">

	<div class="image"></div>
	<div class="text">
		<h1>Page not found</h1>
	</div>

</section>

{% endblock %}
