
{% extends "_layout" %}

{% block main %}

  <section id="questions">

    <div class="lock">

      <h1 class="flama-large">Frequently Asked Questions</h1>

      <div class="wrapper">

        <div class="faq-wrapper">

          <div class="faq-entry">
            <h2>How many jellybeans are included with my meal?</h2>
            <div>
              <div>A minimum of 3 jellybeans are included with each meal</div>
            </div>
          </div>

          <div class="faq-entry">
            <h2>Does Becky really have a big butt?</h2>
            <div>
              <div>Yes, yes she does</div>
            </div>
          </div>

          <div class="faq-entry">
            <h2>What if I hate your food?</h2>
            <div>
              <div>Um, contact us</div>
            </div>
          </div>

          <div class="faq-entry">
            <h2>A vegan question?</h2>
            <div>
              <div>Um, contact us</div>
            </div>
          </div>

        </div>

        <div clas="image"></div>

      </div>

    </div>

  </section>

{% endblock %}
