
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/homepage.js" %}

{% block main %}

  <section id="stage">

    <div class="image"></div>
    <div class="text">
      <h1><span>Meals for a</span>Healthy Life</h1>
      <a href="/macros.twig" class="call-to-action">Learn More</a>
    </div>

  </section>

  <section class="notice">

    <div class="lock">

      <div class="text">
        <div class="toggle">
          <h1 class="nimbus-small-bold"><span>NOTICE</span></h1>
          <p class="nimbus-small">The store is only available for those enrolled in our beta program until January 1st, 2018.</p>
        </div>
        <div class="expand-content">
          <div>
            <p>Currently we are accepting applications for new beta members for our October 15th enrollment.  If your are interested please signup below.</p>
            <p>We apologize for the inconvenience but we want to ensure the best product and ingredients for all of our members.</p>
            <a href="/beta" class='call-to-action'>Sign Up</a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="why">

    <div class="lock">

      <div class="summary">
        <p class="nimbus-medium-bold">Macro Meals are created to give your body the nutrients that it needs! Our mission is to transform the way you shop and eat.</p>
        {# <p>We ship and deliver in the Maryland, Delaware, and lower Pennsylvania area.</p> #}
      </div>

      <div class="transform">

        <div class="size-row">
          <div class="text">
            <h1 class="trajan-headline">How you shop</h1>
            <p>Finding the right nutrients at the grocery store can leave you scratching your head.  Companies use deceptive packaging to make the consumer buy their product.  <span>Did you know:</span> Companies are allowed a 20% variances in the nutrient facts!</p>
            <p>Grocery stores are not setup for you to be successful with your diet unless you are willing to spend the time to investigate each product.</p>
            <p>Our meals are prepared with the fresh ingredients possible <span>without</span> any antibiotics.  We pledge to partner with local farmers when available, or buy from local companies when the produce or meats are not in season.</p>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/pre-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/pre.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <h1 class="trajan-headline">How you Cook</h1>
            <p>Cooking is hard!  It is also fun!  We love to cook and we hope you do to!</p>
            <p>Cooking every meal from scratch is impossible professionals today.  Having a company provide at least a few meals a week can be the difference between keeping to your diet or having a Big Mac.</p>
            <p>Unlike other feed prep companies; We make every meal from scratch.  Every ingredient is reviewed for freshness and then prepared by our team of chefs.</p>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/cooking-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/cooking.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <h1 class="trajan-headline">How you eat</h1>
            <p>Healthy food should still taste good.  Vegan food should still taste good.  You shouldn't have to sacrifice taste for you diet.</p>
            <p>Our talented team has been making vegan food for over a decade and doesn't sacrifice taste for calories.</p>
            <p>Every meal comes with the true nutrient facts so you can feel good about what you are eating and plan your workouts correctly.</p>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/food-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/food.jpg)"></div>
          </div>
        </div>

        <div class="size-row">
          <div class="text">
            <h1 class="trajan-headline">How you clean</h1>
            <p>Cooking may be fun, but the clean up never is.  Food preparation can take an entire day with the cleanup.</p>
            <p>A Macro Meal deliveries with 100% recyclable materials to keep your food fresh.  All meals have an enjoy by date of at least five days so you enjoy your week as things come up without the worry of food expiring.</p>
          </div>
          <div class="images">
            <div class="image previous" style="background-image:url(/images/homepage/transform/post-nightmare.jpg)"></div>
            <div class="image current" style="background-image:url(/images/homepage/transform/post.jpg)"></div>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="featured">

    <div class="lock">

      <h1 class="trajan-large"><span>Meal of the Month</span></h1>

      <div class="product">

        <div class="info">
          <h2 class="nimbus-medium-bold">Kabob Bowl <span>With Chicken</span></h2>
          <p><span class="nimbus-tiny-bold">Ingredients:</span> Seasoned Chicken, Tomato, Green and Yellow Peppers, Pineapple, and Rice</p>
          <p class="nimbus-tiny-bold"><span>Protein:</span> 51g</p>
          <p class="nimbus-tiny-bold"><span>Carbs:</span> 47g</p>
          <p class="nimbus-tiny-bold"><span>Fat:</span> 11g</p>
        </div>

        <div class="image" style="background-image: url(/images/products/example-1.jpg)">
          <div class="pie-chart" style="background-image: url(/images/products/pie-chart/kabo-chicken-bowl.svg)"></div>
        </div>
      </div>

    </div>

  </section>

  <section id="article">

    <div class="lock">

      <div class="image">
        <img src="/images/articles/example.jpg" alt="image of people" />
      </div>
      <div class="text">
        <h1 class="nimbus-medium">10 tips for getting in shape for the summer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum metus, lacinia nec sodales vitae, auctor quis ante. Suspendisse rutrum venenatis mauris, eget porta metus finibus ac. Duis molestie volutpat lectus at condimentum. Nullam egestas, tortor ac sollicitudin placerat, enim nibh feugiat massa, vitae iaculis est felis eget sem. Etiam eget convallis orci. Maecenas et varius tellus, quis mollis eros. Nullam a elementum arcu, in laoreet magna.</p>
        <a href="" class="call-to-action">Read More</a>
      </div>

    </div>

  </section>

{% endblock %}
