
{% extends "_layout" %}
{% includeJsFile "/homepage.js" %}
{% set stylesheet = '/homepageStyle.css' %}

{% block main %}

  <section id="stage">
    <div class="bg-wrap">
      <div class="image"></div>
    </div>
    <div class="lock">
      <div>
        <div>
          <h1>
            <span>Freshly Prepared</span>
            <p>Healthy Meals</p>
            <span>Delivered to you</span></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="top-layer-wrapper">

    <section id="page-navigation">
      <div>
        <a href="/pages/about"><div>About <span>Macro Meals</span></div></a>
        <a href="/pages/macros"><div>What Are <span>Macronutrients</span></div></a>
        <a href="/pages/why"><div>Why <span>Macro Meals</span></div></a>
      </div>
    </section>

    <section class="meals-by-category">

      {% set featuredCategory = craft.categories.group('mealType').slug('featured').first() %}

      <div class="lock">

        <div class="meal-group">
          <div class="loader"></div>

          <div class="meal-list">

            <div class="featured">
              <h2 class="headline-with-underline">Featured Meals</h2>
            </div>
            <div class="entries">
              <div class="entries-group" data-category-id="{{ featuredCategory.id }}">
                <a href="/shop" class="call-to-action">See all Meals</a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>

    <section id="macros" class="callout">

      <div class="lock">

        <div class="columns">

          <div class="text">
            <h1 class="headline-with-underline">Macronutrients</h1>
            <p>There are three macronutrients; carbohydrates, protein, and fats. These are what comprise the entire calorie content of all foods. Eating a healthy well balanced diet includes all of these nutrient. The ratio may differ based upon a number of different factors including size and age.  </p>
            <p>Research shows that tracking your macronutrient intake has far better health benefits than simply calorie counting. Meals based on counting macronutrients ensure a well balanced diet, which can be tailored to meet any individual’s particular goals.</p>
            <p>Macro Meals labels each meals with a pie chart of the macronutrient profile. There is also a modified version of the traditional nutrition facts. Giving you the tools to aid you in selecting the correct meal for your activity level or fitness goals.</p>
            <a href="/pages/macros" class="call-to-action">Learn More</a>
          </div>

          <div class="pie">
            <img src="/images/homepage/pie-chart.png" alt="pie chart example" />
          </div>

        </div>

      </div>

    </section>

    <section class="meals-by-category">

      {% set seasonalCategory = craft.categories.group('mealType').slug('seasonal').first() %}

      <div class="lock">

        <div class="meal-group">
          <div class="loader"></div>

          <div class="meal-list">

            <div class="featured">
              <h2 class="headline-with-underline">Seasonal Meals</h2>
            </div>
            <div class="entries">
              <div class="entries-group" data-category-id="{{ seasonalCategory.id }}">
                <a href="/shop" class="call-to-action">See all Meals</a>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section>

    <section id="shipping" class="callout">

      <div class="lock">

        <div class="columns">

          <div class="text">
            <h1 class="headline-with-underline">Shipping</h1>
            <p>A successful diet or workout program requires nutrient dense meals.  Every meal that we prepare is delivered to you as fresh as possible due to frozen food having a reduction in the amount of nutrients compared to fresh food.  Plus, fresh food tastes better!</p>
            <p>We provide shipping options based on your zip code to reduce your shipping cost as much as possible.  We also have pickup locations in Maryland and can schedule pickups at local farmer markets that we attend.</p>
            <a href="/pages/shipping-instructions" class="call-to-action">Learn More</a>
          </div>

          <div class="image">
            <img src="/images/homepage/shipping.jpg" alt="image of a delivery" />
          </div>

        </div>

      </div>

    </section>

    <section id="help" class="callout">

      <div class="lock">

        <h1 class="headline-with-underline">Need Help</h1>

        <div class="columns">

          <div class="image">
            <img src="/images/homepage/confused.png" alt="image of a confused kitten" />
          </div>

          <div class="text">
            <p>Not sure what meals are right for your activity level?</p>
            <p>Not sure if you should be eating more protein or carbs?</p>
            <p>Need workout recommendations?</p>
            <p>Need a friend to watch your dog while you're away? (our potato peeler Josh will)</p>
            <p>Let us know any questions that you have!</p>
            <p class="here">We are here to help!</p>
            <a href="mailto:info@macromeals.life" class="call-to-action">Contact Us</a>
          </div>

        </div>

      </div>

    </section>

  </div>

{% endblock %}
