
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/homepage.js" %}

{% block main %}

  <section id="stage">

    <div class="image"></div>
    <div class="text">
      <h1><span>Meals for a</span>Healthy Life</h1>
      <a href="/macros.twig" class="call-to-action">Learn More</a>
    </div>

  </section>

  <section class="notice">

    <div class="lock">

      <div class="text">
        <h1 class="flama-small"><span>Notice</span><span>The store is only available for members in our beta program until January 1st, 2018.  Interested in signing up for the beta program?</span></h1>
        <div class="expand-content">
          <div>
            <p>Currently we are only accepting beta members for October 15th.</p>
            <p>We apologize for the inconvenience but we want to ensure the best product and ingredients for all of our members.</p>
            <a href="/beta">Sign Up</a>
          </div>
        </div>
      </div>

    </div>

  </section>

  <section id="featured">

    <div class="lock">

      <div class="flex-wrapper">

        <div class="flex-headline">
          <h1 class="didot-headline">Featured meal <span>of the month</span></h1>
        </div>

        <div class="flex-section">

          <div class="product">
            <div class="text">
              <h2 class="apercu-large">Kabob Bowl <span>With Chicken</span></h2>
              <div>
                <div class="info">
                  <p><span>Protein:</span> 51g</p>
                  <p><span>Carbs:</span> 47g</p>
                  <p><span>Fat:</span> 11g</p>
                </div>
                <div class="chart">
                  <img src="/images/products/pie-chart/kabo-chicken-bowl.svg" alt="image of the kabob bowl nutrient guide" />
                </div>
              </div>

            </div>
            <div class="image">
              <h2 class="apercu-large">Kabob Bowl <span>With Chicken</span></h2>
              <div style="background-image: url(/images/products/example-1.jpg)"></div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section>

  <section id="seasonal">

    <div class="lock">

      <div class="flex-wrapper">

        <div class="flex-headline">
          <h1 class="didot-headline">Seasonal Selections</h1>
        </div>

        <div class="flex-section">

          <div class="product-summary">
            <div class="image" style="background-image: url(/images/products/example-2.jpg)" /></div>
            <div class="text">
              <h2 class="apercu-medium">Example Item</h2>
            </div>
          </div>

          <div class="product-summary">
            <div class="image" style="background-image: url(/images/products/placeholder.jpg)" /></div>
            <div class="text">
              <h2 class="apercu-medium">Example Item <span>With Text</span></h2>
            </div>
          </div>

          <div class="product-summary">
            <div class="image" style="background-image: url(/images/products/placeholder.jpg)" /></div>
            <div class="text">
              <h2 class="apercu-medium">Example Item</h2>
            </div>
          </div>

          <div class="product-summary">
            <div class="image" style="background-image: url(/images/products/example-3.jpg)" /></div>
            <div class="text">
              <h2 class="apercu-medium">Example Item</h2>
            </div>
          </div>

          <a href="/store" class="call-to-action">See all products</a>

        </div>

      </div>

    </div>

  </section>

  <section id="article" class="callout">

    <div class="lock">

      <div class="image">
        <img src="/images/articles/example.jpg" alt="image of people" />
      </div>
      <div class="text">
        <h1 class="apercu-medium">10 tips for getting in shape for the summer</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum metus, lacinia nec sodales vitae, auctor quis ante. Suspendisse rutrum venenatis mauris, eget porta metus finibus ac. Duis molestie volutpat lectus at condimentum. Nullam egestas, tortor ac sollicitudin placerat, enim nibh feugiat massa, vitae iaculis est felis eget sem. Etiam eget convallis orci. Maecenas et varius tellus, quis mollis eros. Nullam a elementum arcu, in laoreet magna.</p>
        <a href="" class="call-to-action">Read More</a>
      </div>

    </div>

  </section>

{% endblock %}
