
{% extends "layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/homepage.js" %}

{% block main %}

  <section id="stage">

    <div class="image"></div>
    <div class="text">
      <h1><span>Meals for a</span>Healthy Life</h1>
      <a href="/macros.twig">Learn More</a>
    </div>

  </section>

  <section class="notice">

    <div class="lock">

      <div>
        <p>We are excited to announce that we are now providing our freshly prepared meals to the Maryland area.  We currently are only shipping to a limited number of clients.</p>
        <p>Currently we are only accepting beta members for October 1st.  We apologize for the inconvenience but we want to ensure the best product and ingredients for all users!</p>
        <p>Please submit email address if you would like to be notified of when products are avilable in your area</p>
        <a href="/beta">Sign Up</a>
      </div>

    </div>

  </section>

{% endblock %}
