
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}
{% includeJsFile "/homepage.js" %}

{% block main %}

  <section id="stage">
    <div class="bg-wrap">
      <div class="image"></div>
    </div>
    <div class="lock">
      <div>
        <div>
          <h1 class="acumin-stage">
            <span>Freshly Prepared</span>
            <p>Healthy Meals</p>
            <span>Delivered to you</span></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="top-layer-wrapper">

    <section id="page-navigation">
      <div>
        <a href="/shop/quick-order"><div>Quick <span>Order Form</span></div></a>
        <a href="/pages/macros"><div>What Are <span>Macronutrients</span></div></a>
        <a href="/pages/about"><div>About <span>Macro Meals</span></div></a>
      </div>
    </section>

    <section id="delivery">
      <div class="lock">
        <img src="/images/icons/delivery-truck-green.svg" />
        <p>Interested in delivery or pickup options?</p>
        <a href="/pages/shipping-instructions">Learn More</a>
      </div>
    </section>

    <section class="meals-by-category">

      {% set featuredCategory = craft.categories.group('mealType').slug('featured').first() %}

      <div class="meal-list">

        <div class="lock">

          <div class="featured">
            <h2 class="headline-with-underline">Featured Meals</h2>
          </div>
          <div class="entries">
            <div class="entries-group" data-category-id="{{ featuredCategory.id }}">
              <a href="/shop" class="call-to-action">See all Meals</a>
            </div>
          </div>

        </div>

      </div>

    </section>

    <section class="meals-by-category">

      {% set seasonalCategory = craft.categories.group('mealType').slug('seasonal').first() %}

      <div class="meal-list">

        <div class="lock">

          <div class="seasonal">
            <h2 class="headline-with-underline">Seasonal Meals</h2>
          </div>
          <div class="entries">
            <div class="entries-group" data-category-id="{{ seasonalCategory.id }}">
              <a href="/shop" class="call-to-action">See all Meals</a>
            </div>
          </div>

        </div>

      </div>

    </section>

  </div>

{% endblock %}
