
{% extends "layout" %}
{% includeCssFile "/macros.css" %}

{% block main %}

  <section id="stage">
    <div class="image"></div>
  </section>

  <section class="row">

    <div class="lock">

      <div class="two-column">

        <div class="text">

          <h1><span>The Basics</span></h1>
          <p>Macros (macronutrients) are what makes up the food we eat each day in order to live and function.</p>
          <p>Macros have three categories: Protein, Carbohydrates, and fat.  These are also known as vitamins and minerals and there is a wide variety of these that are needed for proper function in the body.</p>
          <p>The correct caculated macros will provide your body with the energy that it needs without adding any excess stress due to weight.</p>

        </div>

        <div class="image" style="background-image: url(/images/macros/blackboard-b.jpg)"></div>

      </div>

    </div>

  </section>

  <section class="row">

    <div class="lock">

      <div class="two-column">

        <div class="text">

          <h1><span>The protein</span></h1>
          <p>This macro is what we all think of when it comes to building muscle, but it’s also equally important for maintaining muscle mass on a fat loss diet.</p>
          <p>Protein is responsible for many functions in the body, but for this guide, we’ll focus mostly on how it helps us repair muscle tissue that’s been broken down from hard resistance training.</p>
          <p>When your body undergoes muscle repair, turnover, and thus, growth, this is a physiological process called anabolism, which is why protein can be considered anabolic.</p>
        </div>

        <div class="image" style="background-image: url(/images/macros/protein.jpg)"></div>

      </div>

    </div>

  </section>

  <section class="row">

    <div class="lock">

      <div class="two-column">

        <div class="text">

          <h1><span>The Carbohydrates</span></h1>
          <p>This macro is absolutely necessary for health, performance, and improved body composition. While it may be a hot debate about how many carbohydrates are necessary among low-carb zealots, we know a few things for certain. The brain uses up to 20% of our daily expenditure, and it runs on glucose, which is the simplest form of sugar broken down in the body[2].</p>
          <p>To get technical, the body can survive on zero carbohydrates, but this is not ideal. In this case, the body will break down the protein you’ve eaten, as well as your muscles, to use as glucose.</p>
          <p>Carbohydrates are stored in your liver and in your muscles. The stored carbohydrates are known as glycogen, and this is the primary fuel source for your high-intensity activities (hello weight training and sprints).</p>
        </div>

        <div class="image" style="background-image: url(/images/macros/carbs.jpg)"></div>

      </div>

    </div>

  </section>

  <section class="row">

    <div class="lock">

      <div class="two-column">

        <div class="text">

          <h1><span>The Fats</span></h1>
          <p>This macro is an essential nutrient we all need, and it helps with the absorption of the fat-soluble vitamins (D, K, E, A). Fat is also an energy source, right behind carbohydrates. We burn fat when we’re at rest. It’s the backup fuel source and is easily stored in the body as fat. And this makes sense based on how we survived throughout periods of feast and famine.</p>
          <p>Fat also helps with hormone production (testosterone for men, progesterone for women), so a diet too low in fat could be detrimental to your hormonal health.</p>
        </div>

        <div class="image" style="background-image: url(/images/macros/fats.jpg)"></div>

      </div>

    </div>

  </section>

{% endblock %}
