
{% extends "_layout" %}
{% includeCssFile "/register.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Register</div></h1>
    </div>
  </section>

  <section>

    <div class="lock">
      <p>The registration will be available soon.</p>
      <p>Please register on the beta membership page to receive updates</p>
      <a href="/beta" class="call-to-action">Sign Up</a>
    </div>

  </section>


{% endblock %}
