
{% extends "_layout" %}
{% includeCssFile "/register.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
  </section>

  <section>

    <div class="lock">
      <p>The registration will be available soon.</p>
      <p>Please sign with the beta membership page.</p>
      <a href="/beta" class="call-to-action">Sign Up</a>
    </div>

  </section>


{% endblock %}
