
{% extends "layout" %}
{% includeCssFile "/homepage.css" %}

{% set from = craft.request.getQuery('from') %}

{% block main %}

  <section id="intro">

    <div class="coming">

      <h1>Coming Soon</h1>
      <p>We are excited to announce that we have begun providing our freshly prepared meals to the Maryland area.  We currently are only shipping to a limited number of clients.</p>
      <p>Please submit your email address if you would like to be notified when we are accepting new clients.</p>

      <p class="submitted">Thank you <br>for your submission</p>

    </div>

  </section>

{% endblock %}
