
{% extends "_layout" %}
{% includeCssFile "/homepage.css" %}

{% set from = craft.request.getQuery('from') %}

{% block main %}

  <section id="stage">

    <div class="image"></div>
    <div class="text">
      <h1>Coming Soon</h1>
    </div>

  </section>

  <section id="intro">

    <div class="lock">

        <p class="submitted">Thank you <br>for your submission</p>

    </div>

  </section>

{% endblock %}
