
{% extends "_layout" %}
{% includeCssFile "/billing.css" %}

{% block main %}

  <div class="cart-breadcrumb">

    <div class="lock">

      <h1 class="nimbus-large-bold"><span>Customer</span>Billing</h1>

      <div>
        <a href="/shop/cart">Shopping Cart</a>
        <a href="/shop/customer">Customer Information</a>
        <a href="/shop/billing" class='active'>Billing</a>
        <a href="/shop/confirmation">Order Confirmation</a>
      </div>

    </div>

  </div>

  <section id="billing">

    <div class="lock">

      <form>

        <div>
          <label>Cardholder's Name</label>
          <input type="text" />
        </div>

        <div>
          <label>Card Number</label>
          <input type="text" />
        </div>

        <div class="two-column">

          <div>
            <label>Valid Thru</label>
            <input type="text" />
          </div>

          <div>
            <label>CVV/CVS</label>
            <input type="text" />
          </div>

        </div>

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Customer Information</span></a>
          <input type="submit" value="Proceed to Confirmation" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
