
{% extends "_layout" %}
{% includeCssFile "/cart.css" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="trajan-large"><div>Cart</div></h1>
    </div>
  </section>

{% endblock %}
