
{% extends "_layout" %}
{% includeCssFile "/cart.css" %}
{% includeJsFile "/cart.js" %}

{% block main %}

  {% include "components/cart-breadcrumb.twig" %}

  <section id="no-items">

    <div class="lock">

      <p class="acumin-medium">You currently do not have meals in your cart.</p>
      <p class="acumin-small">You can view all of our meals <a href="/meals">here</a>.
      <p>Please contact us at <a href="mailto:help@macromeals.life">help@macromeals.life</a> if you are having any issues adding meals or if you would like to setup a phone call to help walk you through the website.</p>

    </div>

  </section>

  <section id="cart">

    <div class="lock">

      <h1 class="sr-only">Cart Items</h1>

      <form>

        <div class="items">

          <div class="order-item">

            <div class="image" style="background-image: url(/uploads/products/kabob-with-chicken.jpg)"></div>

            <div class="wrapper">
              <h2>Kabob Meal with Chicken</h2>

              <div class="item-actions">
                <div class="increment">
                  <button class="icons minus"></button>
                  <span>1</span>
                  <button class="icons plus"></button>
                </div>
                <p class="cost">$8.99</p>
                <button class="icons remove"></button>
              </div>
            </div>

          </div>

          <div class="order-item">

            <div class="image"  style="background-image: url(/uploads/products/chicken-squash.jpg)"></div>

            <div class="wrapper">
              <h2>Chicken with Squash</h2>

              <div class="item-actions">
                <div class="increment">
                  <button class="icons minus"></button>
                  <span>1</span>
                  <button class="icons plus"></button>
                </div>
                <p class="cost">$8.99</p>
                <button class="icons remove"></button>
              </div>
            </div>


          </div>

          <div class="order-item">

            <div class="image"  style="background-image: url(/uploads/products/chicke-with-salas.jpg)"></div>

            <div class="wrapper">
              <h2>Chicken With Salsa</h2>

              <div class="item-actions">
                <div class="increment">
                  <button class="icons minus"></button>
                  <span>1</span>
                  <button class="icons plus"></button>
                </div>
                <p class="cost">$8.99</p>
                <button class="icons remove"></button>
              </div>
            </div>

          </div>

        </div>

        <div class="cart-total">

          <p class="acumin-small-bold">Total<span class="amount">$59.99</span></p>

        </div>

        <div class="checkout-actions">

          <a href="" class="icons">Back <span>to Customer Information</span></a>
          <input type="submit" value="Proceed to Customer Info" class="call-to-action">

        </div>

      </form>

    </div>

  </section>

{% endblock %}
