
{% extends "_layout" %}
{% includeCssFile "/quickorder.css" %}
{% includeJsFile "/quickorder.js" %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1 class="acumin-stage"><div>Quick Order</div></h1>
    </div>
  </section>

  {% include "components/notice.twig" %}

  <section id="order-form">

    <div class="lock narrow">

      <div class="category-group">

        <form>

          <div class="group-header">

            <h1 class="acumin-medium-bold">Lunch & Dinner</h1>

            <div>
              <div class="type">Size</div>
              <div class="price">Price</div>
              <div class="quantity">Quantity</div>
            </div>

          </div>

          <div class="group-body">

            {% for product in craft.commerce.products %}

              <div>

                {% for variant in product.variants %}
                  <div class="variant-row">
                    {% if loop.first %}
                      <div class="title"><span class="acumin-small-bold">{{ product.title }}</span><a href="/shop/details/{{ product.slug }}">See Details</a></div>
                    {% endif %}
                    <div class="type">{{ variant.title }}</div>
                    <div class="price">{{ variant.salePrice }}</div>
                    <div class="quantity"><input type="text" value="0" /></div>
                  </div>
                {% endfor %}

              </div>

            {% endfor %}

          </div>

        </form>

      </div>

    </div>

  </section>

{% endblock %}
