
{% extends "_layout" %}
{% do view.registerCssFile('/subscriptionsStyle.css') %}
{% do view.registerJsFile('/subscriptions.js') %}

{% block main %}

  <section id="stage" class="slim-stage">
    <div class="image"></div>
    <div class="lock">
      <h1><div>Subscriptions</div></h1>
    </div>
  </section>

  <form method="POST" id="product-addition" data-redirect="checkout">

    <section id="subscription-details">

      <div class="lock">

        <h1 class="sr-only"><span>Healthy Meals Delivered to You</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt justo vel dignissim consequat. Vivamus non diam suscipit metus condimentum ullamcorper id eget urna.</p>

        <h2 class="acumin-tiny-bold">Plan Options</h2>

        <div class="plans">

          <div>
            <h3>Weekly Meals Plan</h3>
            <p>This plan offers an easy and affordable way to get your favorite meals every week.</p>
            <p>Costs vary based on the number of meals that you order.</p>
            <p>You can choose meals from our list of meals or select to have random meals with your choice of protein or a combination of both.</p>
          </div>

          <div>
            <h3>Nutrition Guide Plan</h3>
            <p>This plan offers a complete replacement for the grocery store.  It provides a complete diet plan with meals delivered every week.</p>
            <p>Subscribers will discuss their dietary needs and provide weekly feedback over the phone or through email.</p>
            <p>All meals will be individually tailored to meet the individuals goals of weight lose or gain.</p>
            <p>Plans start at $250 a weekly plus shipping for 5 breakfast meals, 5 lunch meals, and 5 dinner meals.</p>
          </div>

        </div>

      </div>

    </section>

  </form>

{% endblock %}
