
#payment {
  max-width: 640px;
  margin: 0 auto;

  & .form-group {
    margin-bottom: 40px;

    & > div {
      background: var(--white);
      margin-bottom: 20px;
      border: 1px solid var(--light-gray);
    }

    & > div[valid="true"] {
      border: 1px solid var(--green);

      & label {
        color: var(--green);
      }

    }

    & > div[valid="false"] {
      border: 1px solid var(--red);

      & label {
        color: var(--red);
      }

    }

    & label {
      position: relative;
      color: var(--black);
      font-weight: 300;
      height: 44px;
      line-height: 44px;
      margin-bottom: 0;
      width: 100%;
    }

    & span {
      width: 120px;
      text-align: right;
      margin-left: 20px;
      display: block;
      font-weight: 700;
    }

    & input {
      height: inherit;
      width: inherit;
      margin: inherit;
      border: none;
      font-weight: 400;
    }

    & .input {
      background: transparent;
      color: var(--black);
      cursor: text;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 160px;
      right: 10px;

      &::-webkit-input-placeholder {
        color: #333333;
      }

      &::-moz-placeholder {
        color: #333333;
      }

    }

  }

  & #card-errors {
    padding: 20px 0;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: red;
    display: none;
  }

}

form[payment-request="true"] {

  & .request-button {
    display: none;

    & .divider {
      text-align: center;
      padding: 40px 0;
      color: var(--green);
      margin-bottom: 0;

      & span {
        position: relative;
        font-size: 30px;
        display: inline-block;
        text-transform: uppercase;
        font-family: var(--acuminCondensed);
        line-height: 1em;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100px;
          top: 50%;
          transform: rotateY(-50%);

          @media (--tablet-min) {
            width: 100px;
          }

          @media (--desktop-min) {
            width: 150px;
          }

        }

        &:before {
          background: linear-gradient(90deg, transparent 0%, var(--green) 100%);
          right: 60px;
        }

        &:after {
          background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
          left: 60px;
        }

      }

    }

    & #payment-request-button {
    }

  }

}
