
#payment {
  max-width: 600px;
  margin: 0 auto;

  & .errors {
    margin-top: -40px;
    margin-bottom: 40px;

    & p {
      position: relative;
      text-align: left;
      width: 100%;
    }

  }

  & .overlay {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    font-size: 12px;
    color: var(--gray);
    display: none;

    & img {
      height: 15px;
      width: 15px;
      display: none;
    }

  }

  & [valid="true"] {

    & .overlay {

      & span {
        display: none;
      }

      & img {
        display: block;
      }

    }

  }

  & .card-number-expiration {

    @media (--large-min) {
      display: flex;
    }

  }

  & .number {

    @media (--large-min) {
      width: 70%;
    }

  }

  & .expiration {

    @media (--large-min) {
      width: 30%;
      padding-left: 10px;
    }

  }

}
