
section:not(#stage) {

  & .lock {
    position: relative;
  }

}

#order-summary {

  & .list-item {
    display: flex;
    justify-content: space-between;
  }

  & span {
    font-family: var(--acuminSemiBold);
    font-size: 22px;
  }

}

#payment-method {

  & h1 {
    margin-bottom: 10px;
  }

  & .type {

    &[active="true"] button {
      background-color: var(--white);
      border: 1px solid var(--black);
      color: var(--black);
    }

    &:last-of-type button {
      margin-bottom: 0;
    }

  }

  & button {
    width: 100%;
    text-align: center;
    background-color: var(--black);
    height: 44px;
    color: var(--white);
    margin-bottom: 10px;
    text-transform: capitalize;
    font-family: var(--acuminMediumItalic);
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 5px;
  }

  & .payment-request-wrapper {
    margin-bottom: 5px;
    display: none;
  }

}

#payment-options {

  & form {
    display: none;

    &:first-of-type {
      display: block;
    }

  }

  & form#payment {

    & .form-group {
      margin-bottom: 40px;

      & > div {
        background: var(--white);
      }

      & > div[valid="true"] {

        & label {
          color: var(--green);
        }

        & > div {
          border: 1px solid var(--green);
        }

      }

      & > div[valid="false"] {

        & label {
          color: var(--red);
        }

        & > div {
          border: 1px solid var(--red);
        }

      }

      & label {
        position: relative;
        margin-bottom: 0;
        width: 100%;
        margin-bottom: 5px;
        font-family: var(--acuminSemiBold);
        font-size: 14px;

        & span {
          display: block;
          font-weight: 700;
          padding-left: 5px;
        }

      }

      & .input {
        background: transparent;
        color: var(--black);
        cursor: text;
        font-weight: 300;
        margin-bottom: 30px;
        border: 1px solid #999;
        padding: 14px 20px;

        &::-webkit-input-placeholder {
          color: #333333;
        }

        &::-moz-placeholder {
          color: #333333;
        }

        & > div {
          margin-top: 13px !important;
        }

      }

      & input {
        height: 18px;
        margin: inherit;
        border: none;
        font-weight: 400;
        margin-bottom: 0;
        background-color: transparent;
        padding: 0;
        width: 100%;
        display: block;
        font-weight: 400;

        &::-webkit-input-placeholder {
          color: #333333;
        }

        &::placeholder {
          color: #333333;
        }

      }

    }

    & #card-errors {
      padding: 20px 0;
      margin-bottom: 40px;
      text-transform: uppercase;
      color: red;
      display: none;
    }

  }

}

form[payment-request="true"] {

  & .request-button {
    display: none;

    & .divider {
      text-align: center;
      padding: 40px 0;
      color: var(--green);
      margin-bottom: 0;

      & span {
        position: relative;
        font-size: 30px;
        display: inline-block;
        text-transform: uppercase;
        font-family: var(--acuminCondensed);
        line-height: 1em;

        &:before, &:after {
          content: '';
          position: absolute;
          height: 2px;
          width: 100px;
          top: 50%;
          transform: rotateY(-50%);

          @media (--tablet-min) {
            width: 100px;
          }

          @media (--desktop-min) {
            width: 150px;
          }

        }

        &:before {
          background: linear-gradient(90deg, transparent 0%, var(--green) 100%);
          right: 60px;
        }

        &:after {
          background: linear-gradient(90deg, var(--green) 0%, transparent 100%);
          left: 60px;
        }

      }

    }

    & #payment-request-button {
    }

  }

}
