
#contact-details {

}

#customer-address {
  height: 0;
  overflow: hidden;
  margin-bottom: 0;
}

form[shipping-method="overnight"] #customer-address {
  height: inherit;
  margin-bottom: 80px;
}

#shipping-method {

  & h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: var(--acuminSemiBold);
  }

  & p {
    margin-bottom: 10px;
  }

  & address {

    @media (--large-min) {
      display: flex;
      align-items: center;
    }

    & a {
      display: flex;

      @media (--large-min) {
        margin-left: 20px;;
      }

    }

  }

  & .costs {
    font-family: var(--acuminSemiBoldItalic);
    font-size: 18px;
  }

  & .shpping-type {
    border: 1px solid var(--light-gray);
    padding: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color .5s, color .5s;

    @media (--medium-max) {
      padding-bottom: 40px;
    }

    @media (--large-min) {
      padding: 30px;
      padding-left: 100px;
    }

    @media (--tablet-min) {
      padding-left: 150px;
    }

    &:hover {
      background-color: var(--green);
      color: var(--white);
      transition: background-color 1s, color 1s;

      & a {
        color: var(--white);
        transition: color 1s;
      }

    }

    &:hover:before {
      filter: grayscale(0);
      transition: filter 1s;
    }

    &:before, &:after {
      position: absolute;
    }

    &:before {
      content: "";
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      filter: grayscale(100%);
      width: 60px;
      height: 34px;
      right: 20px;
      top: 10px;
      transition: filter .5s;

      @media (--large-min) {
        right: 30px;
        top: 30px;
      }

    }

    &:after {
      content: "Select";
      left: 0;
      text-align: center;
      text-transform: uppercase;

      @media (--medium-max) {
        width: 100%;
        bottom: 10px;
        height: 20px;
      }

      @media (--large-min) {
        width: 100px;
        top: 50%;
        transform: translateY(-50%);
      }

      @media (--tablet-min) {
        width: 150px;
      }

    }

    &:first-of-type {
      margin-bottom: 20px;
    }

    &[data-handle="overnight"] {

      & p:last-of-type {
        margin-bottom: 0;
      }

    }

    &[data-handle="overnight"]:before {
      background-image: url('/images/checkout/fedex-logo.png');
    }

    &[data-handle="pickup"]:before {
      background-image: url('/images/checkout/ymca-logo.png');
    }

    &[data-active="true"] {
      background-color: var(--green);
      color: var(--white);

      & a {
        color: var(--white);
        transition: color .5s;
      }

      &:before {
        filter: grayscale(0);
        transition: filter 1s;
      }

      &:after {
        content: '';
        background-image: url(/images/icons/checkmark.svg);
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;
        left: 55px;
      }

    }

  }

  & .shipping-cost {
    display: none;
  }

}

#notice {
  background-color: var(--light-yellow);
  padding: 50px 0;
  font-size: 16px;

  & h1 {
    font-family: var(--acuminSemiBoldItalic);
    font-size: 24px;
    margin-bottom: 10px;
  }

  & .lock > p {
    font-size: 24px;
  }

  & .lock div p {

  }

}
