
@import "../master.css";

@import "./customer.css";
@import "./shipping.css";
@import "./summary.css";
@import "./billing.css";
@import "./complete.css";

.cart-breadcrumb {
  margin-bottom: 80px;
}

form#address-info {
  max-width: 700px;
  margin: 0 auto;
}

form#product-list,
form#pickup-options {
  max-width: 1000px;
  margin: 0 auto;
}

.modal {
  box-shadow: 0 0 100000px 10000px rgba(0, 0, 0, .5);
  background-color: var(--white);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate();
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  z-index: 999;

  @media (--large-max) {
    padding: 40px;
    width: calc(100vw - 40px);
  }

  @media (--tablet-min) {
    width: 50vw;
    height: 50vw;
    max-width: 400px;
    max-height: 400px;
  }

  & p {
    order: 1;
    margin-bottom: 0;
    align-self: center;

    @media (--large-max) {
      margin-bottom: 20px;
      font-size: 18px;
    }

    @media (--tablet-min) {
      padding: 40px;
      font-size: 22px;
    }

  }

  & .button-wrapper {
    align-self: flex-end;
    width: 100%;
    order: 2;

    @media (--tablet-min) {
      height: 30%;
      padding: 5%;
      display: flex;
      justify-content: space-between;
    }

    & > button {
      color: var(--white);
      text-transform: uppercase;

      @media (--large-max) {
        padding: 10px 0;
        font-size: 16px;
        width: 100%;
      }

      @media (--tablet-min) {
        height: 100%;
        width: 45%;
      }

    }

    & .cancel {
      background-color: var(--auburn);

      @media (--large-max) {
        margin-bottom: 10px;
      }

    }

    & .confirm {
      background-color: var(--green);
    }

  }

}
