
@import "../master.css";

@import "./customer.css";
@import "./summary.css";
@import "./billing.css";
@import "./process.css";

.cart-breadcrumb {
  margin-bottom: 80px;
}

form#address-info {
  max-width: 700px;
  margin: 0 auto;
}
