
#pickup-summary {

  & .acumin-headline {
    margin-bottom: 5px;
  }

  & h2 {
    margin-bottom: 40px;
    font-family: var(--acuminBold);
  }

  & .options {

    & .info {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid var(--black);

      @media (--large-min) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &:last-of-type {
        padding-bottom: 0px;
        margin-bottom: 0px;
        border-bottom: none;
      }

    }

    & h2 {
      font-family: var(--acuminBold);
      text-transform: uppercase;
      margin-bottom: 15px;
    }

    & address {

      & p {
        margin-bottom: 0;
      }

    }

    & button {
      cursor: pointer;
    }

    & button[data-selected="true"] {
      background-color: var(--white);
      color: var(--green);
      border: 1px solid var(--green);
      cursor: default;
    }

  }

}

#pickup-options #calendar {
  display: none;

  & .calendar-wrapper {
    display: none;
  }

}
