
#shipment-type-selection {

  & h1.acumin-headline {
    margin-bottom: 80px;
  }

  & .options {
    max-width: 900px;

    & > div {
      overflow: hidden;

      &:first-of-type {
        margin-bottom: 80px;
      }

      & > div {
        padding: 20px;
      }

    }

    & p {
      margin-bottom: 10px;
    }

    & h2 {
      font-size: calc(22px + 1vw);
      font-family: var(--acuminThinItalic);
      text-transform: uppercase;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--green);
      color: var(--green);
      width: 100%;
      letter-spacing: 2px;
      text-align: left;
    }

    & button {
      display: block;
      margin-bottom: 20px;
      text-transform: capitalize;
      font-size: calc(18px + .5vw);
      font-family: var(--acuminSemiBold);
    }

    & ul {
      padding-left: 10px;
      margin-bottom: 10px;
    }

    & li {
      list-style: none;

      & span {
        font-family: var(--acuminSemiBold);
      }

    }

    & .call-to-action {
      float: right;
      margin-top: 20px;
    }

  }

}
