
#pickup-list {

  & .lock > p {

    & span {
      font-size: 14px;
      display: block;
    }

  }

  & .show-pickups {
    position: relative;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    padding: 20px;
    padding-left: 30px;

    &:after {
      content: "";
      width: 0;
    	height: 0;
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;
    	border-top: 12px solid var(--green);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: transform .3s ease-in;
    }

    &[showing="true"]:after {
    	border-bottom: 12px solid var(--green);
    	border-top: 0;
    }

  }

  & .pickup-list {
    height: 0;
    overflow: hidden;

    & .wrapper {

      @media (--tablet-min) {
        padding: 0 30px;
      }

      & > p {
        margin-bottom: 0;

        @media (--tablet-min) {
          padding: 20px 0;
        }

      }

    }

  }

  & .shipping-type {
    border-bottom: 1px solid var(--light-gray);
    position: relative;
    transition: background-color .5s;
    margin-bottom: 0;

    @media (--large-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }

    &[data-handle="overnight"] {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;

      & h2 {
        margin-bottom: 0;
      }

      & button {
        margin-top: 0;
      }

    }

    & .shop-details {

      @media (--tablet-min) {
        width: 250px;
      }

    }

    & h2 {
      margin-bottom: 20px;
      font-family: var(--acuminLightItalic);
      font-size: calc(22px + 1px);
    }

    & button {
      font-size: 22px;
      text-transform: uppercase;

      @media (--medium-max) {
        margin-top: 20px;
      }

    }

    & .map {

      @media(--large-max) {
        display: none;
      }

    }

    & .map > div {
      height: 300px;
      width: 300px;
    }

  }

  & address {

    @media (--large-min) {
      display: flex;
      align-items: center;
    }

    & a {
      display: flex;

      @media (--large-min) {
        margin-left: 20px;;
      }

    }

  }

}

#shipping-summary {

  & .lock {

    @media (--large-min) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & p:last-of-type {
      margin-left: auto;
    }

    & p span {
      display: block;
      font-family: var(--acuminSemiBold);
      text-transform: uppercase;
      font-size: 22px;

      @media (--medium-max) {
        margin-top: 5px;
      }

      @media (--large-min) {
        text-align: center;
      }

    }

  }

}

#calendar {

  & .calendars {

    @media (--large-min) {
      display: flex;
      justify-content: center;
    }

  }

  & .month-calendar:nth-of-type(2n) {

    @media (--medium-max) {
      margin-top: 20px;
    }

    @media (--large-min) {
      margin-left: 40px;
    }

  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  & td, & th {
    vertical-align: middle;
    text-align: center;
    padding: 6px;
  }

  & tr td {
    border-bottom: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);

    &:nth-of-type(6n + 1) {
      border-right: 1px solid var(--light-gray);
    }

  }

  & .list-month {

  }

  & .list-days {

    & th {
      border-bottom: 1px solid var(--black);
      border-top: 1px solid var(--black);
    }

  }

  & .delivery {
    background-color: var(--light-green);
  }

  & .today {
    background-color: var(--green);
    color: var(--white);
  }

}
