
#pickup-list {

  & .lock > p {

    & span {
      font-size: 14px;
      display: block;
    }

  }

  & h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-family: var(--acuminBold);
    line-height: 1em;
  }

  & .pickup-list {

    @media (--large-min) {
      display: flex;
      align-items: center;
    }

    & h2 {

      @media (--medium-max) {
        width: 100%;
        padding: 20px 0;
      }

      @media (--large-min) {
        width: 200px;
        text-align: right;
      }

      & span {

        @media (--large-min) {
          display: block;
        }

      }

    }

    & .wrapper {

      @media (--large-min) {
        width: calc(100% - 200px);
        padding-left: 40px;
      }

      & .shipping-type {

        @media (--medium-max) {
          display: block;
        }

      }

      & button {

        @media (--large-max) {
          text-align: left;
        }

      }

    }

  }

  & .shipping-type {
    border-bottom: 1px solid var(--light-gray);
    position: relative;
    transition: background-color .5s;
    margin-bottom: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &[data-handle="overnight"] {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      & h2 {
        margin-bottom: 0;
      }

      & button {
        margin-top: 0;

        &:after {
          display: none;
        }

      }

    }

    & .shop-details {

      @media (--tablet-min) {
        width: 250px;
      }

    }

    & h3 {
      margin-bottom: 10px;
      font-size: 18px;
    }

    & button {
      font-size: 22px;
      text-transform: uppercase;

      @media (--medium-max) {
        margin-top: 20px;
      }

      &:after {
        content: "Pickup Location";
        font-size: 12px;
        display: block;
        text-transform: capitalize;

        @media (--large-min) {
          display: none;
        }

      }

    }

  }

  & address {

    @media (--large-min) {
      display: flex;
      align-items: center;
    }

    & a {
      display: flex;

      @media (--large-min) {
        margin-left: 20px;;
      }

    }

  }

}

#calendar {

  & .calendars {

    @media (--medium-max) {
      margin-bottom: 20px;
    }

    @media (--large-min) {
      display: flex;
    }

  }

  & .calendar-wrapper {

    @media (--large-min) {
      display: flex;
      align-items: center;
    }

  }

  & .month-calendar:nth-of-type(2n) {

    @media (--medium-max) {
      margin-top: 20px;
    }

    @media (--large-min) {
      margin-left: 40px;
    }

  }

  & table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  & td, & th {
    vertical-align: middle;
    text-align: center;
    padding: 6px;
  }

  & tr td {
    border-bottom: 1px solid var(--light-gray);
    border-left: 1px solid var(--light-gray);

    &:nth-of-type(6n + 1) {
      border-right: 1px solid var(--light-gray);
    }

  }

  & .list-days {

    & th {
      border-bottom: 1px solid var(--black);
      border-top: 1px solid var(--black);
    }

  }

  & .delivery {
    background-color: var(--light-green);
    cursor: pointer;
  }

  & .expected-delivery-date {
    background-color: var(--light-yellow);
    cursor: default;
  }

  & .today {
    background-color: var(--green);
    color: var(--white);
  }

  & .color-code {
    font-size: 13px;
    display: flex;

    @media (--large-min) {
      margin-left: 30px;
    }

    & div > div {
      display: flex;
      align-items: center;
    }

    & > div div span {
      display: inline-block;
      background-color: var(--light-green);
      height: 15px;
      width: 15px;
      border: 1px solid var(--black);
      margin-right: 10px;
    }

    & .delivery-date-options span {
      background-color: var(--light-green);
    }

    & .current-delivery-date span {
      background-color: var(--light-yellow);
    }

    & .today-date span {
      background-color: var(--green);
    }


  }

}

#shipping-summary {

  & .lock {

    & p:last-of-type {
      margin-bottom: 0;
    }

    & p span {
      font-family: var(--acuminSemiBold);
      text-transform: capitalize;
      font-size: 20px;

      @media (--medium-max) {
        margin-top: 5px;
        display: block;
      }

      @media (--large-min) {
        text-align: center;
      }

    }

  }

}
