
#order-summary {

  & .no-items {
    padding: 100px 0;
    margin-bottom: 0;

    & p {
      margin-bottom: 40px;
    }

  }

  & .item-list {

    & .items {
      margin-bottom: 40px;
    }

    & .order-item {
      position: relative;

      @media (--tablet-min) {
        display: flex;
        margin-bottom: 40px;
      }

      &:last-of-type {

        @media (--tablet-min) {
          margin-bottom: 0;
        }

      }

      & .image {
        background-position: center;
        background-size: contain;
        width: 140px;
        align-self: normal;
      }

      & .wrapper {
        padding-bottom: 40px;

        @media (--large-max) {
          margin-bottom: 40px;
          border-bottom: 1px solid var(--light-gray);
        }

        @media (--tablet-min) {
          display: flex;
          align-items: center;
          border-bottom: 1px solid var(--light-gray);
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 40px;
          width: calc(100% - 140px);
        }

      }

      & h2 {
        font-size: calc(14px + 1vw);
        text-transform: uppercase;
        line-height: 1em;

        @media (--large-max) {
          margin-bottom: 40px;
          width: calc(100% - 60px);
        }

        @media (--tablet-min) {
          width: 300px;
        }

        & span {
          font-size: 14px;
          display: block;
          text-transform: capitalize;
          line-height: 1em;
          padding-left: 2px;
          padding-top: 2px;
        }

      }

      & .item-actions {
        margin-left: auto;
        display: flex;
        align-items: center;

        @media (--large-max) {
          justify-content: space-between;
        }

      }

      & .increment {
        margin-right: 40px;
        border: 1px solid var(--light-gray);
        height: 40px;
        display: flex;
        align-items: center;

        @media (--large-max) {
          order: 2;
        }

        & span, & button {
          height: 100%;
          width: 40px;
          display: inline-block;
        }

        & button {
          position: relative;

          &:disabled {
            opacity: .2;
          }

        }

        & span {
          line-height: 40px;
          text-align: center;
          font-size: 14px;
        }

        & .minus {
          border-right: 1px solid var(--light-gray);

          &:after {
            content: "\f2f4";
          }

        }

        & .plus {
          border-left: 1px solid var(--light-gray);

          &:after {
            content: "\f2c7";
          }

        }

      }

      & .cost {
        margin-bottom: 0;

        @media (--large-max) {
          order: 3;
        }

        @media (--tablet-min) {
          margin-right: 40px;
        }

      }

      & .remove {

        @media (--large-max) {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: -5px;
        }

        &:after {
          content: "\f2d7";
          font-size: 35px;
          color: var(--light-gray);
        }

      }

    }

  }

}

#cart-total {

  & .lock {

    @media (--tablet-min) {
      display: flex;
    }

    & > div {

      @media (--tablet-min) {
        width: 48%;
      }

    }

  }

  & .promo {

    & input[type="text"] {

      @media (--large-min) {
        width: calc(100% - 180px);
        display: block;
        float: left;
      }

    }

    & button {
      height: 44px;
    }

    & p {
      clear: both;
    }

    & .promo-error {
      color: var(--red);
      display: none;
    }

  }

  & .totals {

    & .title {
      text-transform: uppercase;
    }

    & .cost {
     width: 80px;
     font-weight: 700;
    }

    & span {
     display: inline-block;
    }

    & p {
      margin-bottom: 0;
      text-align: right;
    }

    & .discount {
      display: none;
    }

  }

}
