
.callout {
  background-color: var(--off-green);
  background-color: rgba(187, 255, 110, .7);
  background-color: rgba(255, 243, 72, .3);
  background-color: #f0ecf0;
  padding: 80px 0;

  & .lock {

    @media (--tablet-min) {
      display: flex;
    }

  }

  & .image {

    @media (--tablet-min) {
      max-width: 40%;
      height: inherit;
    }

  }

  & .text {

    @media (--tablet-min) {
      padding-left: 40px;
    }

  }

}
