
.cart-additions {
  display: flex;
  justify-content: space-between;

  & > div {
    width: 49%;
    position: relative;
  }

  & button {
    height: 40px;
    background-color: var(--green);
    color: var(--white);
    /*padding-left: 20px;*/
    border-radius: 0;
    text-align: center;
    width: 100%;
  }

  & input[type="text"] {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--white);
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    text-align: center;
    line-height: 20px;
    border: none;
    display: none;
  }

}
