
.faq-wrapper {

  & .faq-entry {
    border-top: 1px solid var(--darker-green);
    border-left: 1px solid var(--darker-green);
    border-right: 1px solid var(--darker-green);

    &:last-of-type {
      border-bottom: 1px solid var(--darker-green);
    }

    & h2 {
      padding: 10px 20px;
    }

    & > div {
      height: 0;
      overflow: hidden;
    }

  }

}
