
.flex-wrapper {

  @media (--tablet-min) {
    display: flex;
  }

  & .flex-headline {
    text-transform: uppercase;

    @media (--large-max) {
      margin-bottom: 40px;
    }

    @media (--tablet-min) {
      width: 300px;
    }

    & span {
      display: block;
    }

    & .didot-headline span {

      @media (--large-max) {
        display: inline;
      }

    }

  }

  & .flex-section {

    @media (--tablet-min) {
      width: calc(100% - 300px);
      padding-left: 40px;
    }

  }

}
