
.nimbus-stage {
  font-family: var(--acuminCondensed);
  font-size: 40px;
  font-size: calc(30px + 4.25vw);
  font-weight: 300;
  text-transform: uppercase;
  line-height: .9em;

  & span {
    display: block;
    line-height: 1em;
    font-size: calc(12px + 1vw);
    margin-top: 0;
  }

}

.nimbus-large {
  font-family: var(--acumin);
  font-size: 30px;
  font-size: calc(26px + 1.25vw);
  margin-bottom: 20px;
  line-height: 1em;
}

.nimbus-large-bold {
  font-family: var(--acumin);
  font-size: 30px;
  font-size: calc(26px + 1.25vw);
  margin-bottom: 20px;
  line-height: 1em;
  font-weight: 700;

  & span {
    font-family: var(--acumin);
    font-weight: 300;
    font-size: 16px;
    display: block;
    line-height: 1em;
    margin-left: 5px;
  }

}

.nimbus-medium {
  font-family: var(--acumin);
  font-size: 22px;
  font-size: calc(18px + .8vw);
  margin-bottom: 20px;
}

.nimbus-medium-bold {
  font-family: var(--acumin);
  font-weight: 700;
  font-size: 22px;
  font-size: calc(18px + .8vw);
  margin-bottom: 20px;

  & span {
    font-weight: 400;
    font-size: calc(14px + .4vw);
    line-height: 1em;
    display: block;
  }

}

.nimbus-small {
  font-family: var(--acumin);
  font-size: 18px;
  font-size: calc(12px + .8vw);
  margin-bottom: 10px;
}

.nimbus-small-bold {
  font-family: var(--acumin);
  font-weight: 700;
  font-size: 18px;
  font-size: calc(12px + .8vw);
  margin-bottom: 10px;
}

.nimbus-tiny {
  font-family: var(--acumin);
  font-size: calc(12px + .4vw);
  margin-bottom: 5px;
}

.nimbus-tiny-bold {
  font-family: var(--acumin);
  font-size: calc(12px + .4vw);
  margin-bottom: 5px;
  font-weight: 700;
}
