
.nimbus-stage {
  font-family: var(--nimbus);
  font-size: 40px;
  font-size: calc(30px + 1.25vw);
  margin-bottom: 20px;
  line-height: 1em;
}

.nimbus-large {
  font-family: var(--nimbus);
  font-size: 30px;
  font-size: calc(26px + 1.25vw);
  margin-bottom: 20px;
  line-height: 1em;
}

.nimbus-medium {
  font-family: var(--nimbus);
  font-size: 22px;
  font-size: calc(18px + .8vw);
  margin-bottom: 20px;
}

.nimbus-medium-bold {
  font-family: var(--nimbus);
  font-weight: 700;
  font-size: 22px;
  font-size: calc(18px + .8vw);
  margin-bottom: 20px;
}

.nimbus-small {
  font-family: var(--nimbus);
  font-size: 18px;
  font-size: calc(12px + .8vw);
  margin-bottom: 10px;
}

.nimbus-small-bold {
  font-family: var(--nimbus);
  font-size: 18px;
  font-size: calc(12px + .8vw);
  margin-bottom: 10px;
}

.nimbus-tiny {
  font-family: var(--nimbus);
  font-size: 14px;
  margin-bottom: 5px;
}




.bookman-large {
  font-family: var(--bookman);
  font-size: calc(22px + 1.25vw);
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: 1em;
}

.bookman-headline {
  font-family: var(--bookman);
  font-size: calc(18px + 1.25vw);
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1em;
}

.bookman-small {
  font-family: var(--bookman);
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1em;
}
