
.flama-large {
  font-family: var(--flama);
  font-size: 26px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;

  & span {
    font-size: 18px;
    letter-spacing: normal;
  }

}

.flama-medium {
  font-family: var(--flama);
  font-size: 22px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 400;

  & span {
    font-size: 16px;
  }

}

.flama-small {
  font-family: var(--flama);
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
}

.apercu {
  font-family: var(--apercu);
  font-size: 40px;
}

.didot-headline {
  font-family: var(--didot);
  font-size: 18px;
  line-height: 1em;
}
