
.notice {

  & .lock > .text {
    background-color: rgba(255, 252, 143, .4);
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 60px;
    position: relative;
    overflow: hidden;

    & h1 {
      position: relative;
      padding-left: 45px;
      margin-bottom: 0;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        background-image: url(/images/icons/warning.svg);
        height: 20px;
        width: 30px;
        top: 0;
        left: 0;
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
      }

      &:after {
        content: "";
        background-image: url(/images/icons/chevron.svg);
        height: 20px;
        width: 20px;
        background-size: contain;
        position: absolute;
        transform: rotate(90deg);
        right: 0px;
        font-size: 18px;
      }

      &.expanded:after {
        transform: rotate(-90deg);
      }

    }

    & .expand-content {
      height: 0;
      overflow: hidden;
      transition: height 1s;

      & > div {
        padding-top: 20px;
      }

    }

  }

  & a {
    float: right;
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
  }

}
