
.notice {

  & .lock > .text {
    background-color: rgba(255, 252, 143, .4);
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    overflow: hidden;

    @media (--tablet-min) {
      padding: 30px 60px;
    }

    & .toggle {
      cursor: pointer;

      & h1 {
        position: relative;
        padding-left: 45px;
        padding-right: 30px;
        margin-bottom: 20px;

        @media (--large-min) {
          display: flex;
        }

        & span {
          font-weight: bold;
        }

        &:before {
          content: "";
          position: absolute;
          background-image: url(/images/icons/warning.svg);
          height: 20px;
          width: 30px;
          top: 0;
          left: 0;
          background-size: contain;
          background-position: bottom center;
          background-repeat: no-repeat;
        }

      }

      & p {
        position: relative;
        padding-right: 50px;

        & span {
          display: block;
          margin-top: 5px;
        }

      }

      & p:before {
        content: "Learn More";
        position: absolute;
        right: -20px;
        top: -18px;
        font-size: 12px;
      }

      & p:after {
        content: "";
        background-image: url(/images/icons/chevron.svg);
        height: 20px;
        width: 20px;
        background-size: contain;
        position: absolute;
        transform: rotate(90deg);
        right: 0px;
        top: 0;
        font-size: 18px;
      }

    }

    & .expanded p:after {
      transform: rotate(-90deg);
    }

    & .expand-content {
      height: 0;
      overflow: hidden;

      & > div {
        padding-top: 30px;
      }

    }

  }

  & a {
    float: right;
    text-transform: uppercase;
    padding: 10px 20px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
  }

}
