
.with-underline {
  font-family: var(--bookman);
  font-size: calc(22px + 1.5vw);
  margin-bottom: 20px;
  color: var(--green);
  text-transform: uppercase;

  & span {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      height: 1px;
      background-color: var(--green);
      left: 0;
      right: -10%;
    }

  }

}
